[2018-02-09 17:11] elsonrodriguez opened #2 "Create E2E example of distributed model training and serving."
Currently most of the examples do not show how to complete the training of a model within kubeflow, and also take that trained model and serve it with kubeflow.

We need an example that covers this from start to finish.

[2018-02-09 19:13] elsonrodriguez commented on #2
Working on this, can someone assign?

[2018-02-10 01:14] jlewi commented on #2
This is fantastic. What dataset problem are you trying to solve?

[2018-02-10 01:15] jlewi opened #3 "DeepVariant Example"
[DeepVariant](https://github.com/google/deepvariant) might make an interesting.

This could be a nice example to illustrate various aspects such as

  - Preprocessing
  - Pipelines.
  - Large scale training

[2018-02-12 14:35] jlewi commented on #2
@elsonrodriguez Ping?

[2018-02-12 19:16] elsonrodriguez commented on #2
We're trying to narrow down what model/data combo can be fully trained within a reasonable timeframe.

Any suggestions?

[2018-02-14 14:57] cwbeitel commented on #3
Yeah definitely I could see this as a good example for demonstrating a preprocessing workflow feeding into training as well as a good end-to-end demonstration.

[2018-02-16 18:35] cwbeitel opened #5 "[Agents RL] Demonstrate Kubeflow with an E2E RL example"
The purpose of this example is to showcase the benefits of the Kubeflow infrastructure in training a reinforcement learning agent.

Core tasks:

- [ ] Case study described that communicates the business value of the example; who will care about this example and why?
- [x] Illustrate the config, submit, monitor, render workflow for single-node training
- [ ] Prow test verifies model trains in noteb

[2018-02-21 16:56] texasmichelle opened #7 "Setup a shared environment"
Setup a k8s cluster & cloud project for use in creating examples.

Component of [Kubeflow #157](https://github.com/kubeflow/kubeflow/issues/157).

[2018-02-21 16:57] texasmichelle commented on #7
@jlewi Did you say you had an idea about how to get this done?

[2018-02-21 16:59] texasmichelle opened #8 "[GH Issue Summarization] Create docker image for use with Jupyter"
Component of #14.

[2018-02-21 17:02] texasmichelle opened #9 "[GH Issue Summarization] Organize notebook into components"
Refactor the example notebook into libraries to be invoked with K8sJob & TFJobs:
- Preprocessing
- Training

Component of #14.

[2018-02-21 17:05] texasmichelle opened #10 "[GH Issue Summarization] Create build image"
Build a docker image using Argo to be used by K8sJob, TFJob, TFServing, etc.

Component of #14.

[2018-02-21 17:06] texasmichelle opened #11 "[GH Issue Summarization] Create a model server"
Create a model server using TFServing.

Component of #14.

[2018-02-21 17:06] texasmichelle opened #12 "[GH Issue Summarization] Create a front-end web app"
Component of #14.

[2018-02-21 17:07] texasmichelle opened #13 "[GH Issue Summarization] Create a ksonnet app"
Create a ksonnet app for deploying the model & web app.

Component of #14.

[2018-02-21 17:10] texasmichelle commented on #2
@elsonrodriguez I'm beginning work on [Kubeflow #157](https://github.com/kubeflow/kubeflow/issues/157). Want to help? I broke it down into pieces as issues in this repo, so feel free to pick one of them up.

[2018-02-21 23:29] jlewi commented on #7
@ankushagarwal Created the project kubeflow-dev and a corresponding kubeflow deployment
dev.kubeflow.org.

Access is controlled by the google group
devrel-team@kubeflow.org

You should have access as do other devrel folks at Google.

I think we can mark this as fixed.

[2018-02-22 01:05] texasmichelle commented on #7
Great! I can access the cluster & project. Thanks @ankushagarwal!

[2018-02-22 01:05] #7 closed

[2018-02-22 01:48] elsonrodriguez commented on #2
@texasmichelle Yeah Sure! We ended up going with mnist and are just about done with an initial pass on this. I'll ping you when I open the PR and if you see anything that can be re-used let me know and I'll try to make it more generic to fit the GH summarization use case.

[2018-02-22 02:34] texasmichelle commented on #10
@vicaire do you have something already put together that we could use as a starting point for this?

[2018-02-22 02:40] texasmichelle opened #14 "[GH Issue Summarization] E2E Solution on Kubeflow"
_Replicated from [Kubeflow #157](https://github.com/kubeflow/kubeflow/issues/157)._

@hamelsmu published a great [blog post](https://hackernoon.com/how-to-create-data-products-that-are-magical-using-sequence-to-sequence-models-703f86a231f8) about using sequence to sequence models to summarize GitHub issues.

It would be great to turn this into an E2E solution using Kubeflow that highlights the ben

[2018-02-22 03:02] vicaire commented on #10
Happy to help.

I have turned the steps from the notebook into a set of python commands.

I have a Dockerfile that gathers all the dependencies.

And I have a basic Argo workflow to run the steps one after the other.

How would like this to be checked-in?

[2018-02-22 17:08] ankushagarwal commented on #14
I'm working on this. Should have most of these done by end of this week.

[2018-02-22 18:05] texasmichelle commented on #14
Great! Are there specific pieces that you'd like me to pick up?

[2018-02-22 18:11] texasmichelle commented on #10
@vicaire That's great! Fork the project in your own repo, create a branch, & submit a PR for merge back here to master. Unless @ankushagarwal has a different preference, since he is also working on this.

@ewilderj @jlewi Is there a contributor guide published somewhere with these guidelines?

[2018-02-22 18:12] texasmichelle commented on #10
It probably makes sense to model the folder structure after [k8s/examples](https://github.com/kubernetes/examples).

[2018-02-22 18:24] ankushagarwal commented on #10
Hi @vicaire I have been working on this as well. Can you check-in your code and I would be happy to review / improve it based on my experience of this example. #1 is a good example of structure.

[2018-02-22 18:25] jlewi commented on #10
Lets have a top level directory for each example and then all code for that example should be in that directory.

If there's python code for the example I suggest putting that in

[code]

The expectation should be this directory is added to the python path so that every subdirectory of py is a top level python package.

For Docker images. There's probably two sets of Docker images.

1. A docker im

[2018-02-22 18:29] texasmichelle commented on #10
👍 to having a single notebook image

[2018-02-22 19:07] ewilderj commented on #10
@texasmichelle kubeflow/CONTRIBUTING.md this the best we have right now. I think a good outcome from this thread would be a CONTRIBUTING file in examples/

[2018-02-22 20:12] cwbeitel commented on #10
I like the idea of having a training image that is the demo/workspace image plus the trainer code. A point of friction in that approach is the increased size of the training image that will need to be built repeatedly

[code]

So in order to develop with reasonable velocity it would be good to have a way to cache from prior builds. But I think that is very solvable and otherwise I agree that this

[2018-02-23 18:09] cwbeitel commented on #5
@jlewi Sorry I've been noobing this PR!! 😄 Thinking more I think the steps under testing should be completed before reviewing https://github.com/kubeflow/examples/pull/1

[2018-02-24 02:05] hamelsmu commented on #14
Please let me know if you have any questions on the modeling or data transformation pieces, I'm happy to help.

[2018-02-24 02:28] puneith opened #16 "Create XGBoost Zillow housing prediction example from Kaggle kernel"
Create XGBoost Zillow housing prediction example from [Kaggle Zestimate kernel](https://www.kaggle.com/c/zillow-prize-1/kernels).

[2018-03-02 18:03] puneith opened #26 "Kubeflow examples needs to have an appropriate directory structure"
We need to have an example directory structure. E.g., Do we organize top level folder as frameworks i.e., tensorflow, xgboost, scikit etc? Or do we use problem type or something else? This needs to be figured out sooner so that we can add examples in appropriate folders as the current flat structure will soon be hard to navigate.

[2018-03-05 16:00] cwbeitel commented on #5
https://github.com/kubeflow/examples/pull/30

[2018-03-06 14:15] jlewi commented on #11
/assign @ankushagarwal

Ankush can you describe the problems you were running into turning the model into a model that can be served with TF serving?

Would it be easier to serve the model using Seldon?

[2018-03-06 17:54] ankushagarwal commented on #11
The model used for issue summarization is very different from the examples that we've been using. For our image models, the model prediction looks something like this: `output = model(input)`

But for the issue summarization model, it looks something like this
[code]

The first issue that I had was - exporting Keras models as Tensorflow models which can be used by TFServing - this is mostly done.

[2018-03-07 02:57] ankushagarwal commented on #11
I am having issues with the model exported from keras imported into tfserving.

I get this error when I send a Prediction request to the TFServing server

[code]

Could not find a workaround for this. Will give seldon or tornado a shot to serve this Keras model.

We can probably illustrate serving a model with TFServing in another example which trains a tensorflow model directly.

[2018-03-07 15:22] jlewi commented on #26
I think top level directories should be different examples/problems. I don't think we should organize by framework.

[2018-03-07 15:24] jlewi commented on #8
@ankushagarwal  Is there any more work to be done here? I think you already added the dependencies needed to our existing Jupyter images?

[2018-03-07 15:41] jlewi commented on #10
@vicaire any chance you can submit a PR with what you have?

[2018-03-07 16:47] ankushagarwal commented on #8
Yeah our jupyter image should be sufficient. Issue can be closed.

[2018-03-07 17:46] aronchick commented on #26
Agreed on not by framework. Customers care about solving problems :)

On Wed, Mar 7, 2018 at 7:25 AM Jeremy Lewi <notifications@github.com> wrote:

[2018-03-07 19:43] ankushagarwal opened #32 "Move tf-controller-examples from kubeflow/kubeflow to kubeflow/examples"

[2018-03-07 20:11] vicaire commented on #10
Yes, sorry for the delay. Let me work on this between today and tomorrow.

[2018-03-08 03:40] gaocegege opened #34 "[Request] Move examples in tf-operator to this repo"
I think we could move the examples in tf-operator to this repo to maintain all examples in one repo.

[2018-03-08 05:27] vicaire commented on #10
Here is a PR with a basic container image and Argo workflow:

https://github.com/kubeflow/examples/pull/35

Let me know your comments.

[2018-03-08 14:21] jlewi commented on #11
@cliveseldon @gsunner Do you think we should try to use Seldon here?

Could we use the existing Seldon model server rather than creating our own Tornado stub?

Should we deploy the model using Seldon Core rather than deploying it directly with K8s resources?

[2018-03-08 14:42] cliveseldon commented on #11
@jlewi  For a sklearn model, seldon-core would seem to be a good choice.

@ankushagarwal  You specify a seq-to-seq model, but does the external business app send the whole sequence of characters in a single request to get a sequence back? if so then that should fit fine into the seldon-core prediction payload using NDArray. Your prediction component would need to split the request and then do as y

[2018-03-08 22:54] ankushagarwal commented on #11
Hi @cliveseldon I have followed the instructions at https://github.com/SeldonIO/seldon-core/blob/master/docs/wrappers/python.md and wrapped my model into a docker image. I am able to run the image locally and it is serving a REST API server at port 5000.

My question is what is the API to send a prediction request to the server. I could not find docs on that.

[2018-03-09 07:26] cliveseldon commented on #11
Hi @ankushagarwal
  - See [here](https://github.com/SeldonIO/seldon-core/blob/master/docs/reference/external-prediction.md) for definition. You can send a Tensor or NDArray or custom string or binary. NDArray would seem to make sense for your case.
 - For example see some of the notebooks, for example in the [kubeflow-seldon example](https://github.com/kubeflow/example-seldon/blob/master/notebooks

[2018-03-09 17:31] jlewi opened #37 "[GH Issue Summarization] Hyperparameter tuning(grid search)?"
@hamelsmu @ankushagarwal

For the GitHub issue summarization model would it make sense to do a simple grid search for hyperparameter tuning?

I think this would be pretty straightforward to implement

- Create a simple Python program(controller) to do a grid search
   - Launch N TFJobs at a time and wait to complete.
- Controller can store information in a file on a PD for resilience
   - SQLLite

[2018-03-09 18:28] ankushagarwal opened #38 "Keras model exported as TensorFlow model doesn't work with TensorFlow serving"
I am using the keras model as defined in this tutorial: https://github.com/hamelsmu/Seq2Seq_Tutorial/blob/master/notebooks/Tutorial.ipynb

I exported the encoder model using `extract_encoder_model` and exported it as a Tensorflow model. When used with TensorFlow serving, I get the following error

[code]

[2018-03-09 22:32] jlewi commented on #38
/cc @lakshmanok @nfiedel @rhaertel80

[2018-03-09 22:37] jlewi opened #39 "[GH Issue Summarization] Deploy GH web app on kubeflow.org and make it widely accessible"
I think it would be interesting to deploy the web app and model on a K8s cluster and make it publicly available.

This would be a good test bed for a variety of things; e.g. periodic training and rollouts; monitoring etc...

[2018-03-09 22:40] jlewi opened #40 "[GH Issue Summarization] Train and push periodically"
I think the GitHub data is updated regularly. So we could try setting up a cron job or other solution to periodically retrain and push the model.

This depends on deploying it first (#39 ).

[2018-03-09 23:16] cwbeitel opened #41 "[Agents RL] Remove unnecessary tools/ directory"

[2018-03-09 23:44] hamelsmu commented on #37
I don' think you have to go crazy with hyper-parameter tuning in this example.  The main hyperparameters worth tuning are:

- Learning Rate
- Dimensionality of the encoder, decoder and embedding which i set to the same value for simplicity -- in my tutorial code this variable is called `latent_dim` .

If you really want to show off hyper-parm tuning, maybe only tune `latent_dim`.

As far as model

[2018-03-10 20:30] jlewi commented on #37
Thats great thank you so much.

[2018-03-10 20:31] jlewi commented on #38
Could this be an issue with different versions of TF used for training and serving?

[2018-03-11 01:15] aronchick commented on #37
This is really cool Hamel! Any chance you'd like to work on this and/or
have the time? :)

On Sat, Mar 10, 2018 at 12:30 PM Jeremy Lewi <notifications@github.com>
wrote:

[2018-03-11 01:31] hamelsmu commented on #37
@aronchick Absolutely, would be more than happy to add this.  Let me know how you prefer I add this into the example pipeline ya'll are building and I'll submit a PR

[2018-03-12 00:21] jlewi opened #43 "[GH Issue Summarization] Train model distributed using TFJob"
We should be able to train the model using TFJob so that we can take advantage of K8s to train the model distributed.

Right now the instructions only describe how to train inside the Jupyter notebook
https://github.com/kubeflow/examples/blob/master/github_issue_summarization/training_the_model.md

The Argo workflow does train the model as a batch job but its not running distributed
https://github

[2018-03-12 16:13] #8 closed

[2018-03-12 16:18] #10 closed

[2018-03-12 16:32] texasmichelle commented on #13
Are we documenting how a user creates this or actually committing the generated files? @jlewi @ankushagarwal @vicaire

[2018-03-12 16:56] ankushagarwal commented on #13
I think that we should just document how users create the ksonnet app by pointing them to the user guide. Since we plan to have multiple examples in this repo, we would essentially be duplicating all of those ksonnet files. Another challenge would be keeping them in sync with changes to kubeflow.

[2018-03-12 17:18] texasmichelle commented on #13
That makes sense.

[2018-03-12 17:18] #13 closed

[2018-03-12 17:52] ankushagarwal commented on #38
It's unlikely. I ensured that both training and serving were done using tensorflow version 1.5.x

I did have a different error when I trained using TF 1.4 and served using TF 1.5.

[2018-03-12 20:57] bkungfoo commented on #38
The TF serving images in Kubeflow are all 1.4 currently. I haven't tried creating a saved model with Keras in TF 1.5, but from my experience, creating an Estimator with TF 1.5 caused failures in TF serving 1.4. Not sure if Keras suffers from a similar issue with compatibility, although your case is the reverse. Did you try 1.4 for both training and serving?

I was able to run this one successfully

[2018-03-15 17:47] bkungfoo commented on #38
The notebook link above is broken after a github update. I have an updated notebook here which includes not only creating servable models, but also some guidance on unit testing the input-output API: https://github.com/google-aai/tf-serving-k8s-tutorial/blob/master/keras_training_to_serving_solution.ipynb

[2018-03-15 18:02] bkungfoo opened #48 "Create tf-serving examples for models trained using higher level APIs"
Example: Estimator and Keras API training to serving + Unit testing
Priority: P1 - It's not a must have, but could be a great contribution to the TF community, where many data scientists train using one of these two APIs.

The k8s-model-server component in Kubeflow currently contains an inception client example that interacts with a custom model graph: https://github.com/tensorflow/serving/blob/ma

[2018-03-15 18:05] bkungfoo commented on #38
Created an issue: #48

[2018-03-18 02:02] hamelsmu commented on #37
Hello folks, I spent some time thinking about this - I don't know if you want to do hyper-parameter tuning on this example, because it would take a really long time and might detract from the experience of learning Kubeflow.  I would suggest considering skipping the hyper param tuning, but adding in model evaluation on a holdout set.

I added the model evaluation on the holdout set in the Jupyter

[2018-03-19 01:39] jlewi commented on #37
Why do you think it would distract from learning Kubeflow?

Why can't we structure the example/tutorial as a sequence of increasingly complex modules? So the fist most basic module wouldn't include hyperparameter tuning but another module might.

[2018-03-19 04:29] hamelsmu commented on #37
We can totally do hyper parameter tuning if you think it’s feasible.  I was just thinking that hyperparam tuning can take a really long time, that’s all.

On a Tesla P100 Card, sufficient training takes about 10 minutes.  Assuming a grid of 5x5 parameters (learning rate, Latent_dim) this would take > 1 hour.  Do you think that would be a deterrent for some people?  I wonder what kind of hardware p

[2018-03-20 12:57] jlewi commented on #37
@hamelsmu An hour isn't a long time at all; especially for a grid search since we can parallelize it.

I think its  very useful to have examples that run at scale. It will be a deterrent for some people but having examples that we can run and validate at scale is very useful.

[2018-03-20 13:06] jlewi opened #54 "Sketch out recommendation example"
I think it would be very valuable to have a recommendation example. The purpose of this issue is to identify a scenario and dataset around which we could build a solution.

Some possible datasets

GitHub Data

  -  We could recommend repositories based on stars
  -  Issues/PRs (comments could be used to indicate a user was interested in an issue)
  - Recommend reviewers for PRs

Hacker News or Red

[2018-03-20 13:06] jlewi commented on #54
/cc @hamelsmu @aronchick

[2018-03-20 15:38] jlewi commented on #48
@yupbank Presented some demos of exporting a scikits learn model for serving with TF Serving.
https://github.com/yupbank/demo_kubeflow

https://github.com/yupbank/tree_to_tensorflow

https://github.com/yupbank/tree_to_tensorflow/tree/add-spark

[2018-03-20 15:38] yupbank commented on #48
^ yeah, that use tensorflow estimator.

[2018-03-20 18:49] jlewi commented on #16
Adding this to our 0.2 release because we will want an XGBoost example.

[2018-03-21 19:04] bkungfoo commented on #48
Thanks @jlewi and @yupbank . In general, do you think TF training-to-serving code belongs in Kubeflow examples?

As an example, I refactored the Estimator and Keras ResNet examples from my notebooks,
 e.g. https://github.com/google-aai/tf-serving-k8s-tutorial/blob/master/estimator_training_to_serving_solution.ipynb into a forked branch below. The example is more involved with the Estimator API sin

[2018-03-21 19:09] ankushagarwal commented on #11
Closing since we have a seldon model server.

[2018-03-21 19:09] #11 closed

[2018-03-21 19:19] yupbank commented on #48
That's really a good question, I think we should advocate this kind of example, this piece of knowledge is critical for proper usage of tensorflow/serving and kubeflow. The tensorflow community should do a better job at this, mean while we can add some example under kubeflow.

Even the tensorflow/serving people get confused over the correct usage https://github.com/tensorflow/serving/issues/794

[2018-03-21 22:22] #12 closed

[2018-03-22 16:16] jlewi opened #56 "[GH Label Prediction] Extend GH Issue Summarization to Predict Labels"
Should we extend our example on GH issue summarization to predict issue labels?

One of the points of the original [blog post](https://towardsdatascience.com/how-to-create-data-products-that-are-magical-using-sequence-to-sequence-models-703f86a231f8) was to train useful word embeddings on the entire corpus. So we could potentially use this to learn features that would then allow us to train models

[2018-03-23 19:11] texasmichelle commented on #9
Covered by #43

[2018-03-23 19:11] #9 closed

[2018-03-23 19:14] texasmichelle commented on #14
Basic solution in place. Additional issues have been created with prioritization for further improvements (#37, #39, #40, #43).

[2018-03-23 19:14] #14 closed

[2018-03-24 15:04] bhack commented on #48
Partially related to https://github.com/kubeflow/tf-operator/issues/61

[2018-03-24 15:06] bhack commented on #48
See also https://github.com/tensorflow/tensorflow/issues/17890 and https://github.com/tensorflow/tensorflow/issues/16182

[2018-03-24 15:10] bhack commented on #48
@ewilderj

[2018-03-27 04:25] ankushagarwal opened #58 "Writing model directly to GCS instead of saving locally and then copying to GCS"
The tfjob example for github issue summarization saves the model locally and then uploads it to GCS. We should try to write the model directly to GCS.

[2018-03-27 14:50] cwbeitel opened #59 "[Enhance] Image enhancement example"
Goals:

- Demonstrate a high-impact biomedical imaging use case
- Demonstrate distributed training
- Demonstrate hyperparameter tuning, potentially informing future design of a TFStudy hptuning CRD
- Demonstrate batch inference
- Demonstrate the use of tensor2tensor, positioning for increased leverage in developing additional examples

Steps:

- [x] Launcher interface for running component steps i

[2018-03-27 18:42] cwbeitel commented on #58
One approach would be to write to a mounted gcePersistentDisk making the example code storage solution agnostic (just writes to some path) and have a separate solution and docs for people to swap around their storage providers.

[2018-03-28 04:30] jlewi commented on #59
This is a great idea.

Would it be possible to merge the aspects proposed in this example with one of our existing examples, so that we can collectively work to produce a set of high quality examples?

We have two main examples in progress

- GitHub issue summarization
  - This is already using Tensor2Tensor
  - For this example we'd like to illustrate a variety of aspects such as hyperparameter t

[2018-03-28 17:54] jlewi opened #62 "[GH Issue Summarization] Deploy on dev.kubeflow.org"
We should deploy the webserver and model on our dev instance of Kubeflow (dev.kubeflow.org) and provide a public URL for accessing the app.

[2018-03-28 17:54] jlewi commented on #62
/assign @ankushagarwal

[2018-03-28 19:09] jlewi commented on #48
So can we do this in the context of our existing E2E solutions?

For example

- #42 is creating an example using the tf.Estimator API
- The GitHub issue summarization example is using Keras.

[2018-03-28 19:25] bhack commented on #48
@jlewi is the summarization using `tf.model_to_estimator`?

[2018-03-28 20:21] cwbeitel commented on #59
I think people should communicate about what their barriers are and, where there is a bit of tooling to be shared, break that out into tools/. I pointed @ankushagarwal to my launcher code yesterday and got in touch with @texasmichelle yesterday and we're meeting up Friday to look through it and talk about the various issues.

My opinion is that examples should stay separated by application (and no

[2018-03-28 22:45] jlewi commented on #59
Good solutions are a lot of work.

- The 1 PR you mailed out is 30 files and only a subset of the items you listed
- The tasks you listed in the comment is a fairly substantial
- Maintaining solutions over time to avoid bit rot is substantial work
- We also need to ensure examples aren't specific to different Clouds/K8s distributions

All of which leads me to conclude that I think we will be much

[2018-03-28 23:43] jlewi opened #63 "Switch to project kubeflow-ci"
We need to move out of mlkube-testing and into kubeflow-ci

See kubeflow/testing#18

[2018-03-28 23:44] jlewi commented on #63
/assign @ankushagarwal

[2018-03-29 03:46] cwbeitel commented on #59
I think the best course of action is for me to continue hacking around with this example separately and communicate with @texasmichelle and @ankushagarwal about how much of the strategy I'm advocating here they're interested in incorporating. If they're interested in using enough of it then I'll just contribute to that example without loss of benefit to myself and it sounds like with increased ben

[2018-03-29 15:42] jlewi commented on #59
I think it would be great if we could find a way to have more people working together to produce a small subset of high quality samples that can be used to highlight Kubeflow.

The core value of Kubeflow is that we make it easy to deploy and manage all the [components](https://docs.google.com/presentation/d/1p82_DKJmIPjFS69EJ8p4StCClJW-JjGgxSWfhzw7Abw/edit#slide=id.g30f6ce7d33_0_45) needed to do M

[2018-03-29 16:18] texasmichelle opened #66 "Linting instructions"
Create instructions for running pylint locally and troubleshooting presubmit failures that prevent PRs from being merged. Follow-on from merged PR #61 .

Document which tools to use locally (tf-operator describes yapf [here](https://github.com/kubeflow/tf-operator/blob/master/developer_guide.md#code-style)) and how to find and use the versions in our test infrastructure. Since the Prow UI only sho

[2018-03-29 22:25] #63 closed

[2018-03-30 00:02] cwbeitel commented on #59
I hear you. I'll talk to @texasmichelle tomorrow about how I can contribute there.

The video labeling and next-frame prediction problems are very interesting to me and I would like to work on that at some point.

Toward getting people more integrated we could start having weekly example developer meetings for ~45min or 1h where people go around and present progress, challenges, prototypes, etc.

[2018-03-30 04:14] jlewi commented on #59
Website for object detection including tools and models
https://github.com/openimages/dataset

[2018-03-30 18:49] cwbeitel commented on #59
Cool so given the above and after the discussion today it's clear to me that the above exercise is of value to the project but not currently as an additional example in this repository. Closing this issue and the related PR and we'll have separate discussions about what individual pieces might be incorporated into existing examples if at all. The air-tight front-facing kubeflow examples can always

[2018-03-30 18:49] #59 closed

[2018-03-30 21:54] hamelsmu commented on #54
cc: @wingr @omoju

[2018-04-01 22:31] jlewi opened #67 "[GH Issue] Use Pachyderm to launch TFJobs"
See kubeflow/kubeflow#151

We'd like to provide an example of Pachyderm + TFJob to illustrate

- Combining Pachyderm's orchestration capabilities with TFJob for distributed training
- Highlighting Pachyderm's data provenance features with TFJob

The current thought see kubeflow/kubeflow#151 is to create a simple Pachyderm pipeline to launch a TFJob to train the model.

The main challenge is that t

[2018-04-05 16:02] ankushagarwal commented on #62
It is deployed to https://dev.kubeflow.org/issue-summarization/

Enter issue body in the textbox and get a machine generated summary

[2018-04-05 17:59] jlewi commented on #62
This is pretty great.

For the couple of examples I tried the summary was pretty inaccurate. How was this model trained? Should we train on more examples?

Some other ideas

- Would be nice if users could just enter a link to an issue and the web app could fetch it automatically

/cc @hamelsmu

[2018-04-05 18:03] hamelsmu commented on #62
If I’m following the code correctly, I think you are training on a very
small sample.  I would recommend training on the full dataset instead for
this to work.

On Thu, Apr 5, 2018 at 10:59 AM Jeremy Lewi <notifications@github.com>
wrote:

[2018-04-05 18:38] ldcastell opened #73 "Create a distributed object detection training example"

[2018-04-05 19:50] ankushagarwal commented on #62
I trained on the entire dataset. I can try training for a few more epochs.

[2018-04-05 19:53] ankushagarwal commented on #62
@hamelsmu : Do you have a trained model `.h5` file? I could use that for our demo.

[2018-04-05 21:02] jlewi commented on #73
@ldcastell Can you expand the CL description? Do you have model code in mind? Datasets?

@yixinshi @aronchick

[2018-04-05 21:14] ldcastell commented on #73
The goal is to demonstrate how to use kubeflow tooling (tf-operator and tf-job) to run a distributed object detection training job in an existing K8s cluster. The example will be based on the TensorFlow [Pets Tutorial](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md) using a dataset from: http://www.robots.ox.ac.uk/~vgg/data/pets/data/images.tar.gz

[2018-04-05 23:19] jlewi commented on #62
@ankushagarwal Can we create a public endpoint as well?

[2018-04-05 23:32] hamelsmu commented on #62
@ankushagarwal you will need three files to instantiate the full suite you need for inference:

1. text transformer for bodies (to feed data into the encoder):
1. text transformer for titles (contains metadata you need to go from int -> text):
1. the model file (.h5)

I am generating these artifacts for you now (by training the model again from scratch) and will post with a new comment with a link

[2018-04-05 23:36] hamelsmu commented on #62
@ankushagarwal can you whitelist me and my colleagues onto https://dev.kubeflow.org/issue-summarization/ . ?

 - hamelsmu@github.com
 - rand@github.com (@rand)
  - wingr@github.com (@wingr)
  - hohsiangwu@github.com (@hohsiangwu)
  - bathompso@github.com (@bathompso)

[2018-04-05 23:40] jlewi commented on #62
@hamelsmu I whitelisted the folks listed above.

[2018-04-06 00:00] hamelsmu commented on #62
thanks @jlewi and @ankushagarwal !!  I am pretty excited about this, and my team will be, too.  Let me know when the public endpoint is available.  This is super cool!

@ankushagarwal I tried 10 random issues it seemed okay to me, but I went ahead and re-ran the model just incase and sharing the files with you as promised.  Can you share the specific issues that are not being summarized very well?

[2018-04-06 00:29] ankushagarwal commented on #62
I have polished the UI and added features to populate random issues automatically for testing. These issues are a random sampling of https://storage.googleapis.com/hamel_githubissues/github-issues.zip

@hamelsmu : Thanks for training again, I will update the deployed model with these.

I'll also try to create a public url for this by EOD.

[2018-04-06 01:38] ankushagarwal commented on #62
Created a public url : http://35.190.4.92/

[2018-04-06 05:54] jlewi commented on #62
I created the DNS record
http://gh-demo.kubeflow.org/

[2018-04-06 18:00] hamelsmu commented on #62
Is it ok for me to tweet about this?

[2018-04-06 21:33] jlewi commented on #62
We would love that!

@aronchick can retweet it from the Kubeflow account.

[2018-04-06 21:34] #2 closed

[2018-04-07 01:13] jlewi opened #75 "[GH Issue] Add links and info about Kubeflow to web app"
The GH web app should include links and information about Kubeflow.

Its free advertising.

/assign @ankushagarwal

[2018-04-07 04:03] ankushagarwal commented on #75
Pushed to https://dev.kubeflow.org/issue-summarization/

[2018-04-07 04:45] #75 closed

[2018-04-09 18:04] jlewi opened #76 "[GH Issue] Scale out preprocessing using Apache Beam"
In the original [blog post](https://towardsdatascience.com/how-to-create-data-products-that-are-magical-using-sequence-to-sequence-models-703f86a231f8), Hamel filtered down the number of issues from 5M to 2M.

Can we use Apache Beam to run the preprocessing on all 5 million issues and scale out horizontally?

This would be the first step in giving us a very nice scaling out story.

[2018-04-09 18:04] jlewi commented on #76
/cc @ankushagarwal

[2018-04-09 18:06] jlewi commented on #43
Reopening this issue because we aren't training distributed.

The original blog post only trained on part of the dataset (2 million out of 5 million) issues. It would be great if we could train on all 5 million issues using distributed training.

[2018-04-09 18:08] ankushagarwal commented on #43
/cc @hamelsmu

Hamel - Have you tried distributed training using Keras?

[2018-04-09 18:11] hamelsmu commented on #43
I have, the way I have tried to accomplish this is put a different parts of the computation graph on different GPUs, for example putting the encoder on GPU 1 and decoder on GPU 2.

However, I did not enjoy a material training speedup when doing this, even though I could increase the batch size significantly.  I didn't spend much time profiling where the bottleneck was, however.

[2018-04-09 18:12] hamelsmu commented on #43
Edit: As you can gather from above, I have only tried distributed on a single node with multiple GPUs.  I have not attempted to distribute training across multiple nodes.

[2018-04-09 18:18] jlewi opened #77 "[GH Issue] Document preprocessing and training times"
It would be good to provide a rough estimate of how long it takes to preprocess and train the model using datasets of different sizes; e.g.

- Using 2M issues sampled from the dataset per the original blog post
- Using the entire dataset

The original [blog post](https://towardsdatascience.com/how-to-create-data-products-that-are-magical-using-sequence-to-sequence-models-703f86a231f8) had some mea

[2018-04-09 18:39] jlewi opened #78 "[GH Issue] Link to IssueSummarization.py is broken"
The link on this page
https://github.com/kubeflow/examples/blob/master/github_issue_summarization/serving_the_model.md

to IssueSummarization is broken. Looks like the correct link should be

https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/IssueSummarization.py

/assign @ankushagarwal

[2018-04-09 18:50] jlewi opened #79 "[GH Example] Surface RPC metrics"
It would be great to be able to show how we collect/surface RPC metrics for models.

The current thinking is to use ISTIO; see kubeflow/kubeflow#464

@lluunn Once we have ISTIO working

/cc @lluunn

[2018-04-09 19:40] #78 closed

[2018-04-11 12:13] jlewi commented on #43
Thanks @hamelsmu. I'm interested in distributed using multiple nodes to highlight the TFJob capabilities.

This [blog post](https://blog.keras.io/keras-as-a-simplified-interface-to-tensorflow-tutorial.html#multi-gpu-and-distributed-training) makes it seem like its as simple as setting the session for Keras.

[2018-04-11 13:59] jlewi opened #81 "[GH Example] Use katib/modeldb to store model results"
It looks like [kartib](https://github.com/kubeflow/hp-tuning) has some very nice features for keeping track of your models and then surfacing metrics for those models e.g. by launching TensorBoard.

It would be great to combine this with our GH issue summarization example. In particular it would be great if we could load the trained model in a DB and then use the kartib/model DB UI to browse model

[2018-04-11 20:10] ankushagarwal commented on #43
The distributed model that I'm thinking of for training this model is data parallelism where we have a copy of the graph in N worker nodes and we send batches of training data to each worker and combine the loss.

The current model uses the inbuilt `fit()` method to train the model. We will have to do the training manually instead of relying on the `fit` method.

[code]

[2018-04-11 20:17] hamelsmu commented on #43
FYI you folks got good publicity out of this, look at the 4 minute mark:  https://www.youtube.com/watch?v=NFVKDa5W35I&feature=youtu.be

Congrats, this is one of the most popular MOOCs for deep learning!

[2018-04-11 20:27] hamelsmu commented on #54
We could do something where we take the hidden state(s) produced by the encoder in the seq2seq model and use those to do nearest neighbor lookup for recommendations for new Github issues.  This would be really cool example of multiple things you can do with the same model you already built and generally shows off the versatility of deep learning (that you get a reuseable feature extractor every-ti

[2018-04-11 20:29] hamelsmu commented on #54
Also I have an example almost ready for that (just need to polish it a little), incase you would find that interesting.

[2018-04-11 20:56] jlewi commented on #43
@hamelsmu Likewise!

[2018-04-11 20:57] jlewi commented on #54
Absolutely.

At Kubecon I will be talking about the existing GH issue (I'll send you my slides so you can take a look). I know David is really excited about recommendations because there's a lot of interest in that.

One of the things we want to highlight at Kubecon is being able to scale out e.g distributed since that's one of the benefits of TFJob.

@ankushagarwal is working on that kubeflow/exa

[2018-04-11 22:42] elsonrodriguez opened #82 "Fix the linear training mode in the mnist example, upstream to Tensorflow"
I never got the Linear training mode working, so I stuck to CNN for the example.

https://github.com/kubeflow/examples/blob/1be7ccb1425131867a1efdbe6ed147201013813b/mnist/model.py#L142

If the Linear portion of the model were fixed, it could be upstreamed in tensorflow to replace their example and reduce duplication.

Also the upstream model does not support distributed training in its current for

[2018-04-11 23:09] hamelsmu commented on #56
We could do this, and it would be really cool.  Given the free-form and sparse nature of issue labels, Here is how I would approach it.

1. Find the word-embeddings for the labels (from a pre-trained embedding like GloVe)
2. Pop the decoder off the Seq2Seq Model
3. Replace the decoder with a Linear Decoder that predicts the target-word embedding  (a regression problem).  The loss would be cosine_p

[2018-04-11 23:10] hamelsmu commented on #56
cc: @rand @hohsiangwu

[2018-04-11 23:57] lluunn commented on #79
Istio is running.
Do port-forwarding: kubectl -n istio-system port-forward $(kubectl -n istio-system get pod -l app=grafana -o jsonpath='{.items[0].metadata.name}') 3000:3000

And then visit http://localhost:3000/dashboard/db/istio-dashboard

![screenshot from 2018-04-11 16-55-55](https://user-images.githubusercontent.com/32310205/38649035-3f1c1726-3da9-11e8-8874-8abe6ceb883b.png)

The left-most g

[2018-04-12 00:02] jlewi commented on #79
This is great; what determines the labels for the traces? The names don't seem to correspond anything specific to our service.

[2018-04-12 00:05] lluunn commented on #79
You mean the unknown?
That's because the source (the service that sends traffic to issue-summarization service) is not in istio mesh.

[2018-04-12 00:08] ankushagarwal commented on #43
I am running into an issue while doing distributed training. I am using a single parameter server and a single worker server.

Since this model has hundreds of variables, I am using `tf.train.replica_device_setter` to assign variables of the graph to the parameter server and ops to the worker. But when I run the training iteration, the following error is thrown:

[code]

When I set parameter serve

[2018-04-12 12:38] jlewi commented on #43
I pinged some folks internally

From @mrry

I think the problem might be in how Keras' Embedding layer and TensorFlow's _GatherGrad() interact:

1. The embedding variable will be placed on "/job:ps/task:0", by the tf.train.replica_device_setter().
2. Keras' Embedding layer uses `tf.gather(self.embeddings, indices)`, which will be placed on "/job:worker/task:0" (and hence copy the embeddings matrix

[2018-04-13 16:42] rand commented on #56
This would be interesting, especially if we could get a finer grained view of whether something is a `bug` or a `fix` label, as those would likely have similar labels. If we go beyond the default label set to generic term/topics, we'd have to be careful to maintain a somewhat consistent set for a given project, otherwise the filtering utility of labels would be degraded. Also, we'd have to make th

[2018-04-13 17:29] jlewi commented on #56
This sounds fantastic; how can we help?

I think the authors of the [Tensor2Tensor](https://github.com/tensorflow/tensor2tensor) library are also eager to help. I think we might switch the example to use that library because

1. We think it will work better for distributed training
1. We think it will be easier to serve those models using TFServing.

[2018-04-13 17:46] jlewi commented on #81
See kubeflow/hp-tuning#43

[2018-04-14 00:08] jlewi commented on #56
It looks like Tensor2Tensor can do text classification. We can follow the [imdb sentiment analysis example](https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/data_generators/imdb.py). It looks like all we have to do is modify it to extract examples with the text and label.

Does the GitHub data have labels?

[2018-04-14 00:26] hamelsmu commented on #56
Yes Github issues have labels associated with them.  Shall I pull the data (from a public source)?  What is the most effective way for me to help on this effort?

[2018-04-14 00:31] jlewi commented on #56
If you could do one or both of the following things

1. Pull the data from a public source
2. Start writing code to train a model that would be fantastic.

If you ping me your Google account I will give you appropriate permissions in GCP project kubeflow-dev and you can use that (or your own project).

[2018-04-14 01:10] lluunn commented on #79
The webapp now also have the istio sidecar.
The labels for the model will still be unknown because the traffic goes through ambassador, which can't be in istio mesh.

[2018-04-14 01:13] hamelsmu commented on #56
@jlewi thanks, I emailed you my GCP id

[2018-04-16 04:12] hamelsmu commented on #56
Ok I took a look at this it looks like T2T handles text summarization.  Maybe we could just use that instead of predicting issue labels (using the original data)?  I have a pretty dense back-log of things to do so this might take me a while to get to.

In the mean-time I pulled some data that someone could use to predict issue labels for issues.  I used [GHArchive](https://www.gharchive.org/) to p

[2018-04-16 17:33] jlewi commented on #56
@hamelsmu Thanks. No worries if you can't get to it anytime soon. Maybe someone else in the community can?

T2T has models for text summarization and label/category prediction. So we should be able to use T2T for both problems.

[2018-04-16 23:43] cwbeitel commented on #41
Resolved with https://github.com/kubeflow/examples/pull/72

[2018-04-16 23:43] #41 closed

[2018-04-17 13:54] texasmichelle commented on #39
This is complete, right?
http://gh-demo.kubeflow.org/

[2018-04-17 13:55] #26 closed

[2018-04-17 23:12] lluunn commented on #79
The label for the "model deployment" is still unknown because the ui service sends request through ambassador. So the "source" is still ambassador, and hence unknown to istio.

Should we change the ui to send request directly to the model service?
@jlewi @ankushagarwal

[2018-04-18 06:00] jlewi commented on #79
Yes. The UI is in cluster there's no reason to use the reverse proxy; it can just use the K8s service directly for the model service.

[2018-04-18 20:29] lluunn commented on #79
Working now
![screenshot from 2018-04-18 13-28-52](https://user-images.githubusercontent.com/32310205/38956458-80a4e4c6-430c-11e8-8b45-83ebc13a134f.png)

[2018-04-18 21:09] #79 closed

[2018-04-20 00:44] #43 closed

[2018-04-20 15:37] texasmichelle opened #88 "[GH Example] Friction points from Katacoda"
Katacoda recently created a [scenario](https://www.katacoda.com/kubeflow) out of the GitHub issue summarization example and ran into a number of frustrating issues. The following items need to be addressed in order to turn this example into a platform-independent self-contained unit for use in a wide number of environments.

- [ ] @benhall to add his list

[2018-04-20 16:05] jlewi commented on #88
Could we follow an approach similar to using a bootstrap container as being discussed in kubeflow/kubeflow#673

The idea is users would do something like
kubectl create -f http://github.com/kubeflow/examples/ghissue-bootstrap.yaml
kubectl exec -it gh-bootstrap /bin/bash
quickstart.sh

The goal is that quickstart.sh would set everything up and try to optimize things for their config. This gives the

[2018-04-24 01:36] lluunn opened #89 "Katacoda scenario on github summarization example; friction log"
Running through the [scenario](https://www.katacoda.com/kubeflow/scenarios/deploying-github-issue-summarization)

step 1: no issue

step2:
* **[Major issue]** Creating GCP token (secret) not working --> error: invalid literal source test, expected key=value
*   **[Major issue]** As a result, the tfjob failed to start: secrets "gcp-credentials" not found
* `git clone https://github.com/kubeflow/exa

[2018-04-24 04:14] jlewi opened #90 "[GH Issue] ksonnet app is missing vendor directory"
It doesn't look like the vendor directory got checked in.
https://github.com/kubeflow/examples/tree/master/github_issue_summarization/ks-kubeflow

I'm guessing because of our .gitignore.

We should check it in.

[2018-04-24 04:14] jlewi commented on #90
/assign @ankushagarwal

[2018-04-24 05:31] ankushagarwal commented on #90
@texasmichelle Can you check in the latest vendor directory from your local examples repo since you last touched `ks-kubeflow/` directory

[2018-04-24 05:35] jlewi commented on #90
/assign @texasmichelle
/unassign @ankushagarwal

[2018-04-24 08:04] BenHall commented on #89
Thanks for the feedback.

Step2:
GCP: Thanks, we'll get the format updated however, we're reluctant to provide a live read/write access token to a storage bucket as it could be open for abuse. Ideally the example would support Kubernetes persistent volumes so users can decided where the data comes from. This would allow us to train a smaller subset to demonstrate the workflow.

Updated the path, k

[2018-04-24 12:28] jlewi opened #91 "[GH Issue] Use persistent volumes for the data"
To support Katacoda kubeflow/examples#89 we should remove the need for GCP credentials.

1. For the output we should support using PD and making it easy for users to set the PD by parameters.
1. The input is trickier. I think GCS requires an account even for public buckets. If its a single file we could use the http URL to access it.

    * My suggestion would be to create a script that would copy

[2018-04-24 12:29] jlewi commented on #91
/assign @texasmichelle

[2018-04-24 12:29] jlewi commented on #89
Thanks Ben.

It would probably also be a good idea on the Katacode side specify a commit when cloning GitHub example so it doesn't break unexpectedly. e.g. #84 just moved the ksonnet app.

There are a couple issues on our end that I think need to be fixed

#90 Need to check in vendor directory.

Filed #91 to eliminate the use of GCS.

[2018-04-24 12:38] jlewi opened #92 "[GH Issue] E2E test"
We should add E2E testing for the GH issue example to make sure it doesn't break.

Some things to test

 - Make sure we can deploy all the components using ksonnet
 - Make sure training runs (just run a couple steps)
 - Test predict RPC generate responses

[2018-04-24 14:26] BenHall commented on #89
@jlewi I'm just building a new environment. Which image should I be using for the training and serving? I see the following in the repo:
[code]

My guess is `issue-summarization-seldon` for serving, `issue-summarization-ui` for UI. Which image is `tf-job-issue-summarization` ?

[2018-04-25 02:34] jlewi commented on #89
@BenHall What is image in this context? Docker image or ksonnet component?

@texasmichelle can probably answer better than me what the right component is.

[2018-04-25 02:37] jlewi opened #96 "GCR Registry examples"
Some examples are publishing Docker images. We should probably create a GCR registry to host these.

Example:
GitHub [issue example](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/training_the_model_tfjob.md#run-the-tfjob-using-your-image) referring to an image in gcr.io/agwl-kubeflow

[2018-04-25 23:20] ritazh opened #100 "tensorflow serving not working with minio"
👋 Great work guys!!!

Running the mnist example with minio, getting this error:

[code]
Any chance you can publish code for `elsonrodriguez/model-server:1.0`?

[2018-04-26 01:35] jlewi commented on #89
I think you will want the following docker images

* gcr.io/kubeflow-images-public/issue-summarization:0.1
* gcr.io/kubeflow-images-public/issue-summarization-ui@sha256:8344fcc0aa47c5923884e14141b91a2615ef765769f200c9974a48d876e78187

Can you explain how the docker images fit into your environment? Is this just to cache them for faster downloads? It looks like in step 2 you tell them to clone our

[2018-04-26 01:40] jlewi commented on #100
/assign @elsonrodriguez

[2018-04-26 01:42] jlewi opened #101 "[GH Issue] GitHub API token should be set via a secret and not as a parameter"
See [here](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/scripts/6_deploy_ui.sh#L17)

We currently set the GitHub token as a parameter. This would lead it to be checked into source control. But GItHub tokens should be kept secret.

So instead we should modify the APP to use a K8s secret to supply it.

/assign @texasmichelle

[2018-04-26 03:31] jlewi commented on #101
The ksonnet updates are pretty trivial (you can copy this [commit](https://github.com/jlewi/examples/commit/ce01fb5c24dc299e237a8c071b5ca8e184ba418d)).

The harder part is probable updating all the references e.g. docs.

[2018-04-26 20:44] elsonrodriguez commented on #100
Is there a way you can supply me the model serving deployment's yaml?

Also, for the container, I think that was an image I rehosted from kubeflow's testing infrastructure. I think someone was working on getting those images pushed to a public repo.

[2018-04-26 20:48] ritazh commented on #100
Here you go:
[code]

[2018-04-26 21:25] elsonrodriguez commented on #100
I may have over-escaped the values for `S3_USE_HTTPS` and `S3_VERIFY_SSL`, could you try editing the deployment manually and just set those values to `"0"`?

[2018-04-26 21:36] ritazh commented on #100
@elsonrodriguez Thanks for the idea! It was `'''0'''` and I updated it to `"0"` but still doesnt work. The issue seems to be related to how tensorflow serving in that image is not able to work with minio s3 endpoint. would be very helpful to see the source and how that image is built...

[2018-04-26 22:08] julienstroheker opened #102 "Updating `Training MNIST using Kubeflow, S3, and Argo` documentation"
We went through this documentation using `minio` as S3 storage and a Kubernetes Cluster hosted on Azure and we found some issues.

I am planning to open a PR to share our learnings from that.

To avoid duplicate sections, I was thinking to create a new md file for minio and refer to it in the `README.md` in the same folder as few tweaks are necessary to make it work.

WDYT?

@jlewi @wbuchwalter @r

[2018-04-26 22:14] elsonrodriguez commented on #100
I don't know which version of the file was used to build the example image, but the current Dockerfile is here: https://github.com/kubeflow/kubeflow/blob/master/components/k8s-model-server/images/Dockerfile.cpu

[2018-04-27 04:35] jlewi opened #103 "[GH Issue] Instructions reference build_image.sh; but that script is missing"
https://github.com/kubeflow/examples/blob/master/github_issue_summarization/serving_the_model.md#wrap-the-model-into-a-seldon-core-microservice

Instructions say

But I don't see that directory or build_image.sh

@ankushagarwal @texasmichelle  is there something I'm missing? I assume the instructions are just outdated?

[2018-04-27 04:42] jlewi commented on #88
Duplicate of #89

[2018-04-27 04:42] #88 closed

[2018-04-27 04:43] jlewi opened #104 "[GH Issue] Don't require the model is baked into the docker image"
Currently the model hard codes the paths [here](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/IssueSummarization.py#L22) of

  - seq2seq_model_tutorial.h5 - the keras model
  - body_pp.dpkl - the serialized body preprocessor
  - title_pp.dpkl - the serialized title preprocessor

This means users have to rebuild the docker image just to try out their model. T

[2018-04-27 04:51] jlewi opened #105 "Create buckets and other resources to store example data"
We should create buckets and other resources (GCR) to store data for our examples.

We currently have bucket gs://kubeflow-examples but that's owned by project kubeflow-dev which isn't really the best thing.

I created project: kubeflow-examples

[2018-04-27 05:11] jlewi commented on #105
Created gs://kubeflow-examples-data
Made it public.

[2018-04-27 05:15] jlewi commented on #104
I copied the files from the current docker image

[code]
to

[code]

[2018-04-27 05:45] jlewi commented on #103
Didn't read the instructions closely enough. The build directory is created by Seldon's docker container.

[2018-04-27 05:45] #103 closed

[2018-04-27 13:15] BenHall opened #106 "issue-summarization liveness probe causing failure"
The `issue-summarization` app returns a 404 which causes the liveness probe to think the application has failed.

Based on the docs - "Any code greater than or equal to 200 and less than 400 indicates success. Any other code indicates failure." (https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-liveness-http-request)

Here is an example:

[code]

[2018-04-27 13:16] BenHall commented on #89
We're seeing the liveness probe failing https://github.com/kubeflow/examples/issues/106

[2018-04-27 15:49] jlewi commented on #106
@cliveseldon @ahousley We're using the Seldon server. Any idea how to deal with this?

One work around would be to disable the liveness probe at least for the infrastructure.

[2018-04-27 18:31] jlewi commented on #96
Created project kubeflow-examples
Made the GCR registry world readable.

[2018-04-27 19:43] jlewi commented on #105
Also created the GCR registry see #96

[2018-04-27 19:43] #105 closed

[2018-04-27 19:43] #96 closed

[2018-04-27 19:45] jlewi commented on #89
Those are good reasons. My intent was only to learn how to better support Katacoda. I don't have a strong oppinion about where the scenarios should live.

[2018-04-27 23:07] elsonrodriguez commented on #102
I was working on debugging this with @ritazh, and with their help figured out some of the minio-related issues.

I took some of the feedback here and added it to a pr: https://github.com/kubeflow/examples/pull/108

The ideal is to keep it so that not too much modification is needed to run on any given s3-compatible store, so I'd prefer that we keep everything in one document. To that end I just ad

[2018-04-28 00:04] julienstroheker commented on #102
Cool! Please let me know when you are done, I would love to try on my own e2e.

[2018-04-28 15:11] #104 closed

[2018-04-28 19:41] jlewi commented on #89
@BenHall The changes to support running on PVC are committed.I haven't had a chance yet to go through the complete example E2E yet to make sure it works yet.

/cc @texasmichelle

[2018-04-29 02:16] leomzhong opened #111 "Feedback/issues trying out the github issue summarization example"
I tried the github issue summarization example (for the training step, only tried the notebook training), and just want to provide some feedback based on my experience. Some of them might due to that I am very new to Kubernetes/kubeflow.

**Potential Bugs**
- In the training notebook at the "Evaluate Model: BLEU Score" step -- I will send a patch to fix this.

              3 bleu_score = seq2seq_

[2018-04-29 11:15] BenHall commented on #89
Thanks @jlewi ! This looks to fix serving, is the plan to do the same for the training too?

[2018-04-29 18:46] julienstroheker commented on #102
Will review #108 with @ritazh instead

[2018-04-29 18:46] #102 closed

[2018-04-29 22:06] jlewi commented on #89
@BenHall Training is already done via #98.

So here's roughly how it should go

Training:

1. Create a PVC to store the data

[code]
   * This will create a volume using default storage class

1. Download the data to the PVC via K8s job

[code]
1. Submit training job using the PVC

[code]

Serving

1. Deploy the model

[code]
   * This will deploy a model baked into the container

1. (Optional) De

[2018-04-30 23:14] #100 closed

[2018-05-02 21:37] elsonrodriguez opened #113 "Replace YAML portions of the mnist Argo workflow with ksonnet commands"
As the kubeflow ksonnet code gains s3 support, replace the YAML in the argo workflow with `ks` commands.

This will also allow for the addition of a manual guide, which will let the user interact more directly with kubeflow.

With https://github.com/kubeflow/kubeflow/pull/710 merged Tensorboard can be swapped out. This leaves model training itself.

[2018-05-07 17:54] #39 closed

[2018-05-07 17:54] jlewi commented on #39
Yes it has been fixed.

[2018-05-25 01:57] jlewi opened #118 "gh-demo.kubeflow.org is down"
See kubeflow/kubeflow#871

It looks like
https://github.com/kubeflow/testing/blob/master/dev-kubeflow-org/ks-app/components/issue-summarization-ui.jsonnet

Is setting the ServiceType to ClusterIP and not NodePort which was causing the ingress not to be setup.

It also look like there is no ksonnet component for setting up the ingress to expose it via ingress

Was the issue to originally expose it

[2018-05-25 02:06] jlewi commented on #118
Looks like we also didn't reserve a static ip for it in dev.kubeflow.org.

[2018-05-25 02:09] jlewi commented on #118
The ingress is now created; waiting for DNS to propogate.

issue-summarization-ui is crashing though

[code]

This was the issue discussed on slack. The component is trying to get the GITHUB_TOKEN from a param and not a secret.

[2018-05-25 13:41] #118 closed

[2018-05-26 18:49] jlewi commented on #48
@bhack I don't know.

[2018-05-26 18:53] bhack commented on #48
@jlewi no it is using `tf.layers` for model definition not `tf.keras`

[2018-05-30 16:46] activatedgeek opened #121 "Semantic Code Search Example"
This issue tracks the discussion for the Semantic Code Search example.

# Objective

The aim is to implement an end-to-end Semantic Code Search pipeline and deploy on top of Kubeflow.

# Pipeline

- [x] Data Ingestion and Preprocessing from BigQuery via Dataflow (#120, #122, #125, #128)
- [ ] Train/Test/Validation Data Split
- [x] (Single Machine) Tensor2Tensor Datagen and Trainer (#127)
- [x] (Si

[2018-05-30 21:07] activatedgeek commented on #121
/assign @jlewi @ankushagarwal

[2018-06-05 12:51] jlewi commented on #121
/assign @activatedgeek
/unassign @jlewi
/unassign @ankushagarwal

[2018-06-05 16:22] texasmichelle opened #123 "Move seldon example into this repo"
As discussed in #117, move the [Seldon example](https://github.com/kubeflow/example-seldon) into this repo.

[2018-06-10 23:21] jlewi commented on #121
Should we split this up into separate issues and use a new label to keep track of them; e.g.
area/examples/code_search?

[2018-06-10 23:21] jlewi commented on #121
Created label:
[area/example/code_search](https://github.com/kubeflow/examples/labels/area%2Fexample%2Fcode_search)

[2018-06-10 23:23] jlewi opened #132 "[code_search] Create a Kubeflow cluster in kubeflow-dev"
We'd like to setup a Kubeflow dev cluster for use in the code_search example.

We should create a separate cluster from dev.kubeflow.org so that we don't experience the churn of updating dev.kubeflow.org

/assign @activatedgeek
/cc @hamelsmu

[2018-06-10 23:25] jlewi opened #133 "[code_search] TF.MA pipeline to compute evaluation metrics"
We'd like to use TF.MA to compute evaluation metrics for the code search example. More info can be found in the [doc](https://docs.google.com/document/d/1lqXmL_32cmDQ8z7MSl3FJ6p45RF-KDw5isGLyxPXsa8/edit#heading=h.d63ccjj4n89p)

The inputs will be something like <code, language, label>

   * Code will be a snippet of code
   * Language will be a string that describes the code (e.g. a doc string or

[2018-06-10 23:32] jlewi opened #134 "[code_search] Script to load model metrics into Katib/ModelDB"
We'd like to take advantage of Katib's integration with model db. To track the performance of models.
More detail can be found in the [doc](https://docs.google.com/document/d/1lqXmL_32cmDQ8z7MSl3FJ6p45RF-KDw5isGLyxPXsa8/edit#heading=h.wnld1hwmjum9).

The first step is probably a simple script that can load relevant data about a model into Katib. The data we probably want is

 * GCS location of the

[2018-06-10 23:37] jlewi opened #135 "[code search] search web app"
For the code search example we need a simple web app in which users can enter search queries and then see the results.

This issue covers adding a minimal web app. Follow on issues will handle various extensions like logging requests and responses.

Ref [doc](http://bit.ly/gh-kf-search)

[2018-06-10 23:42] jlewi opened #136 "[code_search] Tensor2Tensor model to learn similarity code and search queries"
We would like to use a single Tensor2Tensor model to learn how to map code and language describing the code to the same search space.

We should be able to do this using the transformer model in T2T.

/assign @activatedgeek
/cc @hamelsmu

[2018-06-10 23:43] jlewi opened #137 "[code_search] nmslib server"
See [doc](https://docs.google.com/document/d/1lqXmL_32cmDQ8z7MSl3FJ6p45RF-KDw5isGLyxPXsa8/edit#heading=h.ng4qu8vfnkep)

We want to use nmslib to create a server to do nearest neighbor lookups.

We will need to build and deploy a container containing nmslib.

We should consider using Seldon.IO as a simple way to wrap python code in an RPC server.

[2018-06-10 23:46] jlewi opened #138 "[code_search] TF Serving to encode queries"
To encode search queries we will want to use TF Serving. This will mean

* Using the T2T exporter to export the model for serving
* Create a TF serving deployment

For more info see the [doc](https://docs.google.com/document/d/1lqXmL_32cmDQ8z7MSl3FJ6p45RF-KDw5isGLyxPXsa8/edit#heading=h.6bl634ymn0aw)

[2018-06-10 23:48] jlewi opened #139 "[code_search] Use TF.transform for preprocessing"
We'd like to use TF.transform to do the preproccessing (e.g vocab generation) as this will allow us to use Beam to scale out.

This is described in the [doc](https://docs.google.com/document/d/1lqXmL_32cmDQ8z7MSl3FJ6p45RF-KDw5isGLyxPXsa8/edit#heading=h.53468wr1vjww).

The [Sentiment Analysis](https://github.com/tensorflow/transform/blob/master/examples/sentiment_example.py#L153) example for TF.tra

[2018-06-10 23:50] jlewi opened #140 "[code_search] Log clicks"
We will want to modify the front end web app to log clicks.

See [here](https://docs.google.com/document/d/1lqXmL_32cmDQ8z7MSl3FJ6p45RF-KDw5isGLyxPXsa8/edit#heading=h.bxgg4ip1zx3a)

This is blocked on an initial web app (#135)

[2018-06-11 01:40] jlewi commented on #16
@puneith Any update?

[2018-06-11 01:43] puneith commented on #16
Only update is that I am now actively working on this and more focused on codelab piece (the Github code should also be delivered as part of it but that has to be seen). In the meantime I have run into a data license issue for Zestimate (Data not allowed outside competition). Kaggle legal is verifying it an exception can be made and if not then I will find some other dataset for XGBoost.

[2018-06-11 17:00] activatedgeek commented on #121
I wanted a place to track the entirety of the code search example. I can move this to somewhere else if you prefer. I'm anyways sending out smaller PR chunks for isolated tasks/problems.

[2018-06-14 10:24] OonjuoO opened #142 "tf-serving issues"
Hello,

I am new to kubeflow and I am trying the basic workflow using this guide, but getting quite confused about how to use tf-serving.
https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#serve-a-model-using-tensorflow-serving

I am not sure I am doing the right thing, but I have a trained model saved using tf.saved_model.builder.SavedModelBuilder in directory model on **node worker-0

[2018-06-15 22:51] activatedgeek opened #144 "[code_search] Ksonnet application to deploy to Kubeflow"
This should provide an easy way to take the Docker container and run distributed training on Kubeflow.

[2018-06-16 00:16] activatedgeek commented on #132
The cluster is available at `code-search.endpoints.kubeflow-dev.cloud.goog` for now. Bringing up a  fresh cluster takes ~10mins (with a major chunk during the first time taken by HTTPS certificate deployment) so any modifications can be easily done.

[2018-06-18 11:53] #142 closed

[2018-06-18 11:55] jlewi opened #145 "[GPU Serving] Serving example with GPUs? Inception?"
There's lots of interest in serving with GPUs but we don't have a good example showing how to do this.

I think it would be nice to have one.

A simple example might be inception with a simple front end that allows people to upload images for classification.

[2018-06-18 12:01] jlewi commented on #145
There's a pretty comprehensive tutorial here
https://github.com/google-aai/tf-serving-k8s-tutorial

Maybe we can just link to that or modify it to work with Kubeflow?

[2018-06-18 18:33] activatedgeek commented on #144
/area example/code_search

[2018-06-18 18:34] #144 closed

[2018-06-18 18:47] activatedgeek commented on #132
This issues was blocked on some bugs and has now been fixed. /close

[2018-06-18 18:47] activatedgeek commented on #132
This issues was blocked on some bugs and has now been fixed.
/close

[2018-06-18 18:47] #132 closed

[2018-06-18 18:52] activatedgeek opened #147 "[code_search] t2t-datagen on a Kubeflow cluster"
**NOTE**: Splitting isolated tasks from #121 .

/area example/code_search

[2018-06-18 18:55] activatedgeek opened #148 "[code_search] t2t-exporter on a Kubeflow cluster"
This model export will allow for usage by TF Serving.

**NOTE**: Splitting isolated tasks from #121.

/area example/code_search

[2018-06-18 18:55] activatedgeek commented on #121
Closing this in favor of isolated issues.

/close

[2018-06-18 18:55] #121 closed

[2018-06-20 22:03] activatedgeek opened #151 "[code_search] Ksonnet app for nmslib server"
A Ksonnet app for nmslib server which can do the PVC provisioning and mounting.

/area example/code_search

[2018-06-20 22:34] #137 closed

[2018-06-21 16:39] jlewi commented on #145
This [blog](https://cloud.google.com/blog/big-data/2017/09/performing-prediction-with-tensorflow-object-detection-models-on-google-cloud-machine-learning-engine) is a pretty good model.

It would be nice to make the following changes

- Create a web app to surface the results rather than just using a notebook
- Use GPUs for serving.

[2018-06-25 22:09] #147 closed

[2018-06-25 22:09] #148 closed

[2018-06-27 08:04] lluunn opened #153 "Example of using TF serving component after deploy with deployment manager."
I was getting error of not able to load model. It turns out that the service accounts created by deployment manager doesn't have gcs read permission.
We should fix it, and have an example of using that service account.

[2018-06-29 03:37] #138 closed

[2018-06-29 03:37] #151 closed

[2018-06-29 12:21] jlewi opened #156 "[gh issue summarization] Use v1alpha2 for TFJob"
We should create a v1alpha2 TFJob for the github issue summarization example.

[2018-06-30 19:21] jlewi commented on #156
Fixed by #157 and #158

[2018-06-30 19:21] jlewi commented on #156
/assign jlewi

[2018-06-30 19:21] #156 closed

[2018-06-30 19:33] jlewi opened #162 "[GH Issue Summarization] HP Controller should launch TFJobs directly"
#161 Moved over the HP controller program github-issue-summarize-demo.go from Katib to the examples repository.

The jobs launched currently fail because we aren't specifying a GCP credential which is needed to download the data.

One solution would be to modify the controller program so that we set the relevant mounts in WorkerConfig to mount the controller.

I'm wondering though if a better solu

[2018-06-30 19:39] jlewi opened #163 "[GH Issue Summarization] HP Controller Needs to Extract And Report Metrics; Use tf.Events files?"
#161 Add a controller to run HP tuning jobs using Katib.

One of the pieces that's missing is actually extracting the model metrics from the resulting models.

How should we get the metrics from the resulting jobs?

One possibility would be to write a generic program that could extract the metrics from the tf.Events file.

[2018-06-30 22:29] jlewi commented on #134
Here are some instructions on how to use ModelDB for this.
https://github.com/mitdbg/modeldb/blob/master/client/python/light_api.md

I looked at the Katib CLI but I'm not sure the Katib CLI is that useful in this case.

[2018-06-30 23:20] jlewi commented on #134
I used the ModelDB sample code to create a model and store data in ModelDB
https://github.com/jlewi/kubeflow-dev/tree/master/modeldb

This appears to have worked

  * In the projects UI tab I can see the newly created project and it lists two models
  * It also shows some statistics that lead me to believe the data was actually loaded

![projects](https://user-images.githubusercontent.com/777219/4

[2018-07-02 01:59] gaocegege commented on #162
manager.RunTrial allows us to use different worker interface, including tfjob or k8s directly. I think manager is designed to do what you want to do:

/cc @YujiOshima

[2018-07-02 23:49] activatedgeek opened #164 "[code_search] Manually generate train/test splits"
Currently all data is clustered together. We need separate splits for train and test data.

T2T does some splitting itself but we need manual splitting for higher quality results.

/area example/code_search

[2018-07-03 01:09] mpvartak commented on #134
@jlewi this is the same workflow that's being used in Katib afaik. So that should work the same. I will try to repro the bug and ping back here.

[2018-07-03 01:16] jlewi commented on #134
Thanks.

[2018-07-03 05:51] cliveseldon commented on #145
Using Seldon to serve should be straight forward as adding the requires resource requests for GPU resources in our CustomResource assuming you have set up the cluster to allow them.

As you can use any Dockerized solution with Seldon you are free to compile your model with TensorRT or other frameworks.

[2018-07-03 11:56] jlewi opened #165 "Codelab / Tutorial for Kubecon"
At Kubecon in December we'd like to do a 90 minute tutorial on Kubeflow.

Opening this issue to track that.

/assign @texasmichelle

[2018-07-03 18:14] #136 closed

[2018-07-03 18:21] activatedgeek opened #166 "[code_search] Fix Similarity Transformer Export"
Currently, the model export to TF Serving does not follow the expected RPC signature.

/area example/code_search

[2018-07-05 09:05] jklaise commented on #145
@jlewi I'm working on implementing this example with serving done by Seldon including the training on GCP part as covered [https://cloud.google.com/blog/big-data/2017/06/training-an-object-detector-using-cloud-machine-learning-engine](here). Currently having issues getting the training part working, think it might be a Tensorflow version issue.

[2018-07-05 12:47] jlewi commented on #145
@jklaise cool. Are you planning on using TFServing with Seldon?

[2018-07-05 12:51] jlewi commented on #134
@mpvartak What do you mean by setup? I'm running on GKE using Katib so I assume the setup is different (possibly different versions of modeldb from what is running in modeldb).

I copied the code from https://github.com/mitdbg/modeldb/blob/master/client/python/light_api.md so I expect its the same.

Can you provide suggestions on how to debug this?

Is there a way to query the database directly e.

[2018-07-05 14:45] jklaise commented on #145
@jlewi No we don't, the plan is to provide an example to export a GCP trained model to a format that can easily be dockerized for serving with Seldon.

[2018-07-05 14:51] cliveseldon commented on #145
The plan is to try and use that example blog to train the model and export to run on seldon. Once done, I assume we can work with you to train on kubeflow directly and finally deploy with GPUs on an appropriate cluster to get a good e2e example?

[2018-07-07 04:53] mpvartak commented on #134
Here's my setup: pip install modeldb + the docker versions of the frontend and backend. I'm on Python2.7. I use the same code as the on the webpage (Method 2 specifically) and am able to log models/visualize correctly. So I can confirm that works. I haven't tried on GKE, so can't comment on what might be going on there.

For debugging, the sqlite file lives in server/codegen/sqlite and can be read

[2018-07-07 11:19] bhack commented on #134
When we talk about GCS, i.e. for the location of the model, can we use a more generic approach like https://github.com/GoogleContainerTools/kaniko/issues/121#issuecomment-382573584?

[2018-07-07 20:18] jlewi commented on #134
@mpvartak Can you provide your syncer config and a link to your python code?

[2018-07-07 23:54] jlewi commented on #134
@mpvartak I can see data in the sqllite DB but I'm not sure what I'm looking for. Would you be willing to try it out on our dev cluster (dev.kubeflow.org)? I'd be happy to give you access; I just need a Google account for you.

[2018-07-11 03:08] #135 closed

[2018-07-12 17:14] texasmichelle commented on #165
Proposal in progress with @amygdala

[2018-07-13 23:56] texasmichelle opened #170 "[GH Issue Summarization] Consistency & polish"
The [GH Issue Summarization](https://github.com/kubeflow/examples/tree/master/github_issue_summarization) example has become a bit fractured and needs some organization and polishing. A non-exhaustive list of ideas:

- [ ] Move all setup instructions to the beginning, e.g. install kubeflow-core & seldon-core components upfront
- [ ] Setup and use environment variables consistently
- [ ] Use absolu

[2018-07-14 00:04] texasmichelle opened #171 "[GH Issue Summarization] Ksonnet clarification"
Fill in some gaps around the use of ksonnet.

- [ ] Update ks version
- [ ] Add clarity around using [ks-kubeflow](https://github.com/kubeflow/examples/tree/master/github_issue_summarization/ks-kubeflow) vs initializing a ksonnet directory from scratch. Default path could be to use ks-kubeflow, with optional initialize-from-scratch instructions. Need to set param values for each component properly

[2018-07-14 00:13] texasmichelle opened #172 "[GH Issue Summarization] Add setup steps"
We currently require a k8s cluster and ksonnet installation, but it could be useful to have an example of how to set those up, pinned to a specific version:

- [ ] Installing ksonnet
[code]
- [ ] Creating a managed cluster:
[code]
- [ ] Alternatively, add a link to a codelab or somewhere that describes the process well.

[2018-07-14 00:18] texasmichelle opened #173 "[GH Issue Summarization] Fix broken links"
The user guide has moved into kubeflow.org, so many of our setup links are broken. Fix the following:

- [ ] Broken links in [Kubeflow Setup](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/01_setup_a_kubeflow_cluster.md#kubeflow-setup)
- [ ] Remove GPUs from [Goals](https://github.com/kubeflow/examples/tree/master/github_issue_summarization#goals) since there is no cod

[2018-07-14 00:23] texasmichelle opened #174 "[GH Issue Summarization] Training improvements"
- [ ] Improve clarity around different training options (notebook vs tf-job vs t2t). The main page should call them out as 3 different ways to accomplish similar things and links at the bottom of each training option should clearly reference the other options as alternates
- [ ] Improve clarity around different storage options (PV vs GCS)
- [ ] Update tf-job with instructions for using the most re

[2018-07-14 00:26] texasmichelle opened #175 "[GH Issue Summarization] Training consistency"
The distributed training instructions use tensor2tensor and the serving instructions use seldon, which are inconsistent. Remove t2t serving since distributed training is highlighted in the object detection example.

[2018-07-14 00:31] texasmichelle opened #176 "[GH Issue Summarization] Serving improvements"
Instructions for seldon serving are a bit cryptic and missing some information.

- [ ] Add clarity around where the model files come from
- [ ] Add clarity around calling the serving container directly. At a minimum, format the [curl command](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/03_serving_the_model.md#sample-request-and-response) so that it is more easily di

[2018-07-16 13:12] jlewi opened #178 "[Object Detection] Parameterize the K8s objects"
The object detection example has a bunch of YAML manifests; e.g.
https://github.com/kubeflow/examples/blob/master/object_detection/jobs/pets-training.yaml

Can we turn these manifests into a ksonnet application and parameterize them so its easy for users to change things like the docker image, input/output location.

I believe ksonnet supports YAML now so we might not even need to convert the mani

[2018-07-16 13:13] jlewi commented on #178
/assign @ldcastell

[2018-07-16 13:13] jlewi opened #179 "[Object Detection] Upgrade to TFJob v1alpha2"
We should upgrade the object detection dexample to use Kubeflow 0.2 and TFJob v1alpha2.

https://github.com/kubeflow/examples/blob/master/object_detection/jobs/pets-training.yaml

[2018-07-16 13:14] jlewi commented on #179
/assign @ldcastell

[2018-07-16 13:52] royxue commented on #179
@jlewi
I could make a PR of this as well, as I was trying to make this example to work today.

This yaml cannot work well for me right now.
It could successfully created the tfjob, I could use `get tfjobs` to see it, but there is no any related pod started, strange.

[2018-07-16 13:55] royxue commented on #179
Here is my modified yaml, changed apiVersion, add GPU resources, re-format the volumes/volumeMounts values.
[code]

@jlewi  could you help taking a look?

[2018-07-16 16:49] ldcastell commented on #178
Hi @jlewi, sure I will start looking into it :)

[2018-07-16 16:53] ldcastell commented on #179
Hi @royxue, is this last yaml you posted working for you?

@jlewi, do you think it will be better to address this change in issue #178? I can make the change to the yaml quickly but just wanted to confirm with you :)

Thanks!

[2018-07-16 19:08] activatedgeek opened #180 "[code_search] Batch Prediction of Similarity Transformer Model"
We want to be able to embed the training data for indexing purposes and it is not really ideal to do that via lots of HTTP calls to TF Serving. It is better to have a batch inference routine which takes a lot of examples together.

/area example/code_search

[2018-07-16 19:10] activatedgeek opened #181 "[code_search] Performance improvements to Similarity Transformer Model"
The Transformer Model currently computes the loss of non-data predictions (e.g. the padding tokens). It is a bad signal and should not be included in the loss/gradient calculations.

/area example/code_search

[2018-07-16 20:31] activatedgeek opened #182 "[code_search] Integrate the Search Server index with Human Readable data"
The NMSLib results return the indices of the data for a given query. Those indices need to be resolved to actual data and returned in the REST response.

/area example/code_search

[2018-07-16 21:06] #166 closed

[2018-07-17 06:00] royxue commented on #179
@ldcastell
Nope, there are some api changes in the v1alpha2, I will make some changes and show you later

[2018-07-18 17:34] lluunn opened #185 "Reconcile object detection examples"
We have a object detection example for distributed training
https://github.com/kubeflow/examples/tree/master/object_detection
and GPU serving, #154

They currently are using different models, but we should combine them into one example.

[2018-07-18 23:19] texasmichelle opened #186 "[GH Issue Summarization] Fix tfjob training"
When following the instructions in [Training the model with TFJob](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/02_training_the_model_tfjob.md), generated model files result in nonsense predictions.

Example: for [this URL](https://github.com/ksonnet/ksonnet/issues/726), the generated summary is:
“star following light template nearby offset bot attached informations

[2018-07-19 00:13] texasmichelle commented on #185
Both examples focus on different techniques: distributed training and GPU serving. In the case of the example in [object_detection](https://github.com/kubeflow/examples/tree/master/object_detection), object detection appears to be an arbitrary choice. Using a different dataset or approach would not affect the ability to highlight distributed training. For #154, is that different? Would a different

[2018-07-19 00:18] texasmichelle commented on #185
If we absolutely want to keep them separate, #154 could be filed under Component-focused. If we do that, we should beef up the serving instructions in [object_detection](https://github.com/kubeflow/examples/tree/master/object_detection) since they're pretty sparse.

[2018-07-19 01:02] lluunn commented on #185
In #154 , the model is also an arbitrary choice. It just demos well (can see the boxes on the image as the result), and highlights GPU serving.
So on a second thought, why make it an e2e example if we want to highlight GPU serving?

And why do we get from object detection example given github issue example already has distributed training?

@jlewi @texasmichelle WDYT?

[2018-07-19 01:33] jlewi commented on #185
#145 is the original bug. We need an example that illustrates TF serving with GPUs.

To illustrate serving with GPUs we need a model for which using GPUs make sense. So an image model is an obvious choice.

The GH summarization example problem isn't a good choice. We are currently using Keras to serve it, its  text data using RNN. So probably not a good choice for illustrating GPUs with TF serving

[2018-07-19 04:11] royxue commented on #185
I agree with the idea to combine these 2 parts together, it could make this example looks like a complete workflow.

Object detection provide detailed steps from create pvc to training, but maybe just too many yamls, it's better to reduce yaml numbers or using ksonnet as mentioned in #178

[2018-07-19 05:44] yixinshi commented on #185
I am also working on an example using object detection for batch prediction. I don't have a strong opinion about if we should have training, TF-serving, and batch prediction in the same example workflow in this particular example.  In some cases, users might just use existing models , such as from https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.

[2018-07-19 06:23] puneith opened #187 "[XGBoost] Use the logging module and configure the logger to output logs at info level by default"
Use the logging module and configure the logger to output logs at info level by default
Like this
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/run_e2e_workflow.py#L226

[2018-07-19 06:25] puneith opened #188 "[XGBoost] Put persistent volume in ksonnet application so that it can be parameterized."
From Jeremy: It would be better to put PV in a ksonnet application so that it can be parameterized. But that can be done in the future.

[2018-07-19 12:53] jlewi commented on #134
It looks like Katib added an API to upload model data; see
kubeflow/katib#43

I don't think there's a CLI yet; but we might have more luck with Katib.

[2018-07-19 17:14] ldcastell commented on #185
Agree on having consolidated and cleaner examples. We can easily incorporate GPU (for training and serving) into the existing object_detection example once all the yamls be moved to a ksonnet app/prototype (#178). Same with batch predict
P.S sorry about all the yamls but since I'm just learning ksonnet for me it was faster/easier to use the yamls

[2018-07-19 19:53] activatedgeek opened #189 "[code_search] Exploding memory with many CSV files"
During the `t2t-datagen` step, exploding memory is causing the Kubeflow jobs to be killed. This issue is reproducible in local execution as well where the program terminates after running for a long time. The effect of memory pressure can also be seen in the form of decreased CPU usage - From 99% at the start of the process to around 20% towards the end before being killed.

/area example/code_sea

[2018-07-19 20:26] activatedgeek opened #190 "[code_search] Split the Preprocessing Pipeline into composable parts"
Currently, the whole tokenization process and dumping into GCS is a single Dataflow pipeline. Experimentation might be faster and more composable if we can resume from the already tokenized data in BigQuery. Allows experimenting with the data format.

/area example/code_search

[2018-07-20 03:58] jlewi commented on #178
The YAML functionality in ksonnet doesn't appear to be well documented.

I've had some success doing

[code]

I haven't figured out how to substitute parameters to YAML manifests.

I have a question out to the ksonnet folks ksonnet/ksonnet#782

[2018-07-20 17:36] ldcastell commented on #178
@jlewi would it be something like this:
[code]

[2018-07-20 17:52] texasmichelle opened #191 "[demo] Add demo code"
Add instructions and code for basic demos of the platform for use at conferences, meetups, etc.

[2018-07-20 17:55] texasmichelle commented on #185
That all sounds good to me. I updated #175 to reflect the removal of t2t training.

Since it's valuable to have a t2t example, we can replace it with the code we've been using for onstage demos. #191 created for this.

[2018-07-22 23:19] jlewi commented on #16
@puneith #27 is in review and almost done. I believe the decision was to switch the dataset to the Ames dataset for licensing reasons?

[2018-07-23 02:32] puneith commented on #16
@jlewi correct!

[2018-07-23 23:43] activatedgeek opened #195 "[code_search] Document implicit assumptions in the codebase and cleanup redundancies"
A lot of the places in the Code Search pipeline assumes a particular list of keys in the dictionary which are important for consumption and might break in unexpected ways. Currently, the modularity of the codebase is not up to the mark. Keeping this issue to track this and report any updates.

- [ ] Avoid implicit data dictionary modifications in Dataflow pipelines
- [ ] To avoid implicit modifica

[2018-07-23 23:43] activatedgeek commented on #195
/area example/code_search

[2018-07-24 00:17] #182 closed

[2018-07-24 01:24] jlewi opened #196 "[gh_issue_summarization] distributed training using Keras"
When we previously tried using distributed training with the Keras Seq2Seq model (#43)

We ran into the error in this [comment](https://github.com/kubeflow/examples/issues/43#issuecomment-380633578)

[code]

using this code
https://gist.github.com/ankushagarwal/a2dab3aaf664a4296292c4ff330fb5e6

This is supposedly fixed with TensorFlow 1.9 and tf.Keras.

This would be worth retrying to see if we ca

[2018-07-24 02:54] inc0 commented on #196
@jlewi yeah. My best bet is to use tf.keras.model_to_estimator and enable https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/python/multi_worker_strategy.py - distributed strategy that would take ClusterSpec as input and be capable of data-parallel distribute training. That, if I'm correct, would allow us to write boilerplate code that would enable any tf.keras mode

[2018-07-24 16:59] inc0 commented on #196
/assign inc0

[2018-07-25 01:07] activatedgeek opened #198 "[code_search] Verify duplicate rows in BigQuery after Dataflow jobs"
I have observed duplicate rows during some analysis of BigQuery datasets after the processing of Github files. To fix this I have changed the write disposition of BigQuery writes to `TRUNCATE` but keeping this issue to make sure there are no unnecessary duplicates.

/area example/code_search

[2018-07-25 22:42] activatedgeek commented on #198
This was due to multiple runs of the dataflow job over the same BigQuery table.

[2018-07-26 13:18] jlewi opened #200 "[mnist] Upgrade to Kubeflow v0.4 and TFJob v1beta"
The mnist example needs to be upgraded to v1alpha2 of TFJob

[2018-07-26 19:04] activatedgeek opened #201 "[code_search] Verify Service Account Permissions for all Google Cloud Services"
For the Code Search example we use a bunch of Google services:

* Google Cloud Dataflow
* Google Container Registry (GCR)
* Google Kubernetes Engine (GKE)
* Google Cloud Storage (GCS)

We need to make sure that the service accounts used for all these services on a fresh project (or a project without any previous side-effects) have appropriate permissions.

/area example/code_search

[2018-07-26 19:21] activatedgeek opened #202 "[code_search] Improving BigQuery query times"
Currently, the first step of the Code Search Pre-processing pipeline involves reading the original Github Dataset from BigQuery. This involves a fairly detailed query plan, including huge table joins.
This complete query has a turnaround time of ~**180s** in BigQuery console and as a part of the Dataflow pipeline, ~**300s**.

With some preliminary tests, the turnaround time in BigQuery console has

[2018-07-27 13:26] #190 closed, assigned to nobody

[2018-07-27 21:14] antigenius0910 opened #204 "TFJob example pets-training.yaml problem"
Hi,

Thank you so much for all the examples, they looks great!

I am following your example on object detection from below link
https://github.com/kubeflow/examples/blob/master/object_detection/submit_job.md

However, when I try to submit the example pets-training.yaml file, I see below errors.
[code]
After some research on the forum I found the problem has been fixed on kubeflow.org/v1alpha1,
the

[2018-07-31 21:06] lluunn commented on #134
cc @lluunn

[2018-08-01 00:18] yixinshi opened #206 "Add a ptransform to the object detection batch predict example to pack the images into tfrecord"
Currently, users are required to do that before feeding the data to the batch-predict. A complete example should accept a list of image files.

[2018-08-01 20:37] #189 closed

[2018-08-02 21:51] activatedgeek opened #208 "[code_search] Distributed Training with T2T does not work"
Distributed training for the Code Search example with T2T seems to hang at

[code]

A similar issue has been reported at https://github.com/tensorflow/tensor2tensor/issues/926.

/area example/code_search

[2018-08-03 01:44] #178 closed

[2018-08-03 09:15] Mack-y commented on #208
hello~ have you fixed it?

[2018-08-03 20:32] ldcastell opened #210 "[Object Detection] There are broken links links in the object detection example"
There are some broken links in the object detection example. Some can be found at: https://github.com/kubeflow/examples/blob/master/object_detection/export_tf_graph.md
in the "Next" section at the end of the file

[2018-08-03 20:33] ldcastell commented on #210
/assign @ldcastell

[2018-08-03 21:26] asaydin opened #212 "Variable Initialization Problem with the Object Detection Example"
I am able to run the pods for the Object Detection example, but when I check the tf worker log, here's what I get:

[code]

The last line of the actual error message is much longer and It seems like it includes probably each and every variable in the neural network. So it appears to be a network initialization problem related to distributed Tensorflow training. And the last part repeats roughly ev

[2018-08-03 23:05] #210 closed

[2018-08-06 15:28] texasmichelle opened #215 "Test issue"
Hydrate label `area/example/issue_summarization/codelab`

[2018-08-06 15:28] #215 closed

[2018-08-06 17:19] #73 closed

[2018-08-06 18:46] activatedgeek commented on #208
Hey @Mack-y, unfortunately I have not looked into much detail here with T2T. If you are using vanilla TF, then the Kubeflow example should work right away. This seems to be a regression in Tensor2Tensor.

[2018-08-09 23:10] WyattGorman opened #218 "[codelab-e2e-gis-feedback]: missing cd command in Training Image section"
In the "(Optional) Create the training image" section, users run "cd ${HOME}/examples/github_issue_summarization/notebooks", and later run "ks param set --env gke tfjob-v1alpha2 image "gcr.io/${PROJECT_ID}/tf-job-issue-summarization:${TAG}"", however that ks command needs to be run from "${HOME}/examples/github_issue_summarization/ksonnet-kubeflow".

I'd propose adding a "cd ${HOME}/examples/githu

[2018-08-09 23:12] WyattGorman opened #219 "[codelab-e2e-gis-feedback]: Destroy the Cluster command missing zone/region"
The "gcloud container clusters delete kubeflow-codelab" command in the "Destroy the Cluster" section requires a --zone or --region flag.

I'd propose changing "gcloud container clusters delete kubeflow-codelab" to "gcloud container clusters delete kubeflow-codelab --zone us-central1-a".

[2018-08-10 14:14] jlewi commented on #145
@lluunn We now have a GPU serving example right?

[2018-08-13 13:44] jlewi commented on #204
v1alpha1 is outdated you should be using v1alpha2. I think pets-training.yaml was outdated.
It looks like this has been fixed at head and now uses v1alpha2

https://github.com/kubeflow/examples/blob/master/object_detection/ks-app/components/tf-training-job.jsonnet

[2018-08-13 13:45] jlewi commented on #204
/cc @ldcastell

[2018-08-13 13:47] jlewi commented on #212
Are you running distributed training?

This looks like kubeflow/tf-operator#761

  /cc @ldcastell

[2018-08-13 18:08] ldcastell commented on #204
Hi @antigenius0910,
There was an issue with the api version as Jeremy mentioned but currently the object detection example is not longer using yaml files, we have moved the yaml jobs to ksonnet components. Have you tried using them? please let us know if you're still facing issues.

[2018-08-14 01:40] activatedgeek opened #222 "[code_search] Add WORKING_DIR parameter to Ksonnet application"
The current Ksonnet application reads `workingDir` from the global params. These are not configurable via `ks param set`. This requires a little refactor to the way `params` file is structured.

/area example/code_search

[2018-08-14 01:45] activatedgeek opened #223 "[code_search] Allow configurable T2T problem"
Currently, the T2T problem is hard-coded with the dataset. This is by design and to preserve the semantics of `data_dir` (it should be the working directory into which TFRecords are written and not point to the raw data).

We instead would like to override these semantics and the easier way is to create another problem class which overrides the current `GithubFunctionDocstring` and allows the sema

[2018-08-14 11:41] oskar-j commented on #111
Unfortunately, seems like there are still issues for the `github_issue_summarization` project. I'm new to the kubeflow framework so I tried to follow the tutorial - https://github.com/kubeflow/examples/tree/master/github_issue_summarization -  I'm stuck at the point no. 2 called "Training the model using a Jupyter Notebook". Pardon if I forgot some crucial step in the meantime :smile:

### **Error

[2018-08-14 22:29] #222 closed

[2018-08-14 22:41] #223 closed

[2018-08-15 18:25] lluunn commented on #145
Yes.
I can't close issue in examples repo.

[2018-08-16 00:33] asaydin commented on #212
Hi @jlewi, thanks for the pointer.

Yes, I am running distributed training.
I am using the docker image provided by the example (where TF 1.8 is installed), and after reading the issue you linked to, I updated the image for the tf-job-operator to gcr.io/kubeflow-images-public/tf_operator:latest

However, I am still getting the same error. Is there anything else I should do?

[2018-08-17 00:35] ldcastell commented on #212
Hi @asaydin,

I've tracked down the problem and found that there's an incompatibility issue with the pre-trainied model used for the fine tune checkpoint. The object detection api version used in the provided image is a bit old.
I will submit a PR to fix that as well as some of the typos in the env variables values.

[2018-08-17 00:37] ldcastell opened #227 "[Object-Detection] Docker image used in object detection distributed training example outdated"
The image is using an old version of the object detection API that is currently causing problems when running the object detection example

[2018-08-17 00:38] ldcastell commented on #227
/assign @ldcastell

[2018-08-20 01:13] jlewi opened #230 "[code_search] Log requests/responses to BigQuery"
We'd like to log requests and responses to BigQuery to enable continuous training.

[2018-08-21 02:30] jlewi opened #231 "[object_detection] presubmit/postsubmit test for training job"
It would be great to have an E2E test to ensure object detection training is working.

This could just be an Argo Workflow that runs a single step to invoke training for a couple steps and make sure it runs for a couple of steps.

We can probably start with or repurpose
https://github.com/kubeflow/tf-operator/blob/master/py/test_runner.py

As a test runner. That python program submits a TFJob base

[2018-08-21 02:32] #227 closed

[2018-08-21 20:15] ldcastell commented on #231
I think is a great idea. would this be an automated process? or will it be manually triggered?

[2018-08-23 14:48] puneith opened #234 "Add XGBoost description in the README"
Add XGBoost description and link in the README. Thoughts on which section does this example fit under?

[2018-08-23 14:48] puneith commented on #234
@jlewi @texasmichelle can you comment and I can send a quick PR.

[2018-08-23 15:55] texasmichelle commented on #234
I'm thinking component-focused, although perhaps component isn't the right term. If anyone has a better idea about how to categorize the examples, I'm all ears.

[2018-08-24 13:45] jlewi commented on #16
@puneith Can we close this issue?

[2018-08-24 14:30] jlewi commented on #231
It would be automated; just like our other tests.
See: https://github.com/kubeflow/testing#adding-an-e2e-test-for-a-new-repository

We have the infra to do this. We just need the code to do this as an E2E test e.g.

1. A python program (e.g. test_runner) to trigger the job and verify it ran
1. A ksonnet Argo workflow to be used as the E2E test.

[2018-08-24 14:31] jlewi commented on #212
@ldcastell Thanks!. Is this fixed. Can we close the issue?

[2018-08-24 14:32] #145 closed

[2018-08-24 14:41] #16 closed

[2018-08-24 14:42] puneith commented on #234
Agree that it's not the best categorization, but is closest. Let me make changes.

[2018-08-24 16:37] ldcastell commented on #212
@jlewi It should be fixed I have tested in on of our kubernetes cluster it and it worked as expected.
@asaydin, have you have the chance to test the latest changes?

[2018-08-25 00:05] ldcastell commented on #231
Cool, I think I can start looking into it.

[2018-08-25 02:53] texasmichelle commented on #219
Good catch, thanks for submitting.

[2018-08-25 02:53] #219 closed

[2018-08-25 02:56] texasmichelle commented on #218
Thanks! Fixed

[2018-08-25 02:56] #218 closed

[2018-08-25 03:01] texasmichelle commented on #165
Abstract submitted.

[2018-08-25 03:01] #165 closed

[2018-08-25 03:02] texasmichelle commented on #191
Fixed by #220

[2018-08-25 03:02] #191 closed

[2018-08-26 02:23] jlewi opened #237 "[code_search] Test to ensure ks is valid"
We should add a basic test that just does

[code]

This would just be a smoke test to make sure all of the ksonnet checked in is valid and can be evaluated.

[2018-08-27 12:48] jlewi opened #238 "[code_search] ksonnet problems with the trainer"
I ran into a couple problems with ksonnet for the trainer.

* First you need ksonnet 0.12; 0.11 doesn't seem to work

  * This is noted in the README.

[code]

   * The exact cause of this bug is unclear to me.
   * I worked around it by defining all my parameters inside the parameters for t2t-code-search-trainer s opposed to trying to inherit them from the base

 https://github.com/jlewi/examples

[2018-08-27 22:55] jlewi commented on #238
It looks like most of vendor isn't checked in;
https://github.com/kubeflow/examples/tree/master/code_search/kubeflow

[2018-08-27 23:51] jlewi opened #239 "[code_search] Train a high quality model"
We'd like to train a high quality model for the code search example.

I took an initial stab at this.
My parameters are here:https://github.com/jlewi/examples/blob/7346d6f1605eaf3e9251e3eec7b1802f5683e637/code_search/kubeflow/components/params.libsonnet#L33

   * I ran for ~300K steps
   * I used 1 K80 GPU
   * Eval steps = 10000
   * Used the transformer_tiny hyperparameters set.

Results from Te

[2018-08-28 01:25] activatedgeek commented on #239
These metrics are probably not the right thing to check straight away. Here
are the reasons -

1. The model accuracy is not exactly the classification accuracy because we
are using the special keys "targets" to mean the final label (which in our
case is a string embedding). I think the internal T2T code is not
considering this as a classification problem. This is why those accuracy
values are abys

[2018-08-28 16:46] Akado2009 commented on #140
Greetings!

Can I try this?

[2018-08-28 22:57] jlewi commented on #239
Thanks.

@cwbeitel Any additional ideas?

[2018-08-29 00:52] cwbeitel commented on #239
Sure. Just so I'm clear, correct me if this is wrong, but the idea here is to learn a mapping between a doc string and the code it corresponds to, then perform search by mapping a new query into embedding space and returning code snippets with embeddings in a close neighborhood of the query? So your loss above corresponds to the first stage, where we're learning a mapping between doc strings and f

[2018-08-29 12:33] jlewi commented on #239
Thanks @cwbeitel . The network output is the similarity (cosine distance?) between a doc string and code. We have positive examples (want the distance to be small) and negative examples (want the distance to be high).

blue line - is eval (according to label in tensorboard)
red line - doesn't say (I assume its training)

I don't think we've gotten to the point of evaluating qualitatively how well

[2018-08-29 15:39] cwbeitel commented on #239
Ah that's great, reminds me of [this](https://arxiv.org/abs/1705.08168) paper from Arandjelovic and Zimmerman (2017) that trained a model to predict the correspondence of audio and visuals in a corpus of videos.

Looks like the batch size for `transformer_tiny` that is inherited from [`transformer_base_v1`](https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/models/transformer.py

[2018-08-30 13:28] jlewi commented on #239
@activatedgeek Thanks. Can you suggest:

  1. what experiments we should run to train a model?
  1. what metrics we should look at to pick the best model?
  1. suggestion about qualitatively evaluating the final product/model?

I tried using hparams transformer_base_single_gpu
https://github.com/jlewi/examples/blob/jlewi_train/code_search/kubeflow/components/params.libsonnet#L47

Here's a graph of

[2018-08-30 16:06] cwbeitel commented on #239
Random thought - you could restrict your training to a single language or a query subset of that language to make the learning problem simpler, either for debug or towards using a search approach that ensembles many specialized models.

[2018-08-30 18:39] Akado2009 commented on #172
@texasmichelle
Greetings, can I take it?

[2018-09-02 00:47] jlewi opened #241 "[code_search] T2T exporter should use K8s job not TFJob"
t2t-code-search-exporter is using a TFJob;
https://github.com/kubeflow/examples/blob/master/code_search/kubeflow/components/t2t-code-search-exporter.jsonnet

But I don't think there's any reason to use a TFJob since we aren't running TF training and we aren't running distributed.

We should just be using a regular K8s job.

[2018-09-03 22:39] jlewi commented on #163
I don't think getting the GH issue example updated in time for 0.3.0 will happen and I don't think its critical to the release.

[2018-09-05 02:45] texasmichelle opened #243 "[yelp_demo] Use deploy script"
From @jlewi's review of #242.

Replace manual setup in the Yelp demo with the deploy script.

[2018-09-05 02:47] texasmichelle opened #244 "[yelp_demo] Replace cluster.jinja file"
From @jlewi's review of #242.

Update the cluster.jinja file in the Yelp demo to this: https://github.com/kubeflow/kubeflow/blob/v0.2-branch/scripts/gke/deployment_manager_configs/cluster.jinja

[2018-09-05 02:48] texasmichelle opened #245 "[yelp_demo] Refactor the t2t components"
From @jlewi's review of #242.

Refactor the common bits for t2tgpu.jsonnet and t2tcpu.jsonnet and t2ttpu.jsonnet into a common .libsonnet file that gets imported to all of the jsonnet files.

[2018-09-09 18:12] activatedgeek commented on #239
@jlewi Sorry about the delay. Moving and a lot of first week formalities.

I am trying to fix the loss function computation. Once I see new graphs with that, I'll revert back.

@cwbeitel That is a great point. I am trying to overfit the model to a very small dataset to make sure the training is working as intended.

[2018-09-16 23:07] hackintoshrao commented on #174
Would like to take this if this is not yet fixed. Also would like to add Minio as a storage option if it doesn't exist for the example.

[2018-09-17 16:34] cwbeitel commented on #208
@activatedgeek Ah ha since updating to the most recent version of t2t I now see this problem as well (with distributed training as well as non-distributed, which both worked previously [different model and problem]). Something to look into would be trying prior versions of t2t or tensorflow.

/cc @jlewi

[2018-09-18 12:52] jlewi commented on #239
Typo? Did you mean you will create a PR with the new loss function?

[2018-09-18 16:48] cwbeitel commented on #208
@activatedgeek Reverting to a previous version of t2t fixed the problem for me! I believe the version I'm using here is a few of my own non-core commits beyond 49e279eb6c871fbebc137d6f598758a275f521c3 which is circa Jun 15th but you may not need to go that far back.

/cc @jlewi

[2018-09-19 11:51] BenHall opened #249 "gh-demo.kubeflow.org returns 404"
Is http://gh-demo.kubeflow.org/ still being used for a demo? Currently returning a 404 and wondering if we should remove the link from our scenarios.

Ben

[2018-09-21 15:04] Oblynx opened #250 "[object_detection] Error verifying githubusercontent certificate when getting data"
While following the instructions to prepare the training data, I run into a certificate validation error in fetching from raw.githubusercontent.com:
[code]

I work around this by adding an extra argument to `wget`: `--no-check-certificate`
I think this workaround is reasonable for this example.

[2018-09-21 15:16] Oblynx commented on #250
/assignee oblynx

[2018-09-24 22:07] #172 closed

[2018-09-24 22:20] texasmichelle opened #251 "[code_search] Add description to top-level README.me"
Add details to the top-level [README.md](https://github.com/kubeflow/examples/blob/master/README.md).

[2018-09-24 22:45] texasmichelle commented on #249
I think we intended to keep that site alive. @ankushagarwal do you know where this is being hosted?

[2018-09-24 22:47] texasmichelle commented on #243
Fixed in #248

[2018-09-24 22:47] #243 closed

[2018-09-24 22:52] texasmichelle commented on #185
Can this be closed?

[2018-09-24 22:52] ankushagarwal commented on #249
It was running in a k8s cluster in the `kubeflow-dev` GCP project. I don't see that cluster anymore. Looks like someone unintentionally deleted it.

[2018-09-24 22:56] texasmichelle commented on #249
Is it straightforward enough to rebuild?

[2018-09-24 23:03] ankushagarwal commented on #249
It's been a while since I've touched that. Should take half a day to rebuild and deploy everything.

[2018-09-28 15:50] cwbeitel commented on #239
@activatedgeek It looks like the model Hamel trained in Part 4 of his series on code search (https://github.com/hamelsmu/code_search/blob/master/notebooks/4%20-%20Train%20Model%20To%20Map%20Code%20Embeddings%20to%20Language%20Embeddings.ipynb) started with a pre-trained language model on doc strings (described in Part 3). Do you think doing something similar here (as well as perhaps replicating hi

[2018-09-28 15:59] activatedgeek commented on #239
@cwbeitel We did consider that at the start however went in favor of training an end-to-end task specific model instead of doing a two step thing - first and language model and then fine-tuning for the task.

[2018-09-28 16:04] cwbeitel commented on #239
@activatedgeek Because that makes continuous training more straightforward or something else? Not to knock the approach, it seems like it should work.

[2018-09-28 16:05] activatedgeek commented on #239
@cwbeitel Certainly, only to make it an end-to-end architecture and less moving parts to deal with.

[2018-09-28 16:09] activatedgeek commented on #239
I just made some new changes in #233 but after all the training it crashes up with dimension errors.

[2018-09-28 16:15] hamelsmu commented on #239
@inc0 maybe you can take a look today after we talk.

[2018-09-28 16:16] cwbeitel commented on #239
Hmm sorry to hear that, can you roll back to what was working and see which of the additions in the current version cause that problem?

Also debugging interactively with tf.Eager (e.g. https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/notebooks/hello_t2t.ipynb) or some local tests (e.g. https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/models/image_transfor

[2018-09-28 16:27] activatedgeek commented on #239
@cwbeitel The code on the master works just that during inference it always ends up using one of the networks. I wanted to fix that by adding a TensorFlow conditional but broke training.

[2018-09-28 16:49] cwbeitel commented on #239
Maybe it would be helpful to have a test with tiny hparams that runs training and inference in series locally. In my opinion tf.Eager makes this more straightforward, you could just fork this one: https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/data_generators/allen_brain_test.py#L157

[2018-09-28 17:01] activatedgeek commented on #239
@cwbeitel Do you know of an easy way to convert my non-eager T2T code to eager mode? This would be a great savior to help me debug.

[2018-09-28 17:13] cwbeitel commented on #239
The model will work with both. In [that test](https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/data_generators/allen_brain_test.py#L157) model = image_transformer_2d.Img2imgTransformer(...) instantiates a typical model built in the same way as yours, decorates a loss function to work with eager, then directly applies gradients produced from it. Having called tfe.enable_eager_e

[2018-09-28 17:35] activatedgeek commented on #239
@cwbeitel Do you mind skimming through the two files ([`function_docstring.py`](https://github.com/kubeflow/examples/blob/40be7e685334070ecc0c5f0c25ff60182869478f/code_search/src/code_search/t2t/function_docstring.py) and [`similarity_transformer.py`](https://github.com/kubeflow/examples/blob/40be7e685334070ecc0c5f0c25ff60182869478f/code_search/src/code_search/t2t/similarity_transformer.py)) in #2

[2018-09-28 17:55] inc0 commented on #239
What I've noticed (yesterday evening, didn't get too much into it) is that Embedding layers in T2T are much simpler than what Hamel did (or it looks like it to me).
Particularly, if I understand correctly, this:
https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/models/transformer.py#L1081 seems to be correspondent with this:
https://github.com/hamelsmu/code_search/blob/master/n

[2018-09-28 19:03] cwbeitel commented on #239
Ok hm well just to confirm regarding the shuffling question I raised a while ago it looks like for Text2TextProblem this is handled in for you but you could also confirm that by iterating over examples in a notebook and Googling the function docstrings for sequential examples.

Also more generally it would be good to just look at what is ending up in "inputs", "targets", and "emb_code" just to san

[2018-09-28 19:09] cwbeitel commented on #239
And you said that error happens at the end of training, not during? Then it's probably a problem with the eval phase specifically. If you turn off eval by using schedule=train then you shouldn't see the error.

[2018-09-28 19:12] cwbeitel commented on #239
And you probably will want a way to sanity check the cosine distance code in body as @jlewi as suggesting.

[2018-09-28 19:16] jlewi opened #254 "[code_search] Compute an interpretable loss/quality metric"
We need an evaluation metric that gives us some qualitative sense of how well a model is performing.

From a performance what we care about is whether a search query is correctly mapped to the code that goes with that query. So for the test/evaluation we can compute the number of correctly matched and incorrectly matched examples.

Given a training example (Qi, Ci) where Qi is the query  and Ci is

[2018-09-28 19:18] jlewi commented on #239
Filed #254 about measuring the quality of the model since this issue was getting logged.

I think once we fix #254 we could do a quick sanity check of comparing a trained model to a randomly initialized model.

[2018-09-28 19:30] cwbeitel commented on #254
So with this metric you're taking the mean distance to all the non-matching examples (that you sample) and asking wither the distance to the matching example is much less? That's a good measure. You can also relate that to the distance you plan to use when looking up queries. Also maybe typo, I think you meant distance(Qi, Ci).

[2018-09-29 01:56] jlewi commented on #254
I think we can use our existing inference structure to compute this.

* We already compute the embeddings for all the code examples
   * These should be available both in nmslib and BQ
* We have TFServing to compute the embeddings of the search code
* We use nmslib to look up the nearest neighbor

So we need to make the following changes

* Use nmslib to return K most similar docs and feature embe

[2018-09-29 16:11] cwbeitel commented on #239
@activatedgeek Maybe [this notebook](https://github.com/cwbeitel/tk/blob/master/docs/code_search_debug.ipynb) will make debugging a little easier!

[2018-09-29 22:45] jlewi opened #256 "[code_search] use json, avro, tfrecords file instead of CSV"
Right now most of the data is stored in csv files.

We might be better off switching to json, avro, or tfrecords so that we can store records more easily.

[2018-09-29 23:36] jlewi opened #257 "[code_search] use spacy to tokenize the search queries"
During preprocessing we tokenize the docstrings using the spacy library.
https://github.com/kubeflow/examples/blob/2064b43deffa436fdf148edc2d4e67ee1580839a/code_search/src/code_search/dataflow/utils.py#L7

It doesn't look like we tokenize the search query at serving time
https://github.com/kubeflow/examples/blob/2064b43deffa436fdf148edc2d4e67ee1580839a/code_search/src/code_search/nmslib/search_eng

[2018-09-29 23:55] activatedgeek commented on #257
That's a great point. However, it appears that the encoder that I am using from T2T model only takes in a string (and returns a list of integers values). See [here](https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/data_generators/text_encoder.py#L308).

I think that using `spacy` for tokenization only helps in situations where the input query has more complicated tokenizations

[2018-09-30 01:00] jlewi commented on #257
Does spacy drop things like punctuation? Or perform other transformations?

Can we just run spacy and then join the output with a space before passing to T2T?

[2018-09-30 01:01] jlewi opened #258 "[code_search] Unittest for similarity and loss computation using TF.Eager"
Here:
https://github.com/kubeflow/examples/blob/2064b43deffa436fdf148edc2d4e67ee1580839a/code_search/src/code_search/t2t/similarity_transformer.py#L32

We construct a simple network to compute the loss for the query and code embeddings.

We can pull that code out into a class method and then write a unittest for it using TF.eager

[2018-09-30 02:33] activatedgeek commented on #257
I think it doesn't given that its sole purpose is to identify tokens in a grammar.

Yes, that is a possibility at the risk of introducing `<UNK>` (unknown) tokens in the input vector.

[2018-09-30 21:01] jlewi opened #259 "[code_search] Fix the loss function"
There was discussion in slack about trying different loss functions. I pasted the conversation below but here are the ideas mentioned

1. @activatedgeek suggested using fully connected layer with one sigmoid output
1. @hamelsmu suggested using cosine distance, followed by tanh, use a logits function that doesn't involve logits e.g sparse_categorical_crossentropy (details below).

Sanyam Kapoor [6

[2018-09-30 21:43] hamelsmu commented on #259
The way I see it, the current implementation of using the `cosine distance`, which is bounded between [0,2] as the logit **represents a bug.**  This is because logits are un-normalized values before being passed to softmax.

Here are some of the reasons why I believe this is a bug:

1.  typically as input into tf.nn.sparse_softmax_cross_entropy_with_logits for the `logits` parameter, you would pro

[2018-09-30 21:50] hamelsmu commented on #259
Actually I made a mistake in this comment editing it now.

[2018-09-30 22:03] jlewi commented on #249
@BenHall I might suggest removing the link for now. We'll try to get it back up but I'm not sure when we'll have the cycles to do so.

[2018-09-30 22:13] hamelsmu commented on #259
Ok I updated my explanation to correct a detail that I overlooked, however, my recommendation is very similar.

[2018-09-30 22:24] jlewi opened #260 "[code_search] Fix model export for computing code embeddings"
Right now I think we are using the same T2T exported model for computing the code embeddings and the function embeddings.

But I think T2T exporter will create an exported model that outputs whatever the body function returns as outputs (see [T2T docs](https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/utils/t2t_model.py#L67))

Our body function is returning the query/docstring

[2018-10-01 03:49] cwbeitel commented on #259
Yeah I agree, we should be using cosine similarity not cosine distance. I misunderstood initially (equated the two) and thought that's what we were using which is maybe why it was confusing what I was saying to build on @jlewi's idea of using a log - we can apply the log to *cosine similarity* values that have been shifted by one to be on [0, 2] instead of [-1, 1]. The result of this will be cente

[2018-10-01 03:55] cwbeitel commented on #259
Ugh again! Made one edit, changed "compute cosine distance scores" to "compute cosine similarity scores" in the first code comment.

[2018-10-01 05:27] hamelsmu commented on #259
@cwbeitel sorry, I meant `sigmoid` activation, not `tanh`

[2018-10-01 05:40] hamelsmu commented on #259
And yeah its not perfect since the values going in are bounded between [-1, 1] so the values coming out will be bounded at ~  [.25, .75] instead of [0 , 1] but should still work, I think the rank loss you suggest could be good too

[2018-10-01 12:10] jlewi commented on #260
It looks like in an email thread @rsepassi suggested adding a tf.cond to the graph and then including that in the features dict to use the right graph for inference. Which is what I think #233 is doing.

[2018-10-01 14:01] cwbeitel commented on #259
Hmm yeah I agree about the [0.25,0.75] thing and that's why I was proposing to try scaling out to [-k,k] to more broadly span the domain of the sigmoid but I take that back - we want to make sure our distance measure is incentivizing the learning of embeddings relative to the nearest-neighbor lookup we'll be doing at search time. E.g. if we're doing lookup within a radius of 0.1 then we don't want

[2018-10-01 14:04] cwbeitel commented on #259
In the case where we do this kind of shift I would then advocate also scaling out from [-1,1] to [-k,k] which would put the shift at -k*(1-d) for a lookup distance of d.

[2018-10-01 14:18] cwbeitel commented on #259
That was confusing about shifting and "squashing" the sigmoid's activation point - that's what we're accomplishing by shifting and stretching the input, i.e. re-positioning the decision boundary and making the distinction more precise.

[2018-10-01 15:12] cwbeitel commented on #260
Hmm I'm not sure the tf.cond is necessary but maybe I'm misunderstanding. You should just be able to have an infer method used like `self.infer(mode="code_embedding")` or `self.infer(mode="string_embedding")` that, depending on the mode, either calls self.encode with the string_embedding or code_embedding variable scope, thereby using use appropriate set of variables for the two encoder variants.

[2018-10-01 15:33] hamelsmu commented on #259
Ok I must admit that it feels like we are in the headspace of kind of making this up.  I feel like someone must have tackled this before.  Will try to look at some papers to see what other people do in this paradigm (maybe you already have — what are others doing?).

[2018-10-01 16:08] hamelsmu commented on #259
However, if we are comfortable making up our own scheme (why not) here is a way to do it.

Right now the output of the sigmoid activation discussed above gives you a number on the range [0.25, 0.75]  We can stretch this value to [0, 1] by using the following transformation:  `f(x)  = 2x - 0.5`.

(.25 * 2) - .5 = 0
(.75 * 2) - .5 = 1

I am not sure this transformation makes any difference in the mo

[2018-10-01 16:12] cwbeitel commented on #259
That's also a good idea and I agree it's worth trying.

The sigmoid is a continuous function so you can just shift and squash it by altering the domain continuously. If you multiply by k your similarities will still be centered on 0 but for sufficiently large k sig(k) ~ 1 and sig(-k) ~ -1. E.g. for k=3 a similarity of 1 would be sig(kx)=0.95.

With the shift we'd be computing f(x) = sig(k(x-(1-d))

[2018-10-01 16:15] hamelsmu commented on #259
Also, arranging it in the way I described above still incentivizes the network to force the cosine proximity of the embeddings towards -1 when the (code, query) is not similar and towards 1 when the (code, query) is about the same thing.   So I think we don't have to worry if the predictions take up the entire scale of [0, 1]  ..... this is just a hack anyways to learn embeddings such that similar

[2018-10-01 16:17] cwbeitel commented on #259
Oh you posted your last two before I refreshed. I have not done a lit review, that's a good idea, only was inspired toward that last thing by papers showing you can do arithmetic in embedding spaces (which is something you might want to actually incentivize in your loss).

It might indeed work fine without doing the transformations or getting complicated, I agree.

[2018-10-01 16:19] cwbeitel commented on #259
I agree that it incentivizes the optimization in the right direction but I think the vanilla sigmoid isn't emphasizing that we aren't simply trying to tell the difference between close and far, we're trying to distinguish between a specific small region around a query and everything not in that region.

Someone at github should suggest a feature of live-refreshing comments on issues 😉

[2018-10-01 16:27] hamelsmu commented on #259
I know man, sometimes github issues drive me nuts.

Question about this:

Since we are using cross entropy loss, the loss function penalizes us more the more "incorrect" our predicted probability is.  For example if we predict .65 and the true label is 1 then we will be penalized more than if we predict .75.   Because of the continuous nature of cross entropy loss, I would think that this network

[2018-10-01 16:27] cwbeitel commented on #259
With that k=20 example above that's like saying "things that correspond should have very high distances, above 0.9 or so" and "measures of distance for things that are opposites or not close don't matter". Idk if we really want to say the last but that's the intuition.

[2018-10-01 16:30] cwbeitel commented on #259
I agree it might work just fine without the fancy loss. But ultimately the loss expresses what you want to accomplish and the easier you can make the optimization the better. Given infinite optimization time the difference wouldn't matter, I think we're considering this in terms of simplifying the challenge of the opt.

[2018-10-01 16:34] hamelsmu commented on #259
Ok.  By the way I believe Lukas at Google recommended hinge loss when advising us on this project.

[2018-10-01 16:35] activatedgeek commented on #259
There's one more to the loss part here. We also need to mask the padded string so that the gradients don't flow in from there.

[2018-10-01 16:38] cwbeitel commented on #259
Yeah I think what they were doing in the [rank_loss code](https://github.com/tensorflow/tensor2tensor/blob/660d49fc7a20025c1a8ae4448ad92022f042f02b/tensor2tensor/models/slicenet.py#L152) is like the code I provided above plus hinge?

@activatedgeek Can you elaborate, I don't understand.

[2018-10-01 16:49] cwbeitel commented on #259
You could also compare the similarity matrix with its transpose, i.e. comparing d(Di, Cj) with d(Cj, Ci which in a consistent embedding space would be the same.

[2018-10-01 16:53] jlewi commented on #260
@cwbeitel Is is it possible to specify mode when using t2t_exporter to export the model?

[2018-10-01 17:34] hamelsmu commented on #259
Rank loss probably works fine too, I haven’t looked into that to be honest.  Thanks for pointing to the T2T code, I’ll take a look

[2018-10-03 19:31] cwbeitel commented on #258
Here's a starting point:

[2018-10-03 19:34] cwbeitel commented on #260
As discussed here's a starting point for testing training, exporting, and querying the model server e2e so we can verify everything is fitting together: https://github.com/cwbeitel/tk/blob/master/tk/models/similarity_transformer_export_test.py

As well as a thoughts on how we could refactor SimilarityTransformer to be more modular making it easier to use for inference and in testing https://github

[2018-10-03 19:35] cwbeitel commented on #260
As well as a [starting point](https://github.com/cwbeitel/tk/blob/master/tk/models/similarity_transformer_test.py) for some basic tf.Eager tests you were suggesting in https://github.com/kubeflow/examples/issues/258

[2018-10-04 04:29] jlewi commented on #249
The ksonnet app is currently pointing to

[code]

This corresponds to

project: kubeflow-dev
cluster: dev-cluster

[2018-10-04 04:33] jlewi commented on #249
This is a very old cluster and it looks like the kubeflow namespace is being deleted.

[code]

[2018-10-04 18:14] cwbeitel commented on #260
To summarize our discussion we discussed exporting a single model that will compute both doc and code embeddings and return a single result with the computed embeddings concatenated. This is in the interest of having a short-term (at least) fix and trades extra computation for simplicity. This is reasonable because we aren't currently blocked by embedding computation time which would be more relev

[2018-10-04 18:34] jlewi commented on #249
Should be back up at

gh-demo.kubeflow.org

I moved it into a new project
kubecon-gh-demo-1
and PR #261 should make it easier to deploy and update in the future.

[2018-10-04 19:05] cwbeitel opened #262 "[code search] Consider dual model export"
For now we are pursuing a short-term (at least) solution to the problem of model export that trades extra computation for infrastructural simplicity, see https://github.com/kubeflow/examples/issues/260

In the longer-term we might consider exporting two separate models for computing the separate types of embeddings, each inheriting from the single parent model used in training. Two issues with thi

[2018-10-06 14:38] cwbeitel opened #263 "Enable local tests of served models"
We would like to be able to write tests that verify served models perform as expected by serving these on localhost and validating responses from request test cases.

Emulating https://github.com/tensorflow/serving/blob/master/tensorflow_serving/model_servers/tensorflow_model_server_test.py#L117, we can accomplish this in part by having a class that will construct and run a `tensorflow_model_serve

[2018-10-09 01:06] jlewi commented on #174
@hackintoshrao Yes please; are you still interested in working on this?

[2018-10-09 01:30] jlewi commented on #186
We should also think about which model/code we want to use;
Right now we have two

1. notebooks/train.py - I think this is the original Keras code
1. The TF.Estimator model added in #203

The Keras model doesn't produce TensorBoard output as far as I can tell.
But currently our serving story using Seldon is for the Keras model.

If we switch to using TF.estimator; we can hopefully just serve it us

[2018-10-10 14:12] jlewi opened #266 "[financial_ts] Publish docker images and change links"
Once #252 is submitted we should publish Docker images to gcr.io/kubeflow-examples
and change the links in the README.

We should also change the links to the notebook

[2018-10-13 04:33] activatedgeek commented on #259
Thank you @hamelsmu for pointing out the bad cosine distance. It was a clear oversight on my part.

And also the point about learning the fact that similar things need to close AND dissimilar things need to be far is extremely important here.

I am currently trying two things:

1. Rank Loss as @cwbeitel suggested
2. Contrastive Loss (http://yann.lecun.com/exdb/publis/pdf/hadsell-chopra-lecun-06.pd

[2018-10-13 10:03] hackintoshrao commented on #174
Hello @jlewi , absolutely yes.

[2018-10-13 17:16] activatedgeek commented on #259
@hamelsmu I modified the code to do a simple sigmoid after unnormalized dot product (See [here](https://github.com/activatedgeek/examples/blob/update-similarity-transformer/code_search/src/code_search/t2t/similarity_transformer.py)).

The loss stays constant after some time at ~0.5 even with this update. It appears that the classifier is completely confused (always giving probabilities close to 0.

[2018-10-14 00:02] cwbeitel commented on #262
To my knowledge at the moment this will not work since variables are saved in checkpoints in paths that include the model name. The above should give an error along these lines:

Key similarity_transformer_dev/body/decoder/layer_0/encdec_attention/layer_prepostprocess/layer_norm/layer_norm_bias not found in checkpoint

To accomplish what I was describing above I think you'd want to use a single mo

[2018-10-14 22:11] jlewi commented on #81
See kubeflow/examples#134 experiments with ModelDB's API and UI

[2018-10-14 23:29] mpvartak commented on #134
Hey @jlewi @garganubhav my team is rewriting the guts of modeldb to make it more robust, add features, and make easy to deploy on kubernetes. let me share the roadmap and get the kubeflow team's feedback too. on slack, is katib the best channel to have this discussion?

i'm happy to help @garganubhav on this issue, let's figure out if it makes sense to integrate into current modeldb or can wait fo

[2018-10-15 02:38] cwbeitel commented on #259
Various losses [here](https://github.com/cwbeitel/tk/blob/master/tk/models/similarity_transformer.py#L45) converge but so far I haven't evaluated whether that's meaningful qualitatively.

Those losses have nicknames in the following notebooks: "kfnet" (kubeflow_similarity_cost), "simple_cd" (simple_similarity_cost), and "slicenet" (slicenet_similarity_cost).

Notebooks [here](https://github.com/cw

[2018-10-15 03:05] cwbeitel opened #268 "[code search] Constraining optimization with secondary problems"
Currently some of our losses for the embedding similarity problem converge but it is unclear whether the corresponding embeddings are meaningful. Also the optimization for embeddings for code and docstrings might be improved if constrained by secondary problems, such as error-correcting doc strings or code.

For the first, it would be helpful to be able to use the encoder in the context of an enco

[2018-10-15 15:36] #249 closed

[2018-10-15 23:48] garganubhav commented on #134
@jlewi yes, would update very soon. @mpvartak thank you, the channel on slack is model-management

[2018-10-16 16:05] dsdinter opened #269 "[Pytorch MNIST] New end to end example presented at Oreilly AI London"
Would like to contribute to this repo with an example showing the below steps ([Demo](https://conferences.oreilly.com/artificial-intelligence/ai-eu/public/schedule/detail/69194) was actually presented at Oreilly AI London):
- Training Pytorch model with CPU vs GPU on MNIST dataset (To show differences in training time per epoch)
- Model from GPU is saved to mounted FS (NFS or GCP Filestore)
- Seld

[2018-10-16 18:33] lawdpls commented on #208
@activatedgeek @cwbeitel Have you guys tried the `continuous_train_and_evaluate` schedule? I tried that on a tiny toy cluster with async training and it worked.

The default schedule for distributed workers is `train` which invokes tf.estimator.Estimator.train, which in itself is not distributed-aware. `continuous_train_and_evaluate` on the other hand calls tf.estimator.train_and_evaluate, and the

[2018-10-16 21:57] cwbeitel commented on #268
POC [notebook](https://github.com/cwbeitel/tk/blob/a01d4a2f10e4145620f178117f94bdfb9ecc6bf6/docs/cs_multi_problem_single_net.ipynb), [problem def](https://github.com/cwbeitel/tk/blob/a01d4a2f10e4145620f178117f94bdfb9ecc6bf6/tk/data_generators/function_docstring.py#L228), and [model](https://github.com/cwbeitel/tk/blob/a01d4a2f10e4145620f178117f94bdfb9ecc6bf6/tk/models/similarity_transformer.py#L23

[2018-10-17 03:30] lawdpls commented on #208
@cwbeitel AFAIK `train` can still work, but you need to tweak the T2T code. I tried the workaround mentioned in [issue #926](https://github.com/tensorflow/tensor2tensor/issues/926), basically creating `tf.train.clusterspec` in `utils/trainer_lib.py` for all workers using any schedules(`train` included). My take on this is that the T2T devs overlooked the fact that train() and train_and_evaluate()

[2018-10-17 13:57] Oblynx commented on #250
Is this a reasonable change or not? Should this example check the certificate or have the correct CAs? Do you want a pull request with this workaround?

[2018-10-17 15:19] Oblynx opened #272 "[object_detection] Error in create-pet-record-job: pet_label_map not found"
Following the instructions for the object recognition example, creating the TF pet records fails for me after applying the ks component `ks apply ${ENV} -c create-pet-record-job`.

Pod logs:
[code]

[2018-10-17 15:21] Oblynx commented on #272
Fix is trivial; the file path misses a slash at the beginning. After fixing:

[code]

[2018-10-17 16:14] cwbeitel commented on #208
Thanks @lawdpls for your insights. Maybe you or @jinliangwei could send a PR to t2t with the changes?

[2018-10-18 16:24] Oblynx opened #275 "[object_detection] TFJob training fails to find train data with default param values"
If we don't execute `ks param set tf-training-job mountPath ${MOUNT_PATH}`, but use the default value instead, after `ks apply ${ENV} -c tf-training-job` the TFJob's pods fail.
Logs show that they can't find the training data, because the default path is wrong:

[code]

Solution: fix the default path.

[2018-10-19 07:26] Oblynx opened #277 "[object_detection] tf-training-job doesn't complete"
Following the object_detection instructions, I launched a TFJob for training with the default image `lcastell/pets_object_detection`. After 14h of training with 6000m CPU & 3000Mi RAM, the chief's logs show no progress.

Image ID:
[code]

Chief's logs:
[code]

I'll try with a newly-built image.

[2018-10-19 09:06] Oblynx commented on #277
Building the image locally, the result is the same: training stuck. Logs:

[code]

[2018-10-22 13:06] jlewi opened #279 "[GH Issue Summarization] Serving story for training with TF.Estimator"
We are working on converting the example to train the model using Keras with TF.Estimator.
https://github.com/kubeflow/examples/tree/master/github_issue_summarization/distributed

Once we get that working we will need to come up with a serving story.

I think using TFServing would be nice; but I'm not sure how we'd handle some of the text preprocessing that the code is doing using Keras.

We could

[2018-10-22 19:14] #275 closed

[2018-10-22 21:57] #272 closed

[2018-10-23 02:44] jlewi commented on #186
I don't think [train.py](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/train.py) is actually training the model

I think its missing a call to model fit e.g. if you look at the notebook we do

[code]

[2018-10-23 04:36] jlewi commented on #174
@hackintoshrao My suggestion would be to go through the markdown docs in this directory:
https://github.com/kubeflow/examples/tree/master/github_issue_summarization

and try to follow the instructions and then report and potentially fix any issues you run into.

In particular here are some changes to look out for

* We have deleted the T2T jobs so we should remove any reference to them in the docs

[2018-10-23 04:47] jlewi commented on #186
There are 3 versions of the code

* [Training.ipynb](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/Training.ipynb)
* [train.py](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/train.py)
* [distributed/train.py](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/distributed/train.py)

There's real

[2018-10-23 23:57] jlewi opened #280 "[GH Issue Summarization] Keras model doesn't work with keras in TensorFlow"
#203 Introduced a new version of the train.py code that uses tensorflow.keras rather than the independent  keras module. This was intended to support distributed training using TF.Estimator.

The TF.Estimator code didn't work; it looks like we are hitting keras-team/keras#976

In #265 we wanted to eliminate the code duplication between train.py and distributed/train.py. So we created a single mode

[2018-10-24 00:08] jlewi commented on #196
#203 doesn't appear to properly train a model so reopening this bug.

If you look at the original PR there was a fix me
https://github.com/kubeflow/examples/pull/203/files#diff-400db61475ce06583dc398d366335851R143

Indicating that the code is hitting:
https://github.com/keras-team/keras/issues/9761

#203 seems to have worked around that by dropping a layer and thus computing non-sensical predicati

[2018-10-24 00:41] jlewi opened #281 "[GH Issue Summarization] How can we run TensorBoard with Keras"
Right now we are training models using Keras.

We'd like to use TensorBoard to highlight performance. Keras' fit function doesn't output a TF Events (at least not as we've currently implemented it).

Maybe there's a Keras library that supports using TensorBoard?

If we get TF.Estimator working (#196). That would also fix things.

[2018-10-24 00:43] jlewi commented on #281
It looks like there's a Keras callback for TB.
https://keras.io/callbacks/#tensorboard

[2018-10-24 09:41] hackintoshrao commented on #174
Thanks @jlewi for your time, these would be good starting points.

[2018-10-25 17:20] netankit commented on #186
/priority p0

[2018-10-25 17:46] netankit commented on #186
@jlewi  Following this "Need = P0, Want = P1, Punt = P2".
But, thanks for clarifying on the call. Just felt this was a Need as this example is something most people have gravitated first to get started.

[2018-10-26 18:04] cwbeitel opened #283 "[code_search] Retain symbols through preproc. for richer embeddings"
Currently it appears the preprocessing step strips out newline characters, a common technique in the processing of natural language where sentences are delineated by periods and newlines typically don't have the same significance as they do in languages like python where separate "phrases" may not be able to be distinguished otherwise. Take the following example from the code_search dataset:

The

[2018-10-26 22:35] connected-bsamadi opened #284 "[code_search] GOOGLE_APPLICATION_CREDENTIALS"
I'm running the code_search example on Kubeflow 0.2.7 on GKE. I was wondering where GOOGLE_APPLICATION_CREDENTIALS is defined. I get this error:
```ERROR: (gcloud.auth.activate-service-account) Unable to read file []: [Errno 2] No such file or directory: ''```

Do you I need to do define it myself? Is this because I use Kubeflow 0.2.7?

[2018-10-29 15:42] chrisheecho commented on #134
Hi @garganubhav do you have any update on this one? we are trying to cut down issues on 0.4 and would love to get your take

[2018-10-29 15:48] mpvartak commented on #134
I have a solution for the persistence issue. Let me push to MDB repo.

On Mon, Oct 29, 2018 at 8:46 AM chrisheecho <notifications@github.com>
wrote:

[2018-10-29 15:50] chrisheecho commented on #186
sounds like P1 to me!

[2018-10-29 17:21] garganubhav commented on #134
@chrisheecho this is tested. Modeldb is working with Katib.

[2018-10-30 04:18] jlewi commented on #284
Are you running the notebook?

You might need 0.3 in order to get the GCP secret to be automatically mounted in the container.

[2018-10-30 17:56] cwbeitel commented on #259
Additional experiments and qualitative analysis notebooks [here](https://github.com/cwbeitel/tk/blob/7d7a1a777a2cb1a47a86a2b53963d9896a7ea437/docs/cs_fix_loss3.ipynb) and [here](https://github.com/cwbeitel/tk/blob/7d7a1a777a2cb1a47a86a2b53963d9896a7ea437/docs/cs_local_search.ipynb).

Something you'll note in the notebooks is that I started experimenting with a transpose similarity loss. Intuitivel

[2018-10-31 12:40] jlewi commented on #239
Thanks @cwbeitel

@cwbeitel @activatedgeek @hamelsmu It looks like the vocabulary in
gs://kubeflow-examples/t2t-code-search/20180802/data/vocab.github_function_docstring.8192.subwords

Has 8164 words. Does that seem reasonable?

[2018-10-31 12:45] jlewi commented on #239
Just noticed @cwbeitel's comment https://github.com/kubeflow/examples/issues/259#issuecomment-434406023 in the other issue noting that the vocab size seems low.

[2018-10-31 16:09] cwbeitel commented on #239
You could get a sense of it by taking a sample of raw doc string or code and compute edit_distance(decode(encode(string)), string) where decode and encode are coders that use that vocab, maybe more or less this:

[code]

[2018-10-31 16:44] cwbeitel commented on #239
This results from the setting of approx_vocab_size (where 2^13 ~ 8k), e.g.

[code]

Numerous other language-oriented problems in t2t use vocab sizes of 8k or 32k, see [this](https://github.com/tensorflow/tensor2tensor/search?q=approx_vocab_size&unscoped_q=approx_vocab_size)... but perhaps a larger vocab is needed for code than prose given the ways words combine with symbols, e.g. here's a sample f

[2018-10-31 23:56] cwbeitel commented on #268
Along this angle I'm going to explore the expanded problem of learning the mapping g: <A(c), A(d)> -> <c, d> for code 'c', doc string 'd', ablation function A, and concatenation operation < , >. Then embedding of code alone could be performed by constructing an artificial <pad, d> example and returning the intermediate encoder representation for it, likewise for <c, pad>. But if we do have a doc s

[2018-11-01 12:39] jlewi commented on #284
@connected-bsamadi Did you get this resolved?

[2018-11-01 12:41] jlewi opened #292 "[code_search] TF.DataValidation for GitHub"
It would be great to have a notebook that used TF.DataValidation to compute and visualization statistics for the GitHub dataset

e.g.
https://github.com/tensorflow/data-validation/blob/master/examples/chicago_taxi/chicago_taxi_tfdv.ipynb

This would be really helpful for GitHub related examples. This would help us show users how TFX and Jupyter can be used for data exploration in the early phases

[2018-11-01 13:00] jlewi commented on #259
If someone wants to write up a short (~ 1 page doc) summarizing the problem and listing various ideas and things we've tried; I'd be happy to circulate it among the folks here @ Google.

/cc @hamelsmu @cwbeitel @activatedgeek

[2018-11-01 16:37] cwbeitel commented on #259
I would be happy to do that or contribute to that.

[2018-11-01 20:13] cwbeitel commented on #259
Here's a [doc](https://docs.google.com/document/d/1NmZcZcu9C59ra8j9HLP01wqo9kh9bD9EJdEDRYBzbKE/edit?usp=sharing), let me know if I missed anything @hamelsmu, @activatedgeek, or @jlewi.

[2018-11-01 22:53] hamelsmu commented on #259
cc: @rand

[2018-11-02 06:09] jlewi opened #295 "[code_search] Run E2E test as part of CI"
#291 added similarity_transformer_test.py which runs through data preprocessing, training, and model export.

We should integrate this into the CI system.

The main things we need to do are

1. Create a Docker image with the suitable dependencies (e.g TensorFlow in it)
    We should probably base this on the image used to run the code.

1. We can modify test_py_checks to allow invoking specific te

[2018-11-02 13:53] jlewi commented on #239
Thanks @cwbeitel

[2018-11-02 15:04] connected-bsamadi commented on #284
I tried it with Kubeflow 0.3 and it works fine. To deploy Kubflow 0.2, I had used the following script. However, I just noticed these are, I think, out-dated. I just found the new instructions here:
https://v0-2.kubeflow.org/docs/started/getting-started-gke/

[code]

[2018-11-02 15:04] connected-bsamadi commented on #284
Since I now have a stable Kubeflow 0.3 deployment, I will continue with that. Thank you!

[2018-11-02 15:04] #284 closed

[2018-11-02 15:52] connected-bsamadi opened #297 "[code_search] Dataflow Job for Pre-Processing doesn't create dataset on BigQuery"
The code_search.dataflow.cli.preprocess_github_dataset command finishes successfully but it doesn't create a dataset on BigQuery. This is the output of the command:
[code]

[2018-11-02 16:52] #260 closed

[2018-11-04 01:08] jlewi commented on #297
The command above should be submitting a Dataflow job which does the processing. So you should check that the Dataflow job actually completed successfully.

Can you check your dataflow job in the UI? Does it show a WriteToBigQuery step if you expand it?
Did your Dataflow job actually complete?

Here's what I see in the GCP Cloud Console

![dataflow_graph](https://user-images.githubusercontent.com/

[2018-11-04 01:11] jlewi opened #299 "[code_search] preprocess_github_dataset should print out the Dataflow job that was submitted"
When you run `preprocess_github_dataset` there is no indication that a Dataflow job was submitted.
See output below. We should print out information indicating a Dataflow job was submitted.

Otherwise its not clear to users what happened (e.g. #297)

Here's the command I ran

[code]

Here's the output
[code]

[2018-11-04 01:43] jlewi opened #300 "[code_search] Dataflow job to preprocess the dataset is really slow"
I'm running the Dataflow job to preprocess the data (produce CSV).

Dataflow is indicating only 90 elements/s being processed and indicating days of wall time. This seems awfully slow.

Based on the graph it seems like the big bottle neck is the tokenize code step.

[2018-11-04 01:43] jlewi commented on #300
![dataflow_graph png](https://user-images.githubusercontent.com/777219/47959074-69ed9100-df98-11e8-99de-ad81c806ae4d.png)

[2018-11-04 01:52] jlewi commented on #300
Could we be hitting this issue?
https://stackoverflow.com/questions/48463200/debugging-slow-reads-from-bigquery-on-google-cloud-dataflow

One way to debug it might be to export the data to GCS and read from GCS instead of BigQuery.

Or we could read the entire dataset from BigQuery (as opposed to doing a query); and then do the filtering and preprocessing inside Dataflow.

[2018-11-04 14:42] jlewi opened #301 "[code_search] preprocess job will fail if target dataset doesn't exist"
The dataflow job to preprocess the data will fail if the target dataset doesn't exist.

Here's the error:

[code]
A quick fix is to make the dataset using the bq command line tool

[code]

The preprocess job should automatically create the dataset if it doesn't exist. Can we modify the BigQuery Beam Writer to create it?

If not we should have the main program use the python client library to check

[2018-11-04 14:50] jbottum commented on #281
/priority p2

[2018-11-05 02:33] jlewi commented on #300
I suspect the problem is this line right here:
https://github.com/kubeflow/examples/blob/acd80077175b619c12989a23c9d7bd2c2095da69/code_search/src/code_search/dataflow/utils.py#L17

We are loading the spacy model on every call to tokenize. Loading the model is really slow; we should only do that once and then reuse it across invocations.

[2018-11-05 13:59] jlewi commented on #300
@IronPan I'll submit a PR soon that will improve the performance otherwise the job won't run in a reasonable amount of time.

[2018-11-05 18:01] dsdinter opened #303 "[mnist_pytorch] Enable Tensorboard"
- Implement Tensorboard to visualise Pytorch model in E2E MNIST Pytorch example

[2018-11-05 18:02] dsdinter opened #304 "[mnist_pytorch] Implement advanced Seldon routing"
Implement A/B testing with Seldon in E2E MNIST Pytorch example

[2018-11-05 18:43] jlewi opened #305 "[code_search] HP Tuning with Katib"
It would be great to get HP tuning integrated into the code search example.

A simple grid search for some parameter would be a great place to start.

I think there are a couple blocking issues

* I think we might need to make some code changes to easily expose certain parameters like learning rate for HP tuning
   * Its not clear to me how T2T is meant to interact with HP tuning; I think T2T is i

[2018-11-05 19:17] chrisheecho commented on #281
/remove-priority p1

[2018-11-05 21:03] IronPan commented on #300
Thanks great to know!

[2018-11-05 23:22] jlewi opened #308 "[code_search] jsonnet overrides don't work as expected"
The ksonnet is structured such that we define two dictionaries of common parameters "t2t-job"
and "t2t-code-search"
https://github.com/kubeflow/examples/blob/master/code_search/kubeflow/components/params.libsonnet#L4

These parameters can then be used by a variety of different components.

This works as long as we use the default parameters or change the parameter for all environments.

What doesn

[2018-11-05 23:43] jlewi commented on #308
I wonder if the correct thing to do here is to take advantage of global parameters.
https://github.com/ksonnet/ksonnet/blob/master/docs/concepts.md

Right now we're defining pseudo modules. Here's the relevant jsonnet code in params.libsonnet for my environment

[code]

So if we set a global I think it will automatically be added to every component and I think we can specify globals per environmen

[2018-11-05 23:47] jlewi commented on #308
Downside of using globals is that they can't be easily set via command line (at least not with 0.12).

[2018-11-06 02:27] jlewi opened #310 "[code_search] training on GPU fails with import error"
I tried to run training on GPU and it failed with the following import error.

[code]

Here's the TFJob spec.

[code]

[2018-11-06 02:33] jlewi commented on #310
Looks like a protobuf issue related to tensorflow/tensorflow#20778.

In #302 we upgraded the protobuf to fix apache_beam.

[code]

I suspect that might be the problem.

One solution would be to just build different Docker images for Dataflow and training.

Of course the batch prediction job still has a dependency on TensorFlow.

[2018-11-06 02:40] jlewi commented on #310
I think the problem is in #302 I started doing pip install requirements.txt
https://github.com/kubeflow/examples/blob/master/code_search/src/requirements.txt

To create a container suitable for running the Dataflow job.  But I think that messes things up because that requirements.txt is specifying a different TF image then is used in the base image.

[2018-11-06 03:19] kkasravi commented on #308
It might be because we define params to be

    local params = _env + _params,

(see jupyterhub.libsonnet for example) which really should be reversed

    local params =  _params + _env,

but is that way because we used to supply a namespace override in params.

[2018-11-06 05:07] jlewi commented on #308
This issue is specific to the code search example. I don't think we are adding env and params here.

What we're doing in the ksonnet app for this example is defining a virtual component "t2t-code-search"
https://github.com/kubeflow/examples/blob/master/code_search/kubeflow/components/params.libsonnet#L20

Whose parameters are used in other places

https://github.com/kubeflow/examples/blob/master/c

[2018-11-06 09:48] dsdinter opened #312 "[mnist_pytorch] Implement E2E tests"
We should have E2E tests that cover:

1. Training the model
1. Deploying the model
1. Client code to send predictions
1. Notebook (if there is one)

[2018-11-06 11:22] dsdinter opened #313 "[mnist_pytorch] Consolidate Pytorch CPU/GPU training jobs to reduce code duplication"

[2018-11-06 14:24] jlewi opened #314 "[code_search] workers keep getting killed when training in distributed mode"
I'm trying to train a model distributed using the transformer_hbase parameters.

I'm using n1-standard-8 with 1 K80s
8 workers with 1 GPU
2 ps

The workers keep dying; but its not clear why.

Last message in the worker logs is:

[code]

Below are the TFJob operator logs.

[trainer-logs-1106.txt](https://github.com/kubeflow/examples/files/2553519/trainer-logs-1106.txt)

There's no indication that T

[2018-11-06 14:29] jlewi commented on #314
Looks like there is an issue on distributed training:
kubeflow/examples#208

In that case though its hanging which isn't what we are observing.

[2018-11-06 14:32] jlewi commented on #314
The entrypoint script is unsetting TFCONFIG.
https://github.com/kubeflow/examples/blob/aa0061dae211ccfeea50f7bb6e7ca7c23a17ab07/code_search/docker/t2t/t2t-entrypoint.sh#L25

@activatedgeek Do you recall why you did that? Does T2T not understand TF_CONFIG?

[2018-11-06 14:53] connected-bsamadi commented on #297
I just checked it. I see three failed jobs. One of them lasted for a day and 13 hours and I was charged $162 for it!

[2018-11-06 15:11] activatedgeek commented on #314
We were trying to dig into the T2T code and see what parameters were being processed, to figure out what's going wrong with distributed training. To make sure `T2T_CONFIG` doesn't interfere at all with the CLI arguments, we decided to remove it after processing.

[2018-11-06 18:38] jlewi commented on #314
Here's the relevant lines of code
https://github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/python/estimator/training.py#L719

Here's a comment explaining how config.master gets set
https://github.com/tensorflow/tensorflow/blob/23c218785eac5bfe737eec4f8081fd0ef8e0684d/tensorflow/python/estimator/run_config.py#L331

And here's the relevant code to actually set it
https://github.com/tensorflow/t

[2018-11-06 18:49] jlewi commented on #314
Looks to me like t2t_trainer constructs the RunConfig from command line flags rather then respecting TF_CONFIG.
https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/bin/t2t_trainer.py#L232

[2018-11-06 19:14] jlewi commented on #314
I went back to using the entrypoint script.
Workers seem to be running but PS are crashing

[code]

[2018-11-06 19:18] jlewi commented on #314
Looks like TF_CONFIG just uses "chief" as the task type.
https://github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/python/estimator/run_config.py#L287

[2018-11-06 19:23] jlewi commented on #314
Here's what we did for T2T distributed for GitHub issue summarization.
https://github.com/kubeflow/examples/blob/d2c5e949e59bc67afa359f38ae7ed4edefeecbef/github_issue_summarization/ks-kubeflow/components/tensor2tensor-v1alpha2.jsonnet

Looks like we just had the same config as for the workers but with a different value for "--worker_job".

[2018-11-06 20:14] jlewi commented on #314
So I'm hitting two problems

1. Can't start PS that gives me error above https://github.com/kubeflow/examples/issues/314#issuecomment-436356931

1. Without PS training gets stuck after Graph finalized which looks like #208; I see the error

[code]

[2018-11-06 21:11] kkasravi commented on #308
I think we should look at modules - their use would allow easier groupings.

I've been experimenting with it for notebooks

[code]

[2018-11-06 22:14] #300 closed

[2018-11-06 22:14] #299 closed

[2018-11-06 22:36] cwbeitel opened #315 "[code search] update preproc. docs w/ python -mspacy download en"
Run of `code_search.dataflow.cli.preprocess_github_dataset` yields error along the lines of " Warning: no model found for 'en'", fixed with:

[code]

Probably just need that added to the docs, see it's in the docker container.

[2018-11-07 01:51] jlewi commented on #208
Per @cwbeitel's comment I tried; tensor2tensor49e279eb6c871fbebc137d6f598758a275f521c3

Same problem gets stuck at;

[code]

I tried patching the fix tensorflow/tensor2tensor#926 code is on this branch:
https://github.com/jlewi/tensor2tensor/tree/fix_dist_train

That ended up giving me the error

[code]

[2018-11-07 02:11] jlewi commented on #208
Looks like HParams is defined in TF; so maybe its because I'm using a version of TF that is too old; I'm using 1.8 right now.

[2018-11-07 03:08] cwbeitel commented on #208
@jlewi Maybe try a commit or two before that one? If all else fails the version of t2t I'm currently using is in NFS in kubeflow-rl at /mnt/nfs-east1-d/work/tk/vendor/tensor2tensor. You could diff it against that commit but I thought that was the one I was using.

[2018-11-07 03:16] cwbeitel commented on #208
Looks like my training workers are installing that version of t2t on top of tensorflow/tensorflow:latest-gpu so yeah I'd try the most recent tf.

[2018-11-07 06:04] jlewi commented on #208
So after doing the following
  1. Upgrading to TF 1.11
  1. Patching in the fix to #926

I get past finalized graph but now I get stuck at

[code]
I think this indicates none of the workers are registered as the chief.

I think this line might be the problem
https://github.com/tensorflow/tensorflow/blob/5990afceae207e395139e702979fcf9176518cf9/tensorflow/contrib/learn/python/learn/estimators/run_c

[2018-11-07 13:52] jlewi commented on #314
Closing this issue and consolidating on #208

[2018-11-07 13:52] #314 closed

[2018-11-07 13:58] jlewi commented on #208
From @cwbeitel  https://github.com/kubeflow/examples/issues/314#issuecomment-436500220

It looks like @cwbeitel is doing synchronous training as opposed to async training.

Looking at the [docs](https://github.com/tensorflow/tensor2tensor/blob/master/docs/distributed_training.md)

* In async mode there is a chief replica but the corresponding "--worker_id" flag is 0; and the "worker_id" flag for t

[2018-11-07 18:06] jlewi commented on #208
With sync training and using T2T 1.10. I hit the ps  (which are really the workers) are just supposed to call run_std_server. They are crashing with the following exception.

[code]

This looks like a bug in the code to me.

Here's where the code is constructing the T2T experiment and invoking run_std_server
https://github.com/tensorflow/tensor2tensor/blob/091373cd5eade2f108ad0fd8a209df3a5cf76598/

[2018-11-07 19:08] cwbeitel commented on #208
It looks like create_experiment_fn obtains the hparams object from globals() instead of the function args.

[code]
https://github.com/tensorflow/tensor2tensor/blob/091373cd5eade2f108ad0fd8a209df3a5cf76598/tensor2tensor/utils/trainer_lib.py#L695

based on the above and how it's called in t2t_trainer.main:

[code]
https://github.com/tensorflow/tensor2tensor/blob/091373cd5eade2f108ad0fd8a209df3a5cf76

[2018-11-08 02:00] jlewi commented on #208
I was able to work around this and get synchronous training working by

1. Creating my own python script to start a std server.
https://github.com/jlewi/examples/blob/cs_1103_train/code_search/src/code_search/t2t/start_std_server.py

1. Running this for the "workers"

1. Running this in a sidecar of the chief.

Here's the ksonnet comment
https://github.com/jlewi/examples/blob/cs_1103_train/code_se

[2018-11-08 13:32] jlewi commented on #305
HP parameters are listed in the code
https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/models/transformer.py#L1307

Looks like these should be settable via command line argument just by prefixing them with "--hp"
https://github.com/tensorflow/tensor2tensor/blob/8bcbdccf85c0fc60f07945c469ff3213d2e0810d/tensor2tensor/bin/t2t_trainer.py#L139

[2018-11-09 00:13] #310 closed

[2018-11-09 00:50] jlewi opened #318 "[code_search] synchronous training crashes; "The total number of changes to the object exceeds the rate limit""
After running synchronous training for a while the ps (really the workers) started crashing with.

[code]

The chief then exited with

[code]

Here are the logs

[demo-trainer-11-07-dist-sync-gpu-chief-0.log.txt](https://github.com/kubeflow/examples/files/2564182/demo-trainer-11-07-dist-sync-gpu-chief-0.log.txt)
[demo-trainer-11-07-dist-sync-gpu-ps-0.log.txt](https://github.com/kubeflow/examples/f

[2018-11-09 00:57] jlewi commented on #318
Here are the events for the TFJob.

[events.txt](https://github.com/kubeflow/examples/files/2564205/events.txt)

The events indicated the PS exited and then it looks like the job failed. This looks like a bug. At a minimum why didn't we emit an event about the chief pod?

[2018-11-09 00:58] jlewi commented on #318
[demo-trainer-11-07-dist-sync-gpu-chief-0.events.txt](https://github.com/kubeflow/examples/files/2564208/demo-trainer-11-07-dist-sync-gpu-chief-0.events.txt)

[2018-11-09 02:47] chenzhiwei opened #319 "[mnist] use the kubeflow official CI system to build example images"
This is a follow up of PR: https://github.com/kubeflow/examples/pull/316

Detailed can be found inside the PR.

All the example images should be either the opensource project official images or the kubeflow official CI images. See here: https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#image-auto-release

[2018-11-09 05:50] jlewi commented on #308
Here's another idea.

* In experiments.libsonnet we define named sets of parameters corresponding to different sets of parameters.

* In a particular environment we set a global parameter indicating the experiment to use; we can then load the appropriate parameters dictionary from experiments.libsonnet.

[2018-11-09 14:09] jlewi commented on #318
@cwbeitel Do you know off hand whether its the chief that writes the checkpoints in the case of synchronous training?

[2018-11-09 14:17] jlewi commented on #318
It looks like if "Chief" is specified in the job spec; T2T thinks its an async job and changes the RunConfig
https://github.com/tensorflow/tensor2tensor/blob/091373cd5eade2f108ad0fd8a209df3a5cf76598/tensor2tensor/utils/trainer_lib.py#L132

Here's the job spec
[demo-trainer-11-07-dist-sync-gpu.yaml.txt](https://github.com/kubeflow/examples/files/2566169/demo-trainer-11-07-dist-sync-gpu.yaml.txt)

[2018-11-09 17:49] cwbeitel commented on #318
@jlewi I tried repeating what worked for me previously and I got the same master error you are seeing about a gRPC failure, here are my logs and configs:

Master config: https://gist.github.com/cwbeitel/7a6404ad1639af57518cfbf0432def8f
Master logs: https://gist.github.com/cwbeitel/0b65d9234e66198c11e99ea84bf65779

PS/worker conifg: https://gist.github.com/cwbeitel/234036082f70fb1254a390535f6a510a

[2018-11-09 22:32] IronPan opened #321 "[code search] preprocess failed: Can't find model 'en'"
I was following the notebook instruction and got this error when sending preprocess dataflow job

/root/.local/lib/python2.7/site-packages/scipy/spatial/__init__.py:96: ImportWarning: Not importing directory '/root/.local/lib/python2.7/site-packages/scipy/spatial/qhull': missing __init__.py
  from .qhull import *
/root/.local/lib/python2.7/site-packages/scipy/optimize/_minimize.py:37: ImportWarnin

[2018-11-09 22:51] IronPan commented on #321
It looks like I need to run following to install the package
[code]
[Ref](https://github.com/fastai/fastai/issues/632)

[2018-11-10 20:39] IronPan opened #326 "[code search] Model export tf-job succeed when the actual work failed"
The tf-job seem to be succeeded
[code]
while the actual pod log indicates the job failed.

[code]

[2018-11-10 23:33] IronPan opened #329 "[Code Search] Export Tensorflow Model Failed to run"
By following the notebook, here is what I got
[code]

[2018-11-11 00:33] IronPan commented on #329
It might be fixed by https://github.com/kubeflow/examples/pull/320/files#diff-ef12175c2c7d524cf2281d3c878fbedbR38

[2018-11-11 23:39] jlewi commented on #321
@IronPan Where did you run this?

The command above does need to be run in order to have the en package installed.

If you are using the Direct Dataflow pipeline runner then you will need to run the above command to have the package installed on your machine.

However, if you run it using the Dataflow runner the package should be installed on all the workers automatically.

That's because our setu

[2018-11-11 23:41] jlewi commented on #326
The model export step should not be using a TFJob; because t2t-exporter is just some arbitrary binary.

This will be fixed by #320.

[2018-11-11 23:43] jlewi opened #331 "[code_search] Export step should use --export or --export_dir to control location of model output"
This is a follow on to https://github.com/kubeflow/examples/pull/320#pullrequestreview-173709117

According to @cwbeitel we can  use the flags export and export_dir to specify the location of the exported model as opposed to just outputing it to --output_dir + "/export".

[2018-11-12 05:31] jlewi commented on #297
@connected-bsamadi sorry to hear that. There was a bug in the Dataflow job that was fixed by #302. This prevented the job from running efficiently. It show now run in elapsed time of about 20 minutes and use ~110 CPU hours.

[2018-11-12 05:35] #326 closed

[2018-11-12 06:16] rky0930 commented on #277
The same problem here. Any suggestion ?
[code]

[2018-11-12 08:41] jlewi commented on #186
TFJob should be fixed. I think the only remaining work would be to train a model and test the quality of the predictions.

[2018-11-12 09:00] jlewi opened #335 "[code_search] Create a kubeflow pipeline to compute code embeddings"
We'd like a Kubeflow pipeline that regularly runs the Dataflow job to compute code embeddings on the most recent code in GitHub.

We can then add a step to update the nmslib server to use the updated index.

/assign @IronPan

[2018-11-12 13:54] connected-bsamadi commented on #297
Thanks @jlewi. We are talking to Billing Support of Google to see if they can help us. It was a bit weird that every step of the job had failed yet it continued for 91 CPU days.

[2018-11-12 20:50] cwbeitel commented on #318
@jlewi In the worst case we could just have training nodes write checkpoints to NFS and use a separate process for syncing checkpoints to GCS, perhaps only those that have finished being written (i.e. not those with _temp... or whatever in the checkpoint name).

[2018-11-13 17:10] amygdala commented on #196
Just a note that model_to_estimator() doesn't work b/c of passing encoder state to the decoder initial_state (that is, it doesn't work b/c initial_state is set).
I believe the underlying issue is that such a model isn't guaranteed to be serializable.

[2018-11-13 17:14] amygdala commented on #280
re: "Unfortunately using Keras' fit function doesn't work with tensorflow.keras." -- this works for me.  I had to change some import statements to get it to work though... both in in the main script and in the utilities script.
(Also: I'm using tf 1.12 -- but I think the key was the imports).

[2018-11-13 17:15] amygdala commented on #280
Happily, that means that at least we can use Keras' new ability to export in SavedModel format, and so use the trained model with tf-serving.

[2018-11-15 14:54] dsdinter opened #336 "Create GUIDE.md to explain best practices to create Kubeflow examples"
I believe this will help anyone wanting to contribute with new examples or adapt the existing ones to get up to speed quickly and avoid long PRs, but also to keep a consistent format.

Happy to produce the first draft version, things to include:
1. Recommended format of instructions
2. Recommended set of workloads to automate image builds
3. ...

[2018-11-15 16:36] Oblynx commented on #280
I think you mean https://github.com/keras-team/keras/issues/9761

[2018-11-15 16:40] Oblynx commented on #280
Hey @amygdala, what exactly did you change to make it work? Maybe a small PR?

[2018-11-15 18:07] texasmichelle opened #337 "[demo] Add test for simple_pipeline demo"
Blocked by [pipelines-203](https://github.com/kubeflow/pipelines/issues/203)

Add tests for maintaining the [simple_pipeline](https://github.com/kubeflow/examples/tree/master/demos/simple_pipeline) demo.

[2018-11-19 03:41] gaocegege opened #339 "[feature request] CI for gcr.io/kubeflow/tf-benchmarks-cpu"
Now we have an image gcr.io/kubeflow/tf-benchmarks-cpu:v20171202-bdab599-dirty-284af3 while it may be updated, could we CD the image like others?

[2018-11-20 02:04] jlewi opened #340 "[code_search] Found unsupported ObjectField.Kind, type ast.ObjectField"
I tried upgrading the TFServing package to the latest 0.3. version to get the newest prototypes.

[code]

I then tried generating new component which gives me an error

[code]

This doesn't appear to happen if I create a new ksonnet app. So it seems specific to the existing ksonnet app.

[2018-11-20 16:35] dsdinter opened #343 "[mnist_pytorch] Train images broken"
Seems Pytorch is no longer able to detect the MPI backend and the training images built no longer work with latest master version of Pytorch

[2018-11-20 16:36] dsdinter commented on #343
Fixed with #342 checking out release/tag v1.0rc1

[2018-11-21 22:44] jlewi opened #345 "[code_search] UI web app is not reverse proxy friendly"
The web app doesn't appear to work behind the Ambassador reverse proxy.

I'm seeing errors like

[code]

But the app should be served at

[code]

[2018-11-22 14:35] hougangliu opened #346 "[object_detection] lack ks environment directory"
In object_detection ks_app, there is no environments directory, which causes `ks apply ${ENV}` fail.
Also, we need guide user to configure env correctly.

[2018-11-22 16:35] jlewi commented on #346
Don't users need to create their own environment directory corresponding to their specific  cluster?

[2018-11-22 16:45] jlewi opened #349 "[code_search] Create a pipeline to generate and update the index of embeddings"
We'd like to create a pipeline to update the code embeddings with the latest data in GitHub.

The pipeline should consist of three steps

1. Run the Dataflow job to compute embeddings

   * ksonnet componet is
https://github.com/kubeflow/examples/blob/master/code_search/kubeflow/components/submit-code-embeddings-job.jsonnet

   * We should give the output a unique directory

1. Run the K8s job to

[2018-11-22 16:45] jlewi commented on #349
/assign @IronPan

[2018-11-24 08:31] IronPan opened #353 "[Code-Search] Error creating search-index-creator job"
This seem to be a regression caused by https://github.com/kubeflow/examples/commit/26c400a4cd5c5f418d53929bacf2757b7df9b70a#diff-49c8bab84051342ae9a3fa970bb18c65

ks apply code-search -c search-index-creator
[code]

[2018-11-24 21:44] jlewi commented on #353
I think this error means is that the experiment parameter isn't defined for the component.
Since the experiment is expected to be overwritten for the environment its probably missing in your environment if you aren't using the "cs_demo" environment.

Try adding an environment parameter here:

[2018-11-24 22:04] jlewi opened #355 "[code_search] Test for ksonnet components"
We should add a test to verify the ksonnet is valid to catch bugs like #353.

A simple test is to run

[code]

[2018-11-24 22:36] #353 closed

[2018-11-25 07:35] IronPan opened #357 "[code_search] Create function embedding failed - tensorflow no matching distribution"
create function embedding job failed with following error. The job is created by running

ks apply cs_demo -c submit-code-embeddings-job

[code]

[2018-11-26 14:39] hougangliu commented on #212
@ldcastell  I am still blocked by the same error today. And I think others hit it, too.
https://github.com/kubeflow/examples/issues/277

[2018-11-26 19:52] jlewi commented on #357
I haven't encountered this issue.

Which version of Apache Beam are you using.
Each version of Apache Beam i think is test with a specific version of TF for things like TF.transform.
https://github.com/tensorflow/transform

Looking in project code-search-demo; I see successful runs using Apache Beam 2.8.0 which uses TF 1.11 which I believe is what the job should be configured to use.

It looks lik

[2018-11-26 21:51] happyhuman opened #362 "Broken Link"
There is a broken link in this page:
https://github.com/kubeflow/examples/blob/master/github_issue_summarization/01_setup_a_kubeflow_cluster.md

The link is from "Bringing up a Notebook", pointing to https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#bringing-up-a-jupyter-notebook which does not exist.

[2018-11-26 22:15] IronPan opened #363 "[code_search] Switch pipeline function embedding dataflow to use ksonnet component"
Currently the code search pipeline launches the dataflow job using python directly.

Consider use ks component to launch the job instead.
https://github.com/kubeflow/examples/pull/361/files#diff-7f3e3cbcdb3e051d03a93e2a4e3ba427R64

[2018-11-27 02:58] jlewi opened #366 "[code_search] Create code embeddings needs a way to write output to a different location"
We need to be able to write the code embeddings to a different location.

We want to be able to run the Dataflow job multiple times each with a different output location; as opposed to overwriting the current outputs.

I think the current command line arguments make this difficult because the arguments don't distinguish between inputs & outputs so we can't change just the output location.

I tihnk

[2018-11-27 03:04] jlewi commented on #357
I tried rerunning the job and I'm getting the same error.
This is very weird as I'm pretty sure it was working before.

It looks like Dataflow is trying to download the dependencies locally as part of the job submission process; not sure why that would break suddenly.

[2018-11-27 03:06] jlewi commented on #357
I can repo it by running the same command that Dataflow is running in the container

[code]

[2018-11-27 03:12] jlewi commented on #357
If we drop `no binary` the command succeeeds; e.g.

[code]

[2018-11-27 03:15] jlewi commented on #357
According to the docs --no-binary might prevent fetching binary packages.
https://pip.pypa.io/en/stable/reference/pip_download/

I suspect Dataflow doesn't want binary packages because the target system might be different from the system uploading the packages.

I think the solution here might be to remove TensorFlow from the requirements file. I think Dataflow might already include TensorFlow in

[2018-11-27 03:17] jlewi commented on #357
Here's the list of packages already installed on the workers
https://cloud.google.com/dataflow/docs/concepts/sdk-worker-dependencies#sdk-for-python

So we should be able to remove tensorflow.

[2018-11-27 06:36] #346 closed

[2018-11-27 10:05] IronPan opened #368 "[code_search] setup.py should parameterize requirement.txt"
The requirements files have distinct names now https://github.com/kubeflow/examples/tree/master/code_search/src

The setup.py still hardcode the[ file name](https://github.com/kubeflow/examples/blob/master/code_search/src/setup.py#L8) and causing following failure
[code]

[2018-11-27 23:10] IronPan commented on #357
this is resolved after i removed the tensorflow from requirement.txt

[2018-11-27 23:10] #357 closed

[2018-11-28 12:55] #343 closed

[2018-11-28 13:01] dsdinter commented on #313
Implemented with #274

[2018-11-28 13:01] #313 closed

[2018-11-28 13:01] dsdinter commented on #312
/assign @dsdinter

[2018-11-28 13:01] #269 closed

[2018-11-28 13:02] dsdinter commented on #336
/assign @dsdinter

[2018-11-28 14:43] jlewi opened #374 "[code_search] Configure pipeline to compute code embeddings to run regularly"
#349 added a pipeline for computing the code embeddings.

We'd like to be able to schedule this pipeline to run regularly.

/assign @IronPan

[2018-11-29 06:48] #277 closed

[2018-11-29 19:44] ldcastell commented on #212
Hey @hougangliu. I will take a look at it.

[2018-11-29 23:22] ldcastell commented on #212
@hougangliu, I just saw you took care of it. Thank you!

[2018-11-30 11:48] hougangliu opened #377 "[object_detection] user has no idea about how to run inference"
In object_detection example, user can serve the model by doc step. But the doc doesn't mention how to run inference using the model. And it need take some time for the user to write a gRpc client.

[2018-11-30 12:09] hougangliu commented on #250
It has been fixed by #367, we can close it now

[2018-11-30 13:52] jlewi commented on #345
Should be fixed by #349 which moved the web app into a new app which doesn't appear to have this problem.

[2018-11-30 13:54] #321 closed

[2018-11-30 14:03] jlewi commented on #315
We've since changed the notebook
https://github.com/kubeflow/examples/blob/master/code_search/code-search.ipynb

So that we submit the Dataflow job by running a prebuilt docker container. So all of the dependencies should be installed. And I think that should be fixed.

We currently don't provide instructions for how to run the github dataset. Using a Docker container makes the most sense to have

[2018-11-30 14:03] #315 closed

[2018-11-30 14:14] jlewi commented on #308
Lets use this issue to track refactoring the ksonnet per the previous component to avoid using a virtual component to share parameters.

[2018-11-30 14:15] jlewi commented on #297
#301 is tracking creating the dataset if it doesn't exist.

[2018-11-30 14:15] #297 closed

[2018-11-30 14:19] jlewi commented on #340
This should be fixed by #349 which created a new ksonnet app and moved the serving components into that application.

[2018-11-30 14:19] #340 closed

[2018-11-30 14:57] jlewi commented on #241
Fixed by #320

[2018-11-30 14:57] #241 closed

[2018-11-30 14:57] jlewi commented on #238
Should be fixed.

[2018-11-30 14:57] #238 closed

[2018-11-30 14:58] jlewi commented on #355
Duplicate of #237

[2018-11-30 14:58] #355 closed

[2018-11-30 15:02] jlewi commented on #139
Would using TF.transform the potential train serve skew issue of #257? To deal with #257 I think we want to use TF.transform to tokenize the text as opposed to using spacy. I'm not sure if that's feasible.

[2018-11-30 15:04] jlewi commented on #366
/assign @jlewi

[2018-11-30 19:06] IronPan commented on #374
The scheduled pipeline is a configuration in the UI. The pipeline python definition doesn't need to anything. We can leave this open till we have a periodically pipeline working in the demo cluster.

[2018-11-30 23:00] jlewi opened #381 "[code_search] cleanup refactor bq_transform.BigQueryWrite"
We should refactor BigQueryWrite
https://github.com/kubeflow/examples/blob/master/code_search/src/code_search/dataflow/transforms/bigquery.py#L42

Instead of creating a subclass of PTransform that wraps bea.io.WriteToBigQuery we should just create a wrapper class to construct a BigQuerySchema from a list of columns. then we can just define constants for the schemas and pass them to WriteToBigQuery

[2018-12-01 21:08] jlewi commented on #374
@IronPan Is there no way to programmatically (ideally declaratively) define a scheduled run? Is there an existing feature request for this?

[2018-12-01 21:21] jlewi opened #389 "[code_search] embeddings job needs to read from BQ"
Right now the code search example is reading the preprocessed BigQuery table which contains the tokens for code.

In the case of continuous inference we want to read directly from BigQuery so we get the latest GitHub data.

[2018-12-01 21:31] jlewi opened #390 "[code_search] Dataflow worker setup failure requirements.dataflow.txt not found"
I invoked the Dataflow compute embeddings job as follows

[code]

The workers ended up failing to startup. Here is the error

[code]

This was recently changed in #371

/assign @jlewi

[2018-12-01 21:33] jlewi commented on #390
Worker log shows that requirements.txt is downloaded as follows

[code]

[2018-12-01 21:36] jlewi commented on #390
The Dataflow job submission logs don't make it clear what local file is the source of

[code]

[2018-12-01 21:38] jlewi commented on #390
Here is the contents of that file

[code]
There is no local file named requirements.txt.

So it looks like Dataflow always uses the name requirements.txt so we just need to revert #371

[2018-12-01 21:39] jlewi commented on #390
@IronPan For #371 were you observing some type of failure that #371 fixed?

[2018-12-01 21:42] jlewi commented on #390
I think one potential problem is that if people want to pip install setup.py; that won't work from the source location; users would need to rename requirements.dataflow.txt to requirements.txt

[2018-12-01 22:03] jlewi opened #391 "[code_search] create test for create_function_embeddings pipeline using local runner"
We should create a test using the local runner for the create function embeddings pipeline.

We will need to refactor the pipeline a bit make writing/reading from BQ optional.

#389 needs to modify the pipeline so we read the raw data from BigQuery and preprocess it. We might want to make that change first and then use some sample raw data with the pipeline.

[2018-12-01 22:15] jlewi commented on #390
Looks like the client tries to build a source package when submitting the job so setup.py needs to be able to find the requirements.txt file.

[code]

[submit.logs.txt](https://github.com/kubeflow/examples/files/2636365/submit.logs.txt)

[2018-12-02 09:19] IronPan commented on #374
The scheduled workflow CRD is the underlying controller. So there are multiple ways of define the scheduled pipeline
- through UI
- through Pipeline API (restful API)
- through scheduledworkflow CRD API (declarative)

I hope that we can use UI to demo. It would really help promoting the pipeline team's work.

[2018-12-02 17:51] #366 closed

[2018-12-02 17:51] #390 closed

[2018-12-02 18:49] IronPan commented on #390
Yeah I hit issue https://github.com/kubeflow/examples/issues/368 before change #371
Was this issue fixed by https://github.com/kubeflow/examples/pull/388 ?

[2018-12-02 20:05] IronPan opened #392 "[code_search] pipeline environment broken"
I got this error when I do
`ks show pipeline -c search-index-creator`
[code]

This was introduced by https://github.com/kubeflow/examples/pull/388

[2018-12-02 21:15] texasmichelle opened #393 "[yelp_demo] Replace manual cluster creation with kfctl"
Instead of creating everything manually to enable GKE beta features, use:

kfctl.sh generate platform

And then modify the deployment manager configs to switch to the beta API for GKE and set whatever fields need to be set.

[2018-12-03 00:29] IronPan commented on #374
I see. Pipeline system doesn't support declaritive for now. Please feel free to open an issue to pipeline project if you think this is critical.

[2018-12-03 00:30] IronPan commented on #389
/assign @IronPan

[2018-12-03 17:17] kkasravi opened #412 "Add ngraph example"
Add an example of ngraph under kubeflow/examples

- [ ] Provide link to ngraph and overview of [ngraph](https://ai.intel.com/intel-ngraph/)
- [ ] Provide an e2e example including the dockerfile
- [ ] Include tensorboard in the e2e example with screen shots of ngraph info

[2018-12-03 19:50] jlewi commented on #186
Should we punt to 0.5?
Anyone working on actually training and testing the quality of the model?

[2018-12-03 19:56] jlewi commented on #134
@garganubhav So do we have a script and docs somewhere that we can point customers to? What is the remaining work to close this out?

[2018-12-03 20:10] garganubhav commented on #134
As I know, ModelDb is currently deleted from Katib.

[2018-12-05 09:59] hackintoshrao commented on #174
@jlewi , Found some issues and have sent a PR https://github.com/kubeflow/examples/pull/403 .

[2018-12-06 13:50] hougangliu opened #408 "[object detection] Serve the model using TF-Serving cannot work"
When user build a new object detection image by following submit_job.md, everything runs well. But when serve the model using TF-Serving by following tf_serving_cpu.md, the server failed with error message _"Loading servable: {name: pets-model version: 1} failed: Not found: Op type not registered 'NonMaxSuppressionV3' in binary running on pets-model-v1-7c65cb44c-pg7wk. Make sure the Op and Kernel

[2018-12-07 01:45] hougangliu commented on #408
/assign @hougangliu

[2018-12-07 02:51] #377 closed

[2018-12-08 16:02] azmikamis opened #417 "[xgboost_ames_housing][help_wanted] How do I copy the training data to the persistent volume?"
After I create the persistent volume and claim, how do I get the training dataset on it?

I tried to follow the instructions in https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/ but I realised I don't have permissions to write to `/mnt`.

[2018-12-08 20:42] kkasravi commented on #412
yes, it depends on https://github.com/kubeflow/kubeflow/issues/2058

[2018-12-08 22:32] #408 closed

[2018-12-09 02:35] azmikamis commented on #417
At first, I created a `dataaccess` pod and configured it to use the created claim. I was able to copy the training dataset to the persistent volume using `kubectl cp train.csv dataaccess:/mnt/xgboost/ames_dataset/`.

However the `xgboost` pod still failed with `IOError: File /mnt/xgboost/ames_dataset/train.csv does not exist`.

I created 2 more volumes and claims so the number of volumes/claims is

[2018-12-09 07:00] azmikamis commented on #362
This is already fixed in https://github.com/kubeflow/examples/commit/b69cf36a39d3a4406453b44491f8dcffafdfee61.

Link was updated to https://www.kubeflow.org/docs/guides/components/jupyter/.

[2018-12-09 12:07] dsdinter commented on #336
Will try to have first draft by the end of next week, i.e., 14th Dec! @texasmichelle it would be great to get your feedback and contributions, all after Kubecon :)

Thanks.

[2018-12-11 19:10] azmikamis commented on #417
After playing around more with Kubernetes, I understand the problems faced in this example now.

1 & 2. If the cluster is created by `kfctl.sh`, we can just create a `pvc` on the available storage which is on GCE persistent disk rather than using `hostPath`. Then we can create pods to attach to the `pvc` and download the training data, from the given public GCS bucket for example.
3. The `xgboost`

[2018-12-12 09:44] hackintoshrao opened #435 "[Github Summarisation] Add support to store the training data into Minio"
Object storage systems are becoming dominant as storage backend for analytical and ML workloads. Minio being an open source alternative for S3 and its cloud nativeness makes it an attractive fit to the Kubeflow's ecosystem. Would like to start adding more examples where the data to be trained is stored in Minio and the Tensorflow model directly reads from it. To begin with the Github summarisation

[2018-12-15 00:53] texasmichelle commented on #251
This refers to adding a simple overview for the [code_search](https://github.com/kubeflow/examples/tree/master/code_search) example, to match the other descriptions. Other examples have a short list of concepts that are covered, but this one is missing.

@danstos happy to review if you have a PR.

[2018-12-17 18:17] jlewi commented on #134
@garganubhav @mpvartak has a PR open to add modeldb as a separate package. So it would still be good to have examples and instructions for how people can take advantage of modeldb to track their models.

[2018-12-17 18:40] garganubhav commented on #134
Yes, I was checking it before and was getting some error. Will try today again.

[2018-12-18 09:27] jonf78 opened #441 "Version 0.4 - TensorFlow Version Supported"
Hi,

I watched a video from KubeCon last night and it was mentioned that version 0.4 will be released soon. I have a quick query on what will be the latest version of TensorFlow that will be supported/work at this version. Apologies if the query doesn't actually make sense as this is my first step into KubeFlow / ML on Kubernetes :)

Thanks
jon

[2018-12-19 21:32] hholst80 opened #442 "Redundant multi-stage Dockerfile"
xgboost_ames_housing Dockerfile uses a FROM statement that is not needed and only causes overhead.

https://stackoverflow.com/questions/53546176/empty-multi-stage-build-in-a-dockerfile/53549404#53549404

[2018-12-19 21:36] hholst80 commented on #442
Created PR https://github.com/hholst80/examples/pull/1

[2018-12-21 03:13] hougangliu commented on #250
/close

[2018-12-21 03:13] #250 closed

[2018-12-21 10:34] dsdinter commented on #336
Just realised there is a great CONTRIBUTION.md guide which covers majority of aspects, I will complement that one with some lessons learned and close this issue.

[2018-12-21 10:34] #336 closed

[2018-12-23 08:25] amalts opened #443 "[codelab-e2e-gis-feedback]:"
Below command from **Kubeflow End to End: GitHub Issue Summarization** in **"Install Kubeflow with Seldon"** page (Page 3) fails with 404 error.

**Section :**
Install packages and generate core components

**Command :**
`ks pkg install kubeflow/tf-job@${KUBEFLOW_VERSION}`

**Error:**
`ERROR resolving package metadata: kubeflow/tf-job@v0.3.4: GET https://api.github.com/repos/kubeflow/kubeflow/cont

[2018-12-28 01:00] jlewi commented on #443
@amalts are you referring to
https://codelabs.developers.google.com/codelabs/cloud-kubeflow-e2e-gis/index.html#0
?

I think the instructions are outdated.
In 0.3 we refactored the packages and the tf-job package is no longer there.
https://github.com/kubeflow/kubeflow/tree/v0.3-branch/kubeflow

The error above indicates its trying to install 0.3.4 but the [codelab](https://codelabs.developers.goog

[2018-12-28 01:09] #362 closed

[2018-12-28 01:10] jlewi commented on #111
Thanks for the feedback.

[2018-12-28 01:16] jlewi commented on #92
So I think a good place to start would be testing the things the tutorial tells users todo
https://github.com/kubeflow/examples/tree/master/github_issue_summarization

I think we can start by

1. Building a docker image
1. Submitting a TFJob to train the model for a small number of steps
1. Verifying the TFJob completes successfully

Rather than have the E2E test spin up a Kubeflow cluster; I thin

[2018-12-28 03:36] texasmichelle commented on #443
For now the codelab only works with v0.2.0-rc.1. I actually just pushed changes to the Qwiklabs repo to update this to v0.4.0-rc.2 and use `kfctl`, but there's still a bit more work to be done, including finding a good way to keep it in sync with the [CLAAT version](https://codelabs.developers.google.com/codelabs/cloud-kubeflow-e2e-gis). Stay tuned!

[2018-12-29 00:12] jlewi commented on #295
#446 Will run the python test but the python test isn't emitting a junit file to report the test results to Prow.

For that I think we want to create a test runner for prow as discussed in kubeflow/testing#270

[2018-12-29 02:05] jlewi opened #448 "Should we delete agents example and focus on other examples?"
The RL agents example
https://github.com/kubeflow/examples/tree/master/agents

was our first example and it proved useful in many of our early demos.

Since then it hasn't received much attention and most of our focus is on other examples.

Right now its highly outdated last commit was 6 months ago.

I suggest rather than investing in updating it we delete it and focus our energy on the other exam

[2018-12-29 05:12] jlewi commented on #92
We have a test for training here that we can run.
https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/train_test.py

[2018-12-29 22:59] jlewi opened #452 "[GH Issue] train_test.py should emit a JUnit file to report results to prow"
Related to #92: E2E test for GitHub issue summarization example

#449 Started running [train_test.py](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/train_test.py) as part of our CI system.

We need to modify it to emit a JUnit file to properly report the results to prow.

For that we need kubeflow/testing#270

[2018-12-29 23:01] jlewi opened #453 "[GH Issue] E2E test should launch TFJob and verify it runs successfully"
Related to #92: E2E test for GitHub issue summarization example

Our E2E test should launch the TFJob on a Kubeflow cluster and verify it runs successfully.

[2018-12-29 23:02] jlewi opened #454 "[GH Issue] E2E test for the notebook"
Related to #92: E2E test for GH issue summarization.

We should have an E2E test for our Jupyter notebook that runs as part of our CI system.

I think kubeflow/pipelines has some tests for notebooks.

I think they use Netflix's papermill to parameterize their notebooks so they can be run under CI.

[2018-12-29 23:09] jlewi opened #455 "[GH Issue] E2E test for deploying the model and sending predictions"
Related to #92: E2E test for GitHub issue Summarization

Our E2E test should deploy the model and send some predictions to verify it works.

One complication is figuring out where to run the client and server so they can communicate. If we don't run them within the same cluster then we run into complications with getting access to the server inside the cluster.

Here are some potential solutions.

[2018-12-30 23:36] jlewi commented on #179
It looks like this has been fixed as part of #178 so closing this issue.

[2018-12-30 23:36] #179 closed

[2018-12-31 00:48] jlewi commented on #455
Seldon provides some helpful scripts for testing.
https://github.com/SeldonIO/seldon-core/blob/master/docs/api-testing.md

Maybe we can use those?

[2018-12-31 20:52] IronPan commented on #389
/close

[2018-12-31 20:52] #389 closed

[2018-12-31 20:52] IronPan commented on #389
The sample pipeline now read public BQ as part of preprocessing step

[2018-12-31 20:54] IronPan commented on #374
/close for now since this is supported by UI/API

[2018-12-31 20:54] IronPan commented on #374
/close

[2018-12-31 20:54] #374 closed

[2019-01-06 21:14] jlewi commented on #312
I'm working on adding tests to the GitHub issue summarization example. We can use that as a model for adding tests to this example.

In addition here are some other resources:

1. [General instructions](https://github.com/kubeflow/testing#writing-an-argo-workflow-for-an-e2e-test) for writing an Argo workflow to be used as an E2E test

1. [Guide To Writing Tests for E2E examples](http://bit.ly/kf_e

[2019-01-06 21:20] jlewi opened #457 "[xgboost] E2E testing for xboost example"
We need to have E2E tests to verify the xgboost example works. Tests should ensure

1. Training works
1. Deploying model works
1. Sending predictions works

This is P1 because we see lots of customer demand for xgboost so we need to know that its working against the latest Kubeflow release.

I'm working on adding tests to the GitHub issue summarization example. We can use that as a model for addin

[2019-01-06 21:48] jlewi commented on #185
I'm going to close this issue. I reread the thread and looked at the current code and I don't see any immediate work.

IUUC I think #154 added a TFServing example and may not have initially been using the model produced by the training code. But it looks like that the instructions now tell users they can use the model they trained.
https://github.com/kubeflow/examples/blob/master/object_detection/

[2019-01-06 21:48] #185 closed

[2019-01-06 21:51] jlewi opened #458 "[object detection] pre/postsubmit test for serving the model"
We need an E2E test to verify

1. We can deploy the newly trained model
1. We can send predictions using the client code to the newly deployed model

In addition here are some other resources:

* [General instructions](https://github.com/kubeflow/testing#writing-an-argo-workflow-for-an-e2e-test) for writing an Argo workflow to be used as an E2E test

* [Guide To Writing Tests for E2E examples](htt

[2019-01-07 01:53] jlewi opened #459 "[object detection] Is there a web app that goes with the object detection example"
I thought there was a web app that went with the object detection example. The web app did things like draw bounding boxes around the detected objects.

Can we get a web app added to our example? This would make it alot more interesting and useful for demos.

[2019-01-07 04:15] jlewi commented on #200
At this point we need to upgrade to v1beta1.

[2019-01-07 04:19] jlewi opened #460 "[mnist] E2E tests"
We need to have E2E tests to verify the mnist example works. Tests should ensure

1. Training works
1. Deploying model works
1. Sending predictions works

This is P1 because we see lots of customer demand for xgboost so we need to know that its working against the latest Kubeflow release.

I'm working on adding tests to the GitHub issue summarization example. We can use that as a model for adding

[2019-01-07 10:09] benjaminhuo opened #461 "[GH Issue] directory distributed missing for github_issue_summarization"
Directory distributed is missing for github_issue_summarization.

Nowhere to find stuff for below cmd:
kubectl create -f distributed/storage.yaml
kubectl create -f distributed/tfjob.yaml

Below links are broken:
https://github.com/kubeflow/examples/tree/master/github_issue_summarization/distributed

[2019-01-07 13:39] dsdinter commented on #312
Thanks for that @jlewi, happy to contribute to your guide as well, actually I started to look at Unittests during Christmas and saw you have a [section](https://docs.google.com/document/d/1iaVTjr9XVQYb1_kdpq__vq9S9hHaDrX31LWqRs3aujc/edit#heading=h.4ch59sds05bu) included in your guide.
The good news is that I already implemented the Argo workflow E2E tests in the Pytorch example to automate buildin