[2019-01-08 00:17] jlewi commented on #460
It looks like some refactoring of the mnist example might be needed as well.

* There is currently an Argo workflow to do training
  https://github.com/kubeflow/examples/blob/master/mnist/model-train.yaml

There doesn't appear to be a manifest to just train the model.

For comparison our PyTorch example has separate manifests for CPU/GPU but these are YAML not ksonnet

https://github.com/kubeflow/

[2019-01-08 11:48] dsdinter opened #464 "[mnist_pytorch] Remove specific modules from .pylintrc ignore-patterns"
Remove py,mnist_DDP.py and mnistddpserving.py modules from .pylintrc ignore-patterns , adding specific exceptions using inline comments instead.

We should still keep the autogenerated Python GRPC modules:
object_detection_grpc_client.py
prediction_pb2.py
prediction_pb2_grpc.py

[2019-01-08 11:48] dsdinter commented on #464
/assign dsdinter

[2019-01-09 00:40] cwbeitel commented on #448
@jlewi @texasmichelle Yikes just saw this! I'm fine with it being deleted. I don't think it currently serves Kubeflow and doesn't seem like a sufficiently illustrative use-case to warrant the investment to update it.

[2019-01-09 14:49] jlewi opened #466 "[mnist] Make it work with S3"
I'm updating the mnist example #465 to work with 0.4 and add tests (#460).

Creating this issue to track additional work needed to verify it works with S3 and perform follow on actions.

One piece that's needed is we need to update the ksonnet component to allow setting environment variables based on secret key references. For S3 we need the TFJob spec to look something like

[code]

To support th

[2019-01-09 16:36] dsdinter opened #467 "[mnist_pytorch] Slim down Dockerfiles for training images to reduce build time"
As discussed, we should use a base image with Pytorch precompiled supporting Openmpi to reduce build time, also using the 'regular' CUDA image rather than 'devel' and not using CUDA image for CPU training.

[2019-01-12 02:15] jlewi opened #471 "[mnist] Use REST in addition to gRPC in client code"
Right now the client:
https://github.com/kubeflow/examples/blob/master/mnist/mnist_client.py

Is using gRPC; we might want to provide code for HTTP as well.

[2019-01-12 19:04] hbarrington commented on #204
I receive the error:
```no matches for kind "TFJob" in version "kubeflow.org/v1alpha2"```
when using the ksonnet components.

I cloned HEAD on the repo so I think I'm all  up to date...

[2019-01-13 23:55] hougangliu commented on #231
@jlewi I can take it on

[2019-01-13 23:56] hougangliu commented on #231
/assign

[2019-01-14 16:00] dsdinter opened #474 "[mnist_pytorch] We should keep the manifests for the alpha version to support Pytorch-operator on Kubeflow 0.3.x clusters"
We should keep the manifests for the alpha version to support Pytorch-operator on Kubeflow 0.3.x clusters, this is to keep backwards compatibility for current and previous Kubeflow releases.

[2019-01-14 16:04] dsdinter commented on #474
Assigning to @gabrielwen as you worked on adding 1beta1 version in the example.
/assign @gabrielwen

Thanks!

[2019-01-15 01:08] #474 closed

[2019-01-16 13:29] tech98321469320842 opened #483 "Error while loading shared libraries: libcuda.so.1"
Hi,

I am try to start the following example from this repo:

--> https://github.com/kubeflow/examples/tree/master/object_detection

Every step of the tutorial works great, but unfortunately the pod always crashes directly after startup because of this missing lib located in CUDA:

[code]

I think it is connected with the fact that I don't have a GPU connected to the kubernetes cluster.
I tried to

[2019-01-17 16:55] eLco commented on #466
@jlewi I can work on this issue.

[2019-01-19 23:40] cwbeitel commented on #448
@jlewi @texasmichelle I have some thoughts on how we might replace it with something better instead, overlapping with something I'm already planning to build for Project Clarify which could be subsumed here in the interest of synergy. I'll screen the idea with you offline then if there's interest open an issue. But I hear you on the need to be thoughtful about where effort is invested and maybe ju

[2019-01-20 23:03] cwbeitel commented on #262
Closing this since we found another good way to do it.

[2019-01-20 23:03] #262 closed

[2019-01-21 15:14] cwbeitel commented on #259
That sounds cool! Nice work 👍

Can you clarify what vector you're referring to? Is this an embedding
vector or an integer encoded name string? Also can you also clarify what
you mean by a reference vector? Perhaps you can you clarify more what the
precise steps are you're describing here:

"To fix this, we ran the networks on a select batch before feeding it to
the twin/triplet networks, adn then

[2019-01-22 02:12] jlewi commented on #460
Tests are committed but they aren't showing up in the testgrid
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-examples-postsubmit

We should enable periodic tests for the examples and verify the tests are running regularly.

[2019-01-22 02:13] jlewi commented on #483
If you modify the example to use the CPU version of tensorflow then it should work fine without a GPU.

[2019-01-22 02:14] jlewi commented on #466
@eLco Thank you.
/assign @eLco

[2019-01-22 02:15] jlewi opened #485 "Enable periodic tests"
We should setup Prow to trigger tests periodically for the kubeflow/examples repo.

We will use this to ensure our examples are still working when run against the latest Kubeflow.

Related to #460

[2019-01-22 02:21] jlewi commented on #200
The mnist example has been upgraded and we have tests; see #460

[2019-01-22 02:21] #200 closed

[2019-01-22 03:48] cwbeitel commented on #259
@AlexanderCHarrington just @mentioning you in case you're like me and only
see these if you're mentioned!

On Mon, Jan 21, 2019, 7:13 AM Christopher Beitel <chris.w.beitel@gmail.com
wrote:

[2019-01-22 09:12] AlexanderCHarrington commented on #259
Thank you!

I am sorry for being so brief and leaving so many things unexplained.

**For the vectors**, I am referring to the encoded strings. I haven't looked at all the intricacies of your model and the surrounding code, _but from what I gathered_:

- **You're comparing two batches of strings with eachother**, effectively in a twin NN architecture (I've used up to 3 networks, i.e. triplets), and

[2019-01-22 14:56] #467 closed

[2019-01-23 00:57] cwbeitel commented on #259
@AlexanderCHarrington Oh no worries thanks for the extensive follow-up. That's interesting you mention all examples in a batch originating from the same document. That's not what we're doing now - functions and their doc-strings stay paired but functions across the whole data set get shuffled.

[2019-01-23 15:12] AlexanderCHarrington commented on #259
@cwbeitel, alright.

1: So you are trying to pair a doc-string with a positive function example and a doc-string with a randomly shuffled negative sample?

So
sim(a_docstring, a_funcstring) --> 1
&
sim(a_docstring, rand_funcstring) --> -1
?

2: I see that you generally discuss the weird loss history, but are there similarities with my symptoms? More specifically, when you measure similarity scores

[2019-01-24 00:17] jlewi commented on #485
Dashboard is setup
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

Tests are running.
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/kubeflow-periodic-examples/1

[2019-01-24 00:17] #485 closed

[2019-01-24 00:17] jlewi commented on #460
Tests are in the periodic dashboard.
Dashboard is setup
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

Tests are running.
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/kubeflow-periodic-examples/1

[2019-01-24 00:17] #460 closed

[2019-01-25 10:54] jayunit100 commented on #204
same error, `v1beta1` didnt fix it for me.

[2019-01-29 08:10] eLco commented on #466
As a next step for broader support for AWS S3 in mnist example I'm planning to add support for S3 into tensorboard component and rework tf-serving component to look the same as the train component in terms of setup of k8s secret variables. The PRs will follow shortly this week.

[2019-01-30 12:54] jinchihe opened #491 "The mnist example model.py reads args from environment variables, instead of command line"
I'm trying the mnist example, and wnat to create a mnist pipeline. I found the the mnist example trainer script [model.py](https://github.com/kubeflow/examples/blob/master/mnist/model.py) read args from environment variables, instead of command line arguments. That's not good for UX, that's better to read from command line arguments, so that the pipelines can use the `model.py`.

I also found the

[2019-01-30 12:56] jinchihe commented on #491
assign /@jinchihe

I'm going to prepare a patch for this.

[2019-01-31 00:36] jlewi opened #494 "mnist_predict test is failing with 503"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples
Last successful run was 01/24
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/kubeflow-periodic-examples/4

Failed run:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/kubeflow-periodic-examples/18

[code]
Its weird that its failing with with a 10.40.0.36 address.

I think the way to debug this would be

1. Sp

[2019-01-31 01:32] jinchihe commented on #494
@jlewi Seems I also hit the problem during auto testing for the PR #492.

[2019-01-31 13:48] jinchihe commented on #494
@jlewi I `/retest` the tests in the PR #492 , seems the phenomenon of the problem seems to have changed. I try to deploy mnist on the on-prem kubeflow cluster, did not get the root course so far. Thanks.

[2019-02-04 01:47] ggodreau opened #497 "[readme] Slack channel closed with no invite path for general public"
Slack channel [invite link](https://kubeflow.slack.com/join/shared_invite/enQtMjgyMzMxNDgyMTQ5LWUwMTIxNmZlZTk2NGU0MmFiNDE4YWJiMzFiOGNkZGZjZmRlNTExNmUwMmQ2NzMwYzk5YzQxOWQyODBlZGY2OTg) within README.md is only open to `@google.com`,  `@caicloud.io` or `@microsoft.com` email addresses with no apparent path for invite.

[2019-02-04 01:54] ggodreau commented on #497
/assign @lluunn

[2019-02-04 14:34] ggodreau commented on #497
@jlewi just pushed commit to this PR, thanks for quick turnaround! pls review and merge upon approval :+1:

[2019-02-04 18:45] #497 closed

[2019-02-05 09:15] krishnadurai opened #500 "Unable to open the webpage at https://kubeflow.example.com/hub"
Hello all, I'm now trying the Code Search example in kubeflow examples (https://github.com/kubeflow/examples/tree/master/code_search). I'm not able to access Kubeflow Hub https://kubeflow.example.com/hub and it looks like the site keeps on loading until it times out.

[2019-02-05 11:37] dvdbisong opened #501 "Request [kubeflow-demo-base] Access"
This issue is to kindly request access to the `kubeflow-demo-base` GCP project.
My email address is dvdbisong@gmail.com.
Thanks.

[2019-02-05 21:35] #501 closed

[2019-02-06 08:59] true-source commented on #204
I'm having the exact same issue. None of the above solutions worked for me.
Tried these apis (kuberflow.org/{v1beta1,v1alpha2}, apiextensions.k8s.io/v1beta1)
Any fixes? @ldcastell @jlewi

[2019-02-06 18:46] ldcastell commented on #204
Hey @true-source, what version of kubeflow, ksonnet are you using? are you able to create other TFJobs like the following: https://github.com/kubeflow/tf-operator/blob/master/examples/v1beta1/dist-mnist/tf_job_mnist.yaml ?

[2019-02-06 20:39] CraigSterrett commented on #500
The link is just an example and it is probably a bit misleading that it appears as a hyperlink.  You first have to spin up your own kubeflow cluster and have your Jupyter hub available at https://kubeflow.example.com for that link to work.
The second sentence under "Getting Started"
NOTE: We will assume that the Kubeflow cluster is available at kubeflow.example.com. Make sure you replace this with

[2019-02-07 11:07] krishnadurai commented on #500
@CraigSterrett thanks for pointing this out. I'll try these steps.

[2019-02-07 11:07] #500 closed

[2019-02-07 18:48] alvisememo opened #503 "[codelab-e2e-gis-feedback]:"
Friction log:
- kubectl is never installed, it should be considered as a step before creating a cluster.
- instead of using $HOME as the directory to which store, unzip and manage files, there should be a top level directory variable like "EXPERIMENT_DIR=your_exp_dir" in which everything is included.

WDYT?

[2019-02-08 10:32] eLco commented on #494
@jlewi you can mark test as expected failure using this annotation
[code]
Quote from docs:
[code]

[2019-02-08 13:41] true-source commented on #204
Hey, it was a silly mistake. (I didn't generate the tf-job-operator component). Its solved now!

[2019-02-08 18:58] ashishML opened #504 "Google Cloud Shell dies even on Booster Mode"
Following the tutorial on https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html#1 the Google Cloud Shell keeps dying repeatedly when trying to deploy the training job to the cluster using the command:-

ks apply default -c train

The instructions mention to enable Boost Mode but it keeps dying repeatedly.

[2019-02-11 23:56] jlewi commented on #504
@ashishML Have you tried running from a command line or from a VM?

@Dansanche @amygdala @texasmichelle Have you observed this problem?

[2019-02-11 23:58] jlewi opened #505 "Lint broken for examples test and not running on post-submit and periodic"
The lint test doesn't appear to be running on periodic post-submits
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

It also looks like it is broken at head.

@zhenghuiwang

[2019-02-12 03:53] jinchihe opened #506 "test_lint failed for kubeflow-examples-presubmit"
test_lint failed for kubeflow-examples-presubmit recent days, seems that's broken?

[code]

but I exected that manully on local, that's OK. That's strange...
[code]

[2019-02-12 07:56] zhenghuiwang commented on #505
All lint errors are caused by `py` (tf-operator/py) module not found: The ci-worker doesn't checkout `kubeflow/tf-operator` source code in this case.

One way to fix is to change the worker to always check out tf-operator and add it to PATHONPATH env (similar to `testing/py`). This seems to be an overkill for fixing the lint.

Instead, I add `#pylint: disable" to ignore the import checks. Let me k

[2019-02-12 11:35] jinchihe commented on #506
Checked, the lint test failed recent days.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-examples-presubmit

[2019-02-12 15:54] amygdala commented on #504
No, but I've not tried that specifically. (The contexts in which I've used the cloud shell with KF have been only in conjunction with using the web launcher for deployment + Pipelines for launching training.)

It seems unintuitive though, that a 'ks apply' would be compute or memory intensive enough to crash the shell. Dan, I think you may have been the last one to test this codelab?-- did you eve

[2019-02-12 18:47] jlewi commented on #505
@zhenghuiwang I think that's fine. Were the lint issues fixed in #493?

[2019-02-12 18:51] zhenghuiwang commented on #505
Yes, #493 fixed it. I'm going to close this issue.

[2019-02-12 19:02] zhenghuiwang commented on #505
/assign @zhenghuiwang

[2019-02-12 19:12] #505 closed

[2019-02-12 19:20] DanSanche commented on #504
That's strange, I've never seen this error on boost mode. Is it possible you have another process running in the background that may be eating up your resources? I'd recommend trying to restart the cloud shell session (there's an option in the same menu as the boost mode button) to see if that helps

[2019-02-15 05:58] caijimin commented on #204
Hi @true-source, could you help to tell how to "generate the tf-job-operator component", I'm using ksonnet version: 0.13.1
kubeflow 0.4.1
and still have "no matches for kind "TFJob" in version "kubeflow.org/v1alpha2" error.

[2019-02-15 16:31] true-source commented on #204
Hey @caijimin ! Sure! Here's what i did:
1: You need to add the registry (you probably might have done this)
     ks registry add kubeflow github.com/kubeflow/kubeflow/tree/${KUBEFLOW_VERSION}/kubeflow
2: Install the tf-training pkg
    ks pkg install kubeflow/tf-training (this will also install the tf-job-operator prototype)
3: You can view the available prototypes using this command:
    ks prot

[2019-02-17 17:20] texasmichelle commented on #506
It looks like the lint issues were resolved in #493. Feel free to reopen if there are additional errors.

[2019-02-17 17:20] #506 closed

[2019-02-18 10:28] AjayZinngg opened #509 "Tensorflow serving object detection predict gives internal server error"
I followed the steps given in [this](https://github.com/kubeflow/examples/blob/master/object_detection/tf_serving_gpu.md) post to deploy my tensorflow model for prediction using GPUs.  I have exposed the service as a load balancer by modifying the YAML file in this way where I changed the type from ClusterIP  to LoadBalancer.

[code]

The status changed to:

[code]
Service specs (`kubectl describe

[2019-02-19 19:31] jlewi commented on #494
Judging from the periodic runs it looks like there are periods where it passes and periods where it doesn't
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

[2019-02-19 19:35] jlewi opened #510 "Test grid not showing any data for kubeflow-examples-postsubmit"
There is no data showing up in kubeflow-examples-post-submit test grid.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-examples-postsubmit

[2019-02-19 19:37] jlewi commented on #510
According to prow there are prow jobs being triggered on postsubmit.
https://prow.k8s.io/?repo=kubeflow%2Fexamples

[2019-02-19 19:39] jlewi commented on #510
Here's the prow job:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/kubeflow_examples/kubeflow-examples-postsubmit/217/

It looks like all of the tests were skipped.

[2019-02-19 19:44] jlewi commented on #510
It looks like the lint tests aren't being triggered on postsubmit and periodic.

[2019-02-21 11:45] jinchihe opened #512 "kubeflow-examples-presubmit tests failed due to too many open files"
kubeflow-examples-presubmit test failed due to too many open files.

See example as below:
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_examples/492/kubeflow-examples-presubmit/1371/

0 failed / 3 succeeded, but one workflow failed due to failed to create fsnotify watcher: too many open files.

Chcked detailed argo logs below (compnent py-lint component cannot save log)

[2019-02-21 20:45] bassplay3r opened #513 "How to use the ks-app provided by the object-detection example"
I'm trying to do the object detection example and am not sure how to use the provided ks-app.
At first I tried to use it seperately as is but some lib files were missing.  So I tried to do ks init and then copy the example files into the newly init app dir but still had issues with a missing tf operator type. Finally I tried copying the example ks-app files into the the ks_app create when I initia

[2019-02-21 22:20] opus111 opened #514 "FAILS: docker build mnist/web-ui -t $UI_PATH; no space left on disk"
Following the steps "Deploying the UI"/"Building the Container"
https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html?index=..%2F..io2018#4

Apparently fails because "No space left on device"

$ docker build mnist/web-ui -t $UI_PATH
Sending build context to Docker daemon  11.84MB
Step 1/14 : FROM ubuntu:16.04
 ---> 7e87e2b3bf7a
Step 2/14 : MAINTAINER "Daniel Sanche"
 ---

[2019-02-22 07:12] jinchihe commented on #512
Seems the issue related with https://github.com/kubeflow/testing/issues/275. Thanks.

[2019-02-22 16:15] jlewi commented on #514
It looks like you ran out of disk space.

[2019-02-22 16:24] jlewi opened #515 "mnist training E2E test failing; chief replica fails"
The training step for mnist is failing.
Here's a failed run from a recent periodic run
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-periodic-examples-mnist-90-70fd?tab=workflow&nodeId=kubeflow-periodic-examples-mnist-90-70fd-1605631456&sidePanel=logs%3Akubeflow-periodic-examples-mnist-90-70fd-1605631456%3Amain

The TFJob is in a failed status

[code]

Events indicate the

[2019-02-22 16:29] jlewi commented on #515
The missing logs might be due to kubeflow/kubeflow#2300

To debug it my suggestion would be to try to reproduce the test by running just the training test manually against a deployed instance of Kubeflow and see if that reproduces the error.

Another hack would at least for debugging be to tadd a 2 minute sleep at the start of the code just to see if that gives us logs.

[2019-02-22 19:03] #510 closed

[2019-02-22 19:45] opus111 commented on #514
Agreed, but there is plenty of space on my laptop.  Is it building on some virtual disk?

[2019-02-23 15:47] jinchihe commented on #515
Found same error in pod log, may be root course, but need to be confirm.

[code]

[2019-02-24 12:16] jinchihe commented on #515
Seems the problem cannot be 100% reproduced. sometimes the testing can be passed.

[code]

[2019-02-25 16:31] mbittmann opened #517 "[codelab-e2e-gis-feedback]: Bug in SERVING_IMAGE environment variable"
In this training lab:
https://codelabs.developers.google.com/codelabs/cloud-kubeflow-e2e-gis/index.html#2

There is a line `export SERVING_IMAGE=gcr.io/kubeflow-examples/issue-summarization-model:v20180718-g98ed4b4-codelab`

This image does not currently exist in the container registry. There is an image: `gcr.io/kubeflow-examples/issue-summarization-model:v20180718-g98ed4b4-qwiklab`

Note the exi

[2019-02-25 22:25] jlewi commented on #515
Thanks @jinchihe. This is really great sleuthing!

This seems like #953. But create_kf_instance.py should be calling delete_deployment.sh which should delete all role bindings
https://github.com/kubeflow/kubeflow/blob/610705224bc54a4ee79c981f349829dbc7277094/scripts/gke/delete_deployment.sh#L86

We should check the logs of create_kf_instance.py to see if there are problems occurring.

[2019-02-25 22:47] jlewi commented on #515
I think a hack would be to decrease the frequency with which we redeploy so that the cluster will stay up for 1-2 days. This will make it easier to manually debug and fix. This should hopefully make it easier to get a green run in the presubmit.

/cc @gabrielwen

[2019-02-25 22:52] jlewi commented on #515
I confirmed the service account has the storage admin role.
[iam.policy.yaml.txt](https://github.com/kubeflow/examples/files/2902965/iam.policy.yaml.txt)

[2019-02-26 02:44] jinchihe commented on #515
@jlewi  @gabrielwen Thank you!  Seems the problem has been resolved, and `kubeflow-examples-presubmit` can be passed successfully now since the tfjobs finished normally.

@jlewi In the PR #516, printed out error logs from related trainning pods for debugging if the tfjobs failed, do you think is that needed? if so please help to review the #516 changes, otherwise I will close the PR. Thanks a lot!

[2019-02-26 13:33] Insullone opened #518 "Question: will kubeflow continue using ksonnet even if its development will end soon?"
I found the message on the front page of ksonnet (https://ksonnet.io/) that "The team behind ksonnet is stepping back from the project. As a result, work on ksonnet will end and the GitHub repositories will be archived". I want to know if there is a plan to continue using ksonnet or replace it? Thank you.

[2019-02-26 13:36] Insullone commented on #518
Sorry I think I put the question in the wrong place.

[2019-02-26 13:36] #518 closed

[2019-02-26 17:22] #491 closed

[2019-02-26 20:03] opus111 commented on #514
Fixed it.  It was something to do with my local Docker environment

https://stackoverflow.com/questions/30604846/docker-error-no-space-left-on-device

Apparently I had 'dangling' volumes

docker volume rm $(docker volume ls -qf dangling=true)

[2019-02-26 20:03] #514 closed

[2019-03-01 04:17] NKUCodingCat opened #521 "Distributed MNIST w/ minio met 'NotFoundError: /tmp/....; No such file or directory'"
Hey guys, I am trying to tran MNIST sample and use minio to replace S3, and I got

[code]

and the task file

[code]

It seems like file syncing problem or some file system error? Is there any solution about it?

[2019-03-02 15:56] NKUCodingCat commented on #521
Fine... I know how this example works.... and I need to send files to S3...

[2019-03-02 15:56] #521 closed

[2019-03-04 21:21] bandurin-strike opened #523 "bug in "Introduction to Kubeflow on Google Kubernetes Engine""
Hello,

I am going along the tutorial at
https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html#2
I am using Google Cloud Shell.
Everything worked fine until i reached this place:

"Now that all the parameters are set, we can deploy the training job to the cluster:"

Below i attached a screenshot with the error message:

<img width="1197" alt="screen shot 2019-03-04 at 3

[2019-03-10 23:28] jlewi commented on #312
@dsdinter Any update on this? Think we'll be able to get #490 submitted by the end of the month?

[2019-03-12 09:30] dsdinter commented on #312
It's doable, just need to finish a few things this week to have capacity for next.

[2019-03-12 22:52] texasmichelle commented on #517
Added a tag `v20180718-g98ed4b4-codelab` to the serving image. Thanks for filing this issue!

[2019-03-13 03:31] #517 closed

[2019-03-13 22:19] jlewi commented on #523
@sarahmaddox @DanSanche Did you run into this problem?

[2019-03-13 22:22] jlewi opened #526 "tfjob_test.py for GIS needs to be updated due to TFJob operator python refactoring"
See test failure:
https://github.com/kubeflow/examples/pull/522#issuecomment-472628220

The test
https://github.com/kubeflow/examples/blob/8a26b23e3d35d5993d93e8b9ecae52371598d1cc/github_issue_summarization/testing/tfjob_test.py#L31

Is still doing

[code]

We probably need to update the E2E test to set the python path correctly and then import it as

[code]
https://github.com/kubeflow/tf-operator

[2019-03-13 22:31] sarahmaddox commented on #523
I didn't run into the problem, but I didn't use Cloud Shell.

[2019-03-13 22:57] DanSanche commented on #523
Hmm that's a new one. No, I don't know what would cause that. @bandurin-strike were you in boost mode?

[2019-03-14 23:13] zabbasi commented on #526
#527

[2019-03-14 23:13] zabbasi commented on #526
/close

[2019-03-14 23:13] #526 closed

[2019-03-15 21:45] a097253 opened #529 "codelabs tutorial should set namespace to kubeflow for ksonnet environment"
If you follow the [codelabs instructions](https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html#2) (unless I missed it), the pod/container for training the MNIST model gets deployed to the `default` namespace.  As a result, the Pod is unable to mount the secret volume `user-gcp-sa`.

If I set the namespace for the default environment to `kubeflow`, everything works:

[co

[2019-03-18 02:16] jinchihe opened #530 "The mnist E2E tests kubeflow-examples-presubmit failed due to tfjob_test failed"
The mnist E2E tests kubeflow-examples-presubmit failed due to tfjob_test component failed.

https://testgrid.k8s.io/sig-big-data#kubeflow-examples-presubmit

Checked the reason:

[code]

[2019-03-18 02:19] jinchihe commented on #530
Seems that caused by the changes in PR https://github.com/kubeflow/tf-operator/pull/945, the PR renamed top level python package but the tfjob_test.py is not updated.
Will privide a PR to fix that. Thanks.

[2019-03-18 09:10] jinchihe commented on #515
@gabrielwen The problem happened again while running E2E for PR #531, Could you please take some actions as previous way? Thanks a lot!

[code]

[2019-03-18 21:33] romankazinnik commented on #523
Another problem with 'ks apply':

[2019-03-18 23:44] DanSanche commented on #523
How did you create your cluster @romankazinnik ? That's a different issue, it looks like your cluster doesn't know about Kubeflow's TFJob resource

[2019-03-18 23:51] romankazinnik commented on #523
I am using an existing pre-set dedicated for Kubeflow clustter. What I
should do differently to make the lab to work in my case?

On Mon, Mar 18, 2019 at 4:44 PM Daniel Sanche <notifications@github.com>
wrote:

[2019-03-19 00:05] DanSanche commented on #523
It's likely there is a version mismatch between the version on your cluster and the one used in the lab. If you want to discuss this in more detail, you should open a new issue (and upload some more details) so we don't go too far off on a tangent here

[2019-03-19 00:09] jinchihe commented on #515
@kunmingg Could you please help to take a look the problem?
It is worth mentioning that maybe some things are done by @jlewi or someone before, so the E2E tests are successfully after that. The problem happened again recently.  Thanks!

[code]

[2019-03-24 21:09] jlewi commented on #515
I suspect this is a variant of kubeflow/kubeflow#953 where the role binding wasn't deleted.

We might need to fix the auto-deploy script to properly delete the bindings between deployments.

@jinchihe The auto-deploy scripts are here:
https://github.com/kubeflow/testing/tree/master/test-infra/auto-deploy

It might be helpful to write a simple test. This could be something as simple as a shell scri

[2019-03-25 02:50] NKUCodingCat opened #533 "No eval result found after distributed training"
Hey guys, I run mnist/model.py locally and get evaluate result in logs, but I cannot find such in distribution training logs.....do I make something wrong?

[2019-03-25 06:18] NKUCodingCat commented on #533
Docker file & python scripts are here:
[No_eval_result.zip](https://github.com/kubeflow/examples/files/3001798/No_eval_result.zip)

I can get evaluation result when I run model.py directly
[code]
but such lines are missing in the logs of kubeflow jobs

[2019-03-27 03:09] jinchihe commented on #515
@jlewi  I checked @kunmingg by Slack to resove the role binding issue since same limitations for trying gcp from my location :-). kunmingg is going to double check now. Thanks.

[2019-03-31 21:07] jlewi commented on #515
We have an updated cluster that is being deployed in project kubeflow-ci-deployment
https://kf-vmaster-n00.endpoints.kubeflow-ci-deployment.cloud.goog/
cluster: kf-vmaster-n00
zone: us-east1-b

This cluster is being deployed with the new kfctl binary. I'm hoping this new binary takes care of the GCS issues.

Do you want to update the test to use the new cluster?

[2019-04-01 08:22] moonyoung430 opened #534 "after run ‘ks apply tf-job’ ,there is no pods created"
When I try to run objection_detection follow the tutorial,I fount something wrong:
After run command 'ks apply ${ENV} -c tf-training-job', monitor the job,
run command 'kubectl get tfjob -n kubeflow',there was a tfjob create,
but when i run command 'kubectl get pod -n kubeflow',there was no new pod about tf-training-job

kubeclt describe tfjob tf-training-job -n kubeflow,got this:

[code]

Can som

[2019-04-04 13:26] AjayZinngg commented on #509
It worked for me as well. The input to my model is image tensors but I was using base64 format of the image.

[2019-04-04 13:26] #509 closed

[2019-04-06 01:36] #530 closed

[2019-04-08 15:07] KMFidom opened #537 "[codelab-pipelines-gis-feedback]:"
Keep getting this error when deploying kubeflow. I have made id anonymous by replacing my project ID with these words.

kubeflow: {"ResourceType":"container.v1.cluster","ResourceErrorCode":"400","ResourceErrorMessage":{"code":400,"message":"Project \"PROJECT_ID\" has no network named \"default\".","status":"INVALID_ARGUMENT","statusMessage":"Bad Request","requestPath":"https://container.googleapis

[2019-04-08 18:48] jlewi commented on #537
It looks like your project is missing a network named "default".

I think there are two ways to resolve this

1. Create a default network in your project
1. Modify the deployment manager configuration to use a a different network.

Moving to kubeflow/kubeflow

[2019-04-08 18:52] jlewi opened #539 "Remove ksonnet from mnist example"
Since ksonnet is deprecated we should remove ksonnet from the mnist example.

One possible approach would be to use a tool like make, jsonnet, kustomize, or a custom python script to easily generate a set of YAML files customized for a particular user.

[2019-04-09 20:13] ldcastell opened #540 "tf-job component in object detection example is using old TFJob API "alpha" version"
The TF Job component uses the old TFJob alpha version which results in the training job failing with a message like this:
[code]

[2019-04-09 20:15] ldcastell commented on #540
/assign ldcastell

[2019-04-10 00:53] jinchihe commented on #515
we can close the ticket now, the testing works fine now with below configuration. The configuration has been updated in PR #531.

[code]

[2019-04-10 01:19] jinchihe commented on #539
@jlewi  I think the kustomize is good way, but maybe depend on other components. I can try to work on this. Thanks.

[2019-04-10 17:08] gabrielwen commented on #515
could you wait for kubeflow/testing#354 and use functions there to find testing cluster to connect to?

[2019-04-15 16:57] #540 closed

[2019-04-22 14:13] jlewi commented on #539
@jinchihe Still planning on picking this up? Any timeline? We are aiming to do a demo of Kubeflow with kustomize on 04/30 (#3020) it would be great if part of that demo we could run mnist.

[2019-04-22 14:29] jlewi commented on #515
@jinchihe Has this issue been fixed? It looks like kubeflow/testing#354 has been merged. Should we open up a new issue to use it in the mnist E2E test to get the cluster to test on.

[2019-04-22 14:48] jlewi commented on #204
/lifecyle stale

[2019-04-22 14:48] #204 closed

[2019-04-22 23:54] jinchihe commented on #515
@jlewi Yes, I think we can close the issue now. Thanks.

[2019-04-23 00:02] jinchihe commented on #539
@jlewi OK, I'm doing this now, local mode has been changed by using kustomize, planed to finish that before the end of this weekend (Apr 27). Not sure the automation tests can be passed, since the tests also need to be modified to drop ksonnet, but will try that later. Thanks.

[2019-04-23 20:35] sh0gg0th opened #544 "MNIST example job fails on S3"
Following the instructions for S3, getting the following error in logs:

`/usr/local/lib/python2.7/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
INFO:tensorflow:TF_CON

[2019-04-25 06:15] rbo opened #545 "Demo github-issue-summarization - data and images not available anymore - Request violates VPC Service Controls."
Hi everyone,

some necessary parts for the github-issue-summarization demo are not available anymore:

**https://storage.googleapis.com/kubeflow-examples/github-issue-summarization-data/github-issues.zip**
[code]

Mention at
- https://github.com/kubeflow/examples/blob/master/github_issue_summarization/ks_app/components/data-downloader.jsonnet#L26
- https://github.com/kubeflow/examples/blob/master/

[2019-04-25 06:37] rbo commented on #545
Found the original zip file: https://www.kaggle.com/davidshinn/github-issues - sadly you have to register to get access

[2019-04-25 08:19] jinchihe commented on #539
/assign @jinchihe

Status: The example mnist has been updated by replacing ksonnet with kustomize, for training, monitoring and serving. The unit tests are almost done, the Readme file also been changed. The new files and code have been uploaded to [my repo](https://github.com/jinchihe/Working/tree/master/kubeflow/examples/mnist) temporary.

Seem the effort is bigger than estimated :-), I'm going

[2019-04-26 00:07] sh0gg0th commented on #521
@NKUCodingCat how did you fix it? thanks!

[2019-04-26 09:43] thlevy commented on #545
I have the same issue here..
I will be creating a new issue to avoid it to be misclassified by this dummy label-bot ;-)
Thanks
Thom

[2019-04-26 12:11] thlevy opened #547 "Jupyter image for "GitHub issue summarization" blocked"
Hello,

The "GitHub issue summarization" example can't be launched because the Jupyter image can't be retrieved.
Kubernetes log:
``
Failed to pull image "gcr.io/kubeflow-dev/issue-summarization-notebook-cpu:latest": rpc error: code = Unknown desc = Error response from daemon: Get https://gcr.io/v2/kubeflow-dev/issue-summarization-notebook-cpu/manifests/latest: denied: Request is prohibited by orga

[2019-04-26 22:28] #544 closed

[2019-04-28 03:08] NKUCodingCat commented on #521
@sh0gg0th I paste my own yaml file here to help you check for it, it is basically caused by the misconfig of your S3,

The key problem is `tf-model-dir=s3://mybucket/job-Mar22`, which should be the full uri of S3, the guidance of kubeflow is not so clear here which will cause misunderstanding

[code]

[2019-04-28 03:13] jinchihe commented on #512
I think the ticket can be closed since the problem did not appear long time. Thanks.

[2019-04-28 03:13] #512 closed

[2019-04-30 23:24] elviraux opened #548 "Examples for pipelines running on-premise"

[2019-05-06 09:23] jinchihe opened #549 "The cluster `kf-vmaster-n00` for kubeflow-examples-presubmit no longer exists"
Seems the cluster `kf-vmaster-n00` for kubeflow-examples-presubmit is removed?

`get-kubeconfig` component log are as following:

[code]

/cc @jlewi
Anyone can help to check the env? Thanks a lot!

[2019-05-06 12:19] jinchihe commented on #549
@jlewi is the cluster changed? how to get the new cluster name? Thanks a lot!

[2019-05-07 05:12] jlewi commented on #549
It looks like kf-v05-n00 didn't get deployed because we ran out of quota. Other clusters should be available

What we should be doing now in the test is using this script
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/get_kf_testing_cluster.py as one step in the pipeline to automatically determine what cluster to use and get credentials for that cluster.

Any interest in sendi

[2019-05-07 07:42] jinchihe commented on #549
@jlewi Great thanks for the replying. but seems the `kf-v0-5-n04` also does not work properly while checkout code due to no space left.

[code]

[2019-05-07 11:12] jinchihe commented on #549
@jlewi I'm going to create a PR to update the test to use that `get_kf_testing_cluster.py` to determine which cluster to use. Thanks.

[2019-05-07 14:02] Luke035 commented on #461
Just to be sure: is this meaning that for github-issue-summarization example there's no more valid code in the repo for distributed training? From #196 it seems that with #265 it should work again.
I'd like to learn more on how to use estimator and distributed training (I'm getting started on KUBEFLOW), any suggestion on where to find other examples in the repo that address this?

[2019-05-08 02:54] #539 closed

[2019-05-08 17:24] chris-andrasick opened #551 "ks_app doesn't exist, link to components 404s in minst example"

[2019-05-09 08:10] jinchihe commented on #551
@chris-andrasick Could you please describe more details for the issue? where you get the error? the `ks` has been replaced by `kustomize` in mnist example, and the `ks_app` has been removed.

[2019-05-09 08:15] jinchihe commented on #548
I created a PR for the on-premise examples before, but closed without merging due to there is a pipeline examples on GCP. Seems that's needed now. I can re-create the PR later, thanks.

[2019-05-12 05:30] kjaugustin opened #553 "examples/mnist/ks_app/components/*': No such file or directory"
Introduction to Kubeflow on Google Kubernetes Engine at Codelab needs to be updated with steps to use kustomize instead of ksonnet. The following step throws error.
cp $WORKING_DIR/ks_app/components/* $WORKING_DIR/$KS_NAME/components

No such file or directory

[2019-05-13 05:59] jinchihe commented on #553
@kjaugustin for the example mnist, the kssonnet already was repalced by kustomize. thanks.

[2019-05-13 17:12] chris-andrasick commented on #551
The broken link is on the page: https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html#1 (Getting Started section of the Introduction to Kubeflow Tutorial.  Search for "pre-written" to find the exact link.  It points to: https://github.com/kubeflow/examples/tree/master/mnist/ks_app/components which returns a 404.  Hope it helps!

[2019-05-13 17:42] zabbasi opened #557 "Create Kubeflow example related to inferring importance of github issues"
The objective is to create a new example for Kubeflow to show off Kubeflow functionalities (e.g., TF jobs, Notebooks, Fairing, Feast ) and ease of use via a practical ML example.

The ML problem aims to infer useful information about git issues (i.e., which issues need immediate attention), however it is not well defined yet and needs some data exploration.
Here are summary of activities which nee

[2019-05-13 17:43] zabbasi commented on #557
/assign @zabbasi

[2019-05-13 17:43] zabbasi commented on #557
/priority p1
/area examples

[2019-05-14 00:55] jinchihe commented on #551
If so, I think the document is out-of-date in `developers.google` (may be author should update that or draft new one?).  The `ksonnet` is deprecated, we updated accordingly in `kubeflow`. Thanks.

[2019-06-03 09:14] benjaminhuo opened #561 "Invalid secret value "$(xxx)""
When I test the mnist example, I got below errors when I apply the yaml generated by "kustomize build .":

[code]

And the error disappears after I replace the $() with the actual value.

The yaml generated is attached

[kf-mnist.yaml.zip](https://github.com/kubeflow/examples/files/3246789/kf-mnist.yaml.zip)

[2019-06-03 18:36] karthikvadla opened #563 "Invalid value: "$(trainingName)""
Hi Team,

I'm trying to run `mnist` example using [GCS steps](https://github.com/kubeflow/examples/tree/master/mnist#using-gcs). At last step i see below error.
[code]

Any help please.

Thanks
Karthik

[2019-06-03 20:00] zanedurante opened #564 "Typo in MNIST example"
Says "intalled" instead of "installed" in the README

[2019-06-03 20:09] zanedurante commented on #564
Fixed in pull request

[2019-06-03 20:09] #564 closed

[2019-06-05 03:49] #548 closed

[2019-06-05 04:54] karthikvadla commented on #563
Update `go` and `kustomize` to latest version solved issue. Closing it now.

[2019-06-05 04:54] #563 closed

[2019-06-05 06:33] jinchihe commented on #561
@benjaminhuo Thanks for trying the case for S3. Seems this is a bug, I'm going to fix the issue.

[2019-06-05 06:46] jinchihe commented on #561
@benjaminhuo Created a PR to fix the issue, you can apply the patch and retry again. Thanks.

[2019-06-05 06:52] jinchihe opened #567 "Upgrade tfjob version in the mnist example"
I installed last `kubeflow` and found the CRD tfjobs version has been upgraded.

[code]

That's better to upgrade the tfjobs version to `v1` in the mnist example, otherwiase will print below error message while applying the exmaple
[code]

[2019-06-05 06:52] jinchihe commented on #567
/assign

[2019-06-05 07:02] jinchihe commented on #567
I found the automation tests kubernetes logo
`kubeflow-examples-presubmit`  also faild because of this.

[code]

[2019-06-05 12:38] benjaminhuo commented on #561
@jinchihe thanks for the quick response 👍, I'll apply the patch and try again

[2019-06-07 04:12] #567 closed

[2019-06-10 02:17] #561 closed

[2019-06-10 19:49] #515 closed

[2019-06-10 22:03] mattnworb opened #571 "[codelab-e2e-gis-feedback]: training pod label name is wrong"
The codelab states

It looks like in kubeflow 0.5.1 that the label name is `tf-job-name`, not `tf_job_name`.

[2019-06-14 23:20] #312 closed

[2019-06-17 08:55] SaschaHeyer opened #574 "Deploy custom prediction routine example"
It would be great if we had an example how to deploy a custom prediction routine.
https://cloud.google.com/ml-engine/docs/tensorflow/custom-prediction-routines

Similar to ai platform deploy (ml engine deploy)
https://github.com/kubeflow/pipelines/tree/master/components/gcp/ml_engine/deploy

related to this feature request
https://github.com/kubeflow/pipelines/issues/1518

Best regards
Sascha

[2019-06-17 21:19] texasmichelle commented on #571
Thanks for the feedback! Lab has been updated

[2019-06-17 21:19] #571 closed

[2019-06-21 11:30] abdennour commented on #523
Same issue here in this [lab](https://www.qwiklabs.com/focuses/5169?parent=catalog)

[code]

[2019-06-21 11:45] abdennour commented on #523
In cloud shell, make sure you've already enabled "Boost Mode"

![image](https://user-images.githubusercontent.com/1788384/59920430-27979800-9433-11e9-8a06-e38886b8df05.png)

[2019-06-21 15:29] texasmichelle commented on #523
It could be a version mismatch with ksonnet. Could you paste the output of `ks version`?

[2019-06-21 22:37] texasmichelle commented on #551
This lab has been updated to use kustomize instead of ksonnet, so I believe this is fixed.

[2019-06-21 22:37] #551 closed

[2019-06-21 22:40] texasmichelle commented on #553
This lab has been updated to use kustomize instead of ksonnet, so I believe this is fixed.

[2019-06-21 22:40] #553 closed

[2019-06-21 22:47] texasmichelle commented on #545
It looks like there is a policy within your organization that is blocking asset downloads. Do you have information from your administrator on what is and isn't allowed? That would help us identify an alternative place to host these files.

[2019-06-21 22:49] texasmichelle commented on #547
Same question as #545: @thlevy - are you aware of what your organization policy is? What does your administrator consider safe?

[2019-06-21 23:05] texasmichelle commented on #533
Which instructions are you using to run this example? Please provide a few more specifics about the command you are running. There are very detailed and up-to-date instructions in [this lab](https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html?index=..%2F..index#0) if you have access to a GCP account.

[2019-06-21 23:07] texasmichelle commented on #529
The lab has been updated to replace ksonnet with kustomize, so I believe this issue has been resolved.

[2019-06-21 23:07] #529 closed

[2019-06-21 23:22] texasmichelle commented on #523
The intro codelab in the description of this bug has been updated to replace ksonnet with kustomize, so @bandurin-strike's issue should be resolved.

As for the E2E Qwiklab reported by @abdennour, there is a new version staged to be published which has not yet moved to kustomize. Are you going through the lab using Qwiklabs GCP credentials or are you issuing the commands on an existing cluster lik

[2019-06-21 23:37] texasmichelle commented on #504
The reason Boost Mode instructions were added is to accommodate docker image builds. The `ks apply` failure is likely caused by something else. In any case, the lab was recently updated and ksonnet was replaced by kustomize, so I believe this issue has been resolved.

[2019-06-21 23:37] #504 closed

[2019-06-21 23:42] texasmichelle commented on #503
kubectl is included with Cloud Shell, so in this case it would be redundant to add installation instructions. Good idea about adding an experiment dir. Are you interested in adding that modification to the lab? If so,  ping me on kubeflow slack & I'll point you at some resources: `@michelle`. It's as straightforward as editing a Google doc.

[2019-06-21 23:47] texasmichelle commented on #483
@tech98321469320842 were you able to use this workaround to resolve your issue?

[2019-06-21 23:49] texasmichelle commented on #466
What (if anything) is outstanding to resolve for this issue?

[2019-06-21 23:51] texasmichelle commented on #464
Is this issue still outstanding?

[2019-06-21 23:54] texasmichelle commented on #3
Anyone still interested in pursuing this?

[2019-06-21 23:57] #5 closed

[2019-06-22 00:01] texasmichelle commented on #32
No longer applicable since [tf-controller was deleted](https://github.com/kubeflow/kubeflow/pull/216).

[2019-06-22 00:01] #32 closed

[2019-06-22 00:02] texasmichelle commented on #34
I believe this has been completed.

[2019-06-22 00:02] #34 closed

[2019-06-22 00:03] texasmichelle commented on #37
Do we still want to add this? A Katib extension could make sense. If not, let's close.

[2019-06-22 00:06] texasmichelle commented on #38
I don't think we ever solved this, did we? Have there been any updates that would make this straightforward?

[2019-06-22 00:07] texasmichelle commented on #40
Is there still value in setting this up?

[2019-06-22 00:07] texasmichelle commented on #48
Anyone still interested in pursuing this?

[2019-06-22 00:09] texasmichelle commented on #54
Anyone still interested in pursuing this?

[2019-06-22 00:10] texasmichelle commented on #56
Hooray! Closing since we have http://mlbot.net/ 💃

[2019-06-22 00:10] #56 closed

[2019-06-22 00:17] texasmichelle commented on #58
The code has changed so much since this issue was created, do we still care about this? @jlewi was the original requestor in #55

[2019-06-22 00:18] texasmichelle commented on #58
[This](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/notebooks/train.py) is what the code looks like now.

[2019-06-22 00:19] texasmichelle commented on #67
Fixed in #522

[2019-06-22 00:19] #67 closed

[2019-06-22 00:20] texasmichelle commented on #76
Anyone still interested in adding this feature?

[2019-06-22 00:23] texasmichelle commented on #81
Anyone still interested in pursuing this?

[2019-06-22 00:24] texasmichelle commented on #82
Anyone still interested in pursuing this?

[2019-06-22 00:26] texasmichelle commented on #91
Anyone still interested in pursuing this? Is it still relevant?

[2019-06-22 15:12] hamelsmu commented on #37
fwiw the language model required tuning at massive scale https://github.com/machine-learning-apps/IssuesLanguageModel/tree/master/hyperparam_sweep  can use this as a template if you like!

[2019-06-23 20:23] rbo commented on #545
Good point, I don't know. Today it works:
[code]

Nothing changed on my site.

Thanks
Robert

[2019-06-24 16:47] dsdinter commented on #464
It is still outstanding. Will try to implement next week.
Thanks for the heads up!

[2019-06-25 10:12] thlevy commented on #547
I don't  think that I was coming from my organization policy since I tested from my prof company and from my personal ISP.
But, today, the url is now reachable.
Thanks

[2019-06-25 10:12] #547 closed

[2019-06-25 13:44] Tabrizian opened #578 "MNIST Example Doesn't Work"
I tried the local version of MNIST example and kustomize fails with the error below:

[code]

[2019-06-26 12:50] jlewi commented on #549
@jinchihe Has this been fixed? Is the test still broken?

[2019-06-26 14:01] jinchihe commented on #549
@jlewi  The problem cannot be reproduced recently, I think that should be fixed. Thanks.

[2019-06-26 14:02] #549 closed

[2019-06-26 14:06] jinchihe commented on #578
Could you please provide more information, such as kustomize version? k8s version, and which step the problem happened? @Tabrizian

[2019-06-26 14:34] jinchihe commented on #578
You can try to check the batchSize is set by running, or list the training/local/kustomization.yaml file here.

[code]

[2019-06-26 14:58] davidtwomey commented on #578
@Tabrizian @jinchihe
Was having the same issue using `kustomization` latest release (v3.0.0 pre) as per tutorial:
https://codelabs.developers.google.com/codelabs/kubeflow-introduction/#0

Got `kustomization build .` to work by
- Switching to explicit `kustomisation` v2.0.0
- Changing from `kustomize edit set image training-image=$TRAIN_PATH` to<br> `kustomize edit set image training-image=$TRAIN_P

[2019-06-26 15:15] jinchihe commented on #578
@davidtwomey Yes, I tested kustomization 2.0.3, that should work fine.  And for you mentioned "$TRAIN_PATH:latest" ,  In the readme file, the $TRAIN_PATH should include tag as below description:
[code]

[2019-06-26 15:27] davidtwomey commented on #578
@jinchihe
Yep - the $TRAIN_PATH was just a heads up for those following via the Google colabs tutorial
where train path did not have a tag
GCP `TRAIN_PATH=us.gcr.io/$PROJECT_ID/kubeflow-train`

[2019-06-26 20:57] texasmichelle commented on #545
Great! Feel free to reopen if you run into issues in the future.

[2019-06-26 20:57] #545 closed

[2019-06-26 21:01] texasmichelle commented on #443
This lab has been updated to v0.5, so this should be resolved.

[2019-06-26 21:01] #443 closed

[2019-06-26 21:04] texasmichelle commented on #442
Thanks for the fix! If you submit as a PR to this repo (rather than your own fork), I'm happy to review.

[2019-06-26 21:07] texasmichelle commented on #441
This is a great question for Slack or the mailing list, since you'll get more timely responses :)

Signup details [here](https://www.kubeflow.org/docs/about/community/) if you're not already a member. Welcome!

[2019-06-26 21:07] #441 closed

[2019-06-26 21:10] texasmichelle commented on #435
I think that would be great if you're still up for it!

[2019-06-26 21:13] texasmichelle commented on #417
@puneith what do you think of this suggestion?

[2019-06-26 21:14] texasmichelle commented on #412
Still interested in pursuing this, Kam?

[2019-06-26 21:32] texasmichelle commented on #349
Has this issue been resolved?

[2019-06-26 21:33] #345 closed

[2019-06-26 21:36] texasmichelle commented on #319
Any interest in completing this follow-on?

[2019-06-26 21:42] texasmichelle commented on #212
Is this problem still occurring or can we close this issue?

[2019-06-26 21:45] texasmichelle commented on #113
Do you want to update this to use kustomize or close?

[2019-06-26 22:51] puneith commented on #417
@azmikamis to answer your original question you make changes in the Dockerfile and download data from whereever e.g., GCS

https://github.com/kubeflow/examples/blob/master/xgboost_ames_housing/Dockerfile

And now looking at the Dockerfile I realize that should be part of this example anyways.

[2019-06-27 02:17] Tabrizian commented on #578
[code]

[code]

[2019-06-27 02:24] Tabrizian commented on #578
@davidtwomey
[code]
outputs the ```batchSize=100``` value.

[2019-06-27 02:26] jinchihe commented on #578
So I guess that should be caused your too old kustomize, what's kustomize version?

[2019-06-27 02:36] Tabrizian commented on #578
v3.0.0-pre1

[2019-06-27 02:39] Tabrizian commented on #578
I tried version ```2.1.0``` and it works. Probably it is ```kustomize``` problem.

[2019-06-27 02:41] Tabrizian commented on #578
Sorry, it didn't work. In version ```2.1.0``` generates the same error.

[code]

[2019-06-27 03:22] parallelo commented on #578
I was hitting the same errors earlier today.

I don't have a root cause yet, but here are some observations:
* seems to work with `kustomize v2.0.3` and before
* seems to fail with `kustomize v2.1.0` and later

[2019-06-27 03:33] jinchihe commented on #578
@parallelo Oh.. Thanks! so seems that's kustomize issue? Need to check what's changed by new kustomze.
@Tabrizian You can try with kustomize v2.0.3, I'm sure that work fine with v2.0.3

[2019-06-27 03:48] Tabrizian commented on #578
Very very strange! It works with ```v2.0.3```.

[2019-06-27 06:14] elsonrodriguez commented on #113
Let's close it out, I think the mnist example might need an entire refactor at this point.

[2019-06-27 06:14] #113 closed

[2019-06-27 17:39] ldcastell commented on #212
@texasmichelle I think we can close it now

[2019-06-27 17:55] crsawyer314 opened #580 "TFJob Quick Start example not working"
Trying to run the code exactly as presented in the 'Running the TfCnn example' section of the quick start guide gets me the error "ERROR handle object: patching object from cluster: merging object with existing state: unable to recognize "/tmp/ksonnet-mergepatch436733100": no matches for kind "TFJob" in version "kubeflow.org/v1alpha2"".

The only difference is that I ran `ks generate tf-job-simple

[2019-06-30 07:25] kkasravi commented on #412
You can close this, a different example will be uploaded

[2019-06-30 14:02] NKUCodingCat commented on #533
alright....I found that I should use tensorboard to check data on Shared directory but not just look at logs...(maybe there will be eval in evaluator but I cannot find anything in chief log)

[2019-06-30 14:02] #533 closed

[2019-07-01 09:02] mitsuan opened #583 "[codelab-intro-mnist-feedback]:"
kustomize build isn't working for 2.1.0

Getting error:
Error: var '{batchSize ~G_~V_ConfigMap {data.batchSize}}' cannot be mapped to a field in the set of known resources

[2019-07-02 00:34] jinchihe commented on #583
@mitsuan See details in https://github.com/kubeflow/examples/issues/578, the new version kustomize may changed something, I am going to enhance that to fit new kustomize version. but you can use v2.0.3 to work around.

[2019-07-02 02:41] jinchihe commented on #583
/duplicate #578

[2019-07-02 02:44] jinchihe commented on #578
I think that may be a bug in new kustomize, logged one issue the kustomize to trace: https://github.com/kubernetes-sigs/kustomize/issues/1295

[2019-07-02 17:00] kaoutar55 commented on #7
can you share how you configured the shared kubeflow-dev environment and how you manage the credentials for multiple users?

[2019-07-02 19:08] ali-raza-tariq opened #585 "Access Denied! Unable to establish SSL connection, in basic Kubeflow object detection example"
Hi guys, i am rather new to kubeflow and trying to run the existing object detection example on my local cluster (bare-metal kubernetes (v1.4) - 1-master & 1-worker). The example i am following can be found here (https://github.com/kubeflow/examples/blob/master/object_detection/setup.md). My cluster doesn't have dynamic provisioning enabled so, i created both pv & pvc manually.

Running `kubectl g

[2019-07-03 01:26] jinchihe commented on #580
@crsawyer314 Checked which version used in your cluster bu running `kubectl describe crd tfjobs.kubeflow.org`. I think the `kubeflow.org/v1alpha2` is out of date.

[2019-07-03 23:09] ali-raza-tariq opened #586 "error: unable to recognize "kube/tfjob.yaml": no matches for kind "TFJob" in version "kubeflow.org/v1alpha1""
Hi guys, i am trying to run mnist example from (https://github.com/learnk8s/distributed-tensorflow-on-k8s). I am running local bare-metal kubernetes cluster with kubernetes v1.14.3 & kubeflow v0.5.1 installed. When i try to create a tfjob, i receive this error
[code]
When i checked using `kubectl api-versions`, i found 3 kubeflow versions installed.
[code]
When i tried to change `v1alpha1` to `v1b

[2019-07-04 04:42] #283 closed

[2019-07-04 04:42] #257 closed

[2019-07-04 04:42] #256 closed

[2019-07-04 04:42] #254 closed

[2019-07-04 04:42] #237 closed

[2019-07-04 04:42] #181 closed

[2019-07-04 04:42] #164 closed

[2019-07-04 04:42] #140 closed

[2019-07-04 04:43] #139 closed

[2019-07-04 04:43] #133 closed

[2019-07-04 04:43] #391 closed

[2019-07-04 04:43] #381 closed

[2019-07-04 04:43] #393 closed

[2019-07-04 04:43] #174 closed

[2019-07-04 04:43] #251 closed

[2019-07-04 04:43] #186 closed

[2019-07-04 04:43] #134 closed

[2019-07-04 04:43] #111 closed

[2019-07-04 04:43] #89 closed

[2019-07-04 04:43] #92 closed

[2019-07-04 04:43] #295 closed

[2019-07-04 04:43] #452 closed

[2019-07-04 04:43] #454 closed

[2019-07-04 04:43] #280 closed

[2019-07-04 04:43] #458 closed

[2019-07-04 04:43] #471 closed

[2019-07-04 04:43] #453 closed

[2019-07-04 04:43] #231 closed

[2019-07-04 04:43] #259 closed

[2019-07-04 04:43] #494 closed

[2019-07-04 05:42] #188 closed

[2019-07-04 05:42] #175 closed

[2019-07-04 05:42] #202 closed

[2019-07-04 05:42] #230 closed

[2019-07-04 05:42] #244 closed

[2019-07-04 05:42] #245 closed

[2019-07-04 05:42] #206 closed

[2019-07-04 05:42] #258 closed

[2019-07-04 05:43] #263 closed

[2019-07-04 05:43] #266 closed

[2019-07-04 05:43] #279 closed

[2019-07-04 05:43] #162 closed

[2019-07-04 05:43] #268 closed

[2019-07-04 05:43] #239 closed

[2019-07-04 05:43] #301 closed

[2019-07-04 05:43] #304 closed

[2019-07-04 05:43] #303 closed

[2019-07-04 05:43] #281 closed

[2019-07-04 05:43] #208 closed

[2019-07-04 05:43] #305 closed

[2019-07-04 05:43] #196 closed

[2019-07-04 05:43] #337 closed

[2019-07-04 05:43] #339 closed

[2019-07-04 05:43] #163 closed

[2019-07-04 05:43] #329 closed

[2019-07-04 05:43] #331 closed

[2019-07-04 05:43] #318 closed

[2019-07-04 05:43] #308 closed

[2019-07-04 05:43] #292 closed

[2019-07-04 05:43] #335 closed

[2019-07-04 06:58] #66 closed

[2019-07-04 06:58] #101 closed

[2019-07-04 06:58] #123 closed

[2019-07-04 06:58] #106 closed

[2019-07-04 06:58] #153 closed

[2019-07-04 06:58] #170 closed

[2019-07-04 06:58] #171 closed

[2019-07-04 06:58] #176 closed

[2019-07-04 06:58] #173 closed

[2019-07-04 06:58] #187 closed

[2019-07-04 14:02] aginpatrick commented on #578
I'm having the same issue with kustomize version 2.1.0. Can you tell me how to downgrade to 2.0.3? (kubectl version is 1.8.6). Thanks

[2019-07-04 14:15] Tabrizian commented on #578
Download it from [https://github.com/kubernetes-sigs/kustomize/releases/tag/v2.0.3](here) and copy it to your ```$PATH```.

[2019-07-04 14:22] aginpatrick commented on #578
Thanks for your help @tabrizian! Sorry I'm not very familiar with this process. I don't see any download button on the page. Do you mean download the binary that I see at the bottom of the page? Isn't it possible to do something like brew install kustomize@2.0.3? (I'm on MacOS)

[2019-07-04 15:59] Tabrizian commented on #578
Download from this link https://github.com/kubernetes-sigs/kustomize/releases/download/v2.0.3/kustomize_2.0.3_darwin_amd64.
`mv kustomize_2.0.3_darwin_amd64 /usr/bin/kustomize`

[2019-07-04 16:40] aginpatrick commented on #578
Thank you @tabrizian. Unfortunately I get now the following error with version 2.0.3:

    `Error: rawResources failed to read Resources: Load from path ../base failed: '../base' must be a file (got d='/Users/me/repos/examples/mnist/training/base')

[2019-07-04 17:01] aginpatrick commented on #578
Reading this: https://github.com/kubernetes-sigs/kustomize/issues/766
Changed resources for bases in kustomization.yaml
build is working now
(but I get another error later when I try to get the web-ui service with `kubectl get service web-ui: service is not found, I don't know yet if it's related or not to the kustomize downgrading)

[2019-07-04 20:24] aginpatrick opened #587 "Clarification needed about EXPORT_DIR in MNIST example"
I tried the MNIST example and successfully followed all the steps until the serving of the trained model. Under this section of the doc named "Serve the trained model", they say at point 3 ("Set your model path") to do : `kustomize edit add configmap mnist-map-serving   --from-literal=modelBasePath=${EXPORT_DIR}`

Problem is nowhere in the doc they talk about EXPORT_DIR. So I put what I think shou

[2019-07-04 20:34] aginpatrick commented on #587
I forgot to mention that deployment seems to be created in the workloads (as I see it in the GCP). mnist-gcs-dist is also present in the Services & Ingress list.

[2019-07-04 20:39] jlewi opened #588 "Grant access to test clusters to example maintainers"
E2E tests for examples (like mnist). run against test clusters e.g.

kf-vmaster-nXX
in project kubeflow-ci-deployment.

It can be frustrating and/or impossible to debug failures without access to the clusters.

We should define appropriate groups and access so that maintainers of examples can access
their clusters.

We should define a new Google group here
https://github.com/kubeflow/internal-acls

[2019-07-05 01:27] jinchihe commented on #586
Hi @ali-raza-tariq That's caused by the tfjobs upgraded in the kubeflow 0.5.1 that's used in your cluster. Run below command to check the tfjobs version.

[code]
To work around the problem, you can update the `apiVersion` to `kubeflow.org/v1beta2` or  `kubeflow.org/v1` in your `kube/tfjob.yaml`, and try again.

[2019-07-05 01:36] jinchihe commented on #587
@aginpatrick Which document you are following? I'm pretty sure there is definations in section `Serving the model` of the [README](https://github.com/kubeflow/examples/tree/master/mnist)

[code]

[2019-07-05 02:12] Tabrizian commented on #578
I had similar problem. It was fixed with a fresh clone of the repository. Try it and let me know if it was not fixed.

[2019-07-05 02:20] #583 closed

[2019-07-05 02:24] jinchihe commented on #578
@Tabrizian I just send a PR #584 to recommand user to usr kustomize v2.0.3 to avoid the problem. marked fixes the problem, but the ticket is not closed automatically, that's strange... Suggest close the ticket now if you agree. Thanks.

[2019-07-05 02:45] Tabrizian commented on #578
Thanks! Sure, I will close the issue.

[2019-07-05 02:45] #578 closed

[2019-07-05 13:26] aginpatrick commented on #587
I was following the section "End-to-end Kubeflow on GCP"
(https://www.kubeflow.org/docs/gke/gcp-e2e/) in the offical Kubeflow docs. They forgot to mention the value of EXPORT_DIR. Thank you for clarifying. Unfortunately I already tried to set the EXPORT_DIR to this value and the result is the same: kubectl describe command gives "mnist-gcs-dist" not found even if "mnist-gcs-dist" is found in the l

[2019-07-05 14:31] aginpatrick commented on #578
@Tabrizian, what repo exactly? If it's https://github.com/kubeflow/examples.git, I cloned it two days ago so I would be surprised if it is the solution to my problem. Anyway, I will try it again and let you know. Thank you again.

[2019-07-05 14:39] jinchihe commented on #587
Oh.. Could you please try that following the README file? If that works, could please send to PR to update website?

[2019-07-05 15:57] aginpatrick commented on #587
Sure.

[2019-07-05 16:51] ali-raza-tariq commented on #586
Thanks for replying @jinchihe , i already tried kubeflow.org/v1beta2 and it gave me the same error. Upon executing the command, it says `v1beta1`. Below is the complete output
[code]
Also when i tried to change it to only `kubeflow/v1`, i got the same old message for no matches found.
[code]

[2019-07-10 17:56] rem20806 opened #591 "Installation fails for requirements.txt on mnist example"
Pip install -r requirements.txt fails. Version or syntax is incorrect for grpc and tensorflow version is outdated

[2019-07-11 06:14] liaosiyang commented on #534
me too！

[2019-07-12 08:38] jinchihe commented on #591
The `requirements.txt` is added long time ago, seems no need more?  Should remove this then.

[2019-07-14 15:30] doschkinow opened #597 "[codelab-pipelines-gis-feedback]:"
Hi, using my test google cloud account to accomplish this lab, I get a quota error, when trying to deploy:

ERRO[0084] Creating kubeflow-codelab error: &{Code:RESOURCE_ERROR Location:/deployments/kubeflow-codelab/resources/kubeflow-codelab Message:{"ResourceType":"gcp-types/container-v1beta1:projects.locations.clusters","ResourceErrorCode":"403","ResourceErrorMessage":{"code":403,"message":"Insuff

[2019-07-14 21:49] #591 closed

[2019-07-17 17:30] ali-raza-tariq commented on #586
Hi guys, i figured out the problem. Apparently, the syntax has changed for defining the tfjob in the yaml file. As i mentioned, i was using kubeflow v0.1.2 tutorial example which had 'tfReplicaType' field to define the role of pods. But looking at the latest examples, they no longer that field rather mention the field value above the indented block. For anyone interested, here are both the origina

[2019-07-17 17:30] #586 closed

[2019-07-18 00:13] jlewi opened #600 "xgboost_synthetic exampe - run in stock TF notebook image; install pip dependencies and build base image with kaniko"
This example:
https://github.com/kubeflow/examples/tree/master/xgboost_synthetic

Currently assumes you are running in a notebook image custom built for that example. We'd like to instead update the example so we can run it in a stock notebook image that ships with Kubeflow.

This needs we need to make the following changes

1. In our notebook we need to install all the pip packages that are requi

[2019-07-18 00:13] jlewi commented on #600
/assign @abcdefgs0324

[2019-07-18 00:26] jlewi commented on #600
P0 because I think its blocking the use of this example in a blog post about 0.6

[2019-07-18 00:39] jlewi opened #601 "xgboost_synthetic - mockup-model.dat needs to be included in the input files for append builder"
This notebook
https://github.com/kubeflow/examples/tree/master/xgboost_synthetic

The code is currently

[code]

we need to change this to

[code]

So that the newly built model in the notebook is included in the newly built docker image.

[2019-07-18 00:39] jlewi commented on #601
/asssign @abcdefgs0324

[2019-07-18 04:37] abcdefgs0324 commented on #601
@jlewi This issue can be closed. (#602)

[2019-07-18 14:19] jinchihe commented on #587
@aginpatrick Any updates for this? Thanks.

[2019-07-18 21:59] #601 closed

[2019-07-19 01:52] jinchihe opened #604 "Add kfserving example"
/feature

In examples projects, we have some examples such as tfjobs, pipeline etc.. it's better to have a example to shows kfserving.

Here I'm thinking that we can update mnist service deploy section to use kfserving to deploy service, or just add new section basic currect implements to show how use kfserving to start the service.

[2019-07-19 01:53] jinchihe commented on #604
In fact there is a example mnist expanding in kefserving project, we may refer to that:
https://github.com/kubeflow/kfserving/tree/master/docs/samples/s3

[2019-07-19 05:35] #600 closed

[2019-07-23 09:13] colmantse commented on #208
as for now it seems this is still an unfixed issue. so we have to instantiate the server for master thread on our own i suppose?

[2019-07-23 13:34] jlewi commented on #588
@jinchihe You should have access to the clusters in project kubeflow-ci-deployment

Could you please confirm by running

[code]

And then running

[code]

To ensure you can access the clusters

[2019-07-23 13:35] jlewi commented on #588
Before we close out this issue we should document this in kubeflow/examples

[2019-07-23 15:45] scottilee opened #606 "Outdated documentation about Jupyter Hub"
Update https://github.com/kubeflow/examples/tree/master/code_search#getting-started as `/hub` doesn't work due to Kubeflow no longer running Jupyter Hub in 0.5 and later.

[2019-07-24 05:40] jinchihe commented on #588
@jlewi Great thanks for this! but sorry... I still have not access to the cluster.
[code]
I checked the `gcloud info`, seems the mail is `jinchihe@gmail.com`. I tried to changed to `hejinchi@cn.ibm.com` which is added by you, but cannot do that even if I selected the `[2] Log in with a new account` and used `hejinchi@cn.ibm.com` to log in (I added the email as "Alternate mail"). And then check the

[2019-07-25 02:23] #464 closed

[2019-07-25 05:02] wanglj-lanzer opened #607 "[codelab-intro-mnist-feedback]:"
should be `go get sigs.k8s.io/kustomize/cmd/kustomize`

[2019-07-25 06:22] wanglj-lanzer opened #608 "[codelab-intro-mnist-feedback]:secret"
but there is no output to when execute
`kubectl describe secret user-gcp-sa`

Meanwhile, there is no json file in the dir: /var/secrets/user-gcp-sa.json

Shall we need to create it by ourselves? If so, how?  Thank you

[2019-07-25 06:24] wanglj-lanzer opened #609 "[codelab-intro-mnist-feedback]:build"
`kustomize build .`

Error: no matches for OriginalId kubeflow.org_v1beta1_TFJob|~X|$(trainingName); no matches for CurrentId kubeflow.org_v1beta1_TFJob|~X|$(trainingName); failed to find unique target
 for patch kubeflow.org_v1beta1_TFJob|$(trainingName)

[2019-07-25 16:11] miguelvcsoares commented on #609
I encountered the same issue. What can we do to solve it?

[2019-07-26 05:32] jinchihe commented on #609
@wanglj-lanzer Which version of kustomize you used?  we hit some problems due to kustomize bug, and seuggested (noted) using kustomize v2.0.3 in README file.

And which platform you tried, GCP or on-prem cluster? Thanks.

[2019-07-26 05:43] wanglj-lanzer commented on #609
GCP

I installed the kustomize via `go get sigs.k8s.io/kustomize/cmd/kustomize`

[2019-07-26 05:49] jinchihe commented on #607
Explain more please? Your meaning is that installing kustomzie by this way? personally I think that's user choose, should not be fixation.

[2019-07-26 05:51] jinchihe commented on #609
See notes in the readme file: https://github.com/kubeflow/examples/tree/master/mnist#build-and-push-model-image
`Note: kustomize v2.0.3 is recommented since the problem in kustomize v2.1.0`

Could you please try this by using v2.0.3 and following the Readme file? New kustomize has bug here.

[2019-07-26 06:17] wanglj-lanzer commented on #607
I mean for the instruction given in https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html#1

`go get sigs.k8s.io/kustomize`

will provide error information in GCP.  Otherwise, the above command can run successfully.

However, as the discussion in #609 , I recognize that the above command might install a wrong version, so it still does not work.  I will close this thread.

[2019-07-26 06:17] #607 closed

[2019-07-26 06:54] jinchihe commented on #608
I guess that's caused the env problem, the document may help you, thanks.
https://www.kubeflow.org/docs/started/getting-started-gke/

[2019-07-26 18:40] wanglj-lanzer commented on #609
new errors after reinstall kustomize as the recommended version

Error: rawResources failed to read Resources: Load from path ../base failed: '../base' must be a file (got d='~/examples/mnist/training/base')

[2019-07-26 19:26] wanglj-lanzer commented on #608
Yes.  It seems need to create manually, but not mentioned by the introduction

https://www.kubeflow.org/docs/gke/authentication/

[2019-07-26 19:26] #608 closed

[2019-07-29 07:49] andrewcantos commented on #609
I have also experienced same issues as @wanglj-lanzer – both on latest kustomize and v2.0.3.

[2019-07-30 01:29] jinchihe commented on #609
Following the [README](https://github.com/kubeflow/examples/blob/master/mnist/README.md) in the repo, that should work fine. Thanks.

[2019-07-30 07:21] andrewcantos commented on #609
Unfortunately it doesn't work as expected on my machine. I have ensured I am running v2.0.3 using cloned latest from (this) examples repo. I have followed README instructions and error:

`Error: rawResources failed to read Resources: Load from path ../base failed: '../base' must be a file (got d='~/kubeflow_examples/mnist/training/base')`

Note: I ran this from mnist/training/**GCS** directory.

I

[2019-07-30 07:45] jinchihe commented on #609
@andrewcantos @wanglj-lanzer I'm not sure which steps has the problem? But that's works fine on my env, below is a example, thanks.:
[code]

[2019-07-31 09:08] xauthulei opened #612 "Can't load the mnist traing data in the pod "mnist-train-local-worker*""
Because when I try the example in `mnist` in my local cluster, I met this issue:
raceback (most recent call last):
 File “/opt/model.py”, line 233, in <module>
   tf.app.run()
 File “/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py”, line 126, in run
   _sys.exit(main(argv))
 File “/opt/model.py”, line 174, in main
   mnist = tf.contrib.learn.datasets.DATASETS[‘mnist’](args

[2019-07-31 09:14] xauthulei commented on #612
My temp solutions :
1> add the proxy to following patch files:
~/llhu/examples-master/mnist/training/local# grep proxy *
Chief_patch.yaml:    name: https_proxy
Chief_patch.yaml:    value: $(https_proxy)
Chief_patch.yaml:    name: http_proxy
Chief_patch.yaml:    value: $(http_proxy)
Chief_patch.yaml:    name: no_proxy
Chief_patch.yaml:    value: $(no_proxy)
kustomization.yaml:    fieldPath: data.ht

[2019-07-31 09:21] xauthulei commented on #612
I wish to commit a PR to trace this, Could I get some suggestions ? many thanks

[2019-08-01 00:11] jinchihe commented on #612
Seems that's caused your evn cannot connect network so just download source files by proxy.  Thank you putting the work around solution. but I think most of user env no need to set the proxy. Personally if we added the proxy_http, that may break normal user case. Agree? @xauthulei

[2019-08-01 01:06] xauthulei commented on #612
@jinchihe , Thanks for your review comments. I initially introduce this issue aim to leave a record here for others checking.  In order to don't affect current one, we could introduce a "local_proxy" dir (same to current local)or we could clarify it in the readme , it may be save others efforts here.

[2019-08-03 15:41] tmreic opened #613 "Can not get kustomize installed on gcp console [codelab-intro-mnist-feedback]:"
Can't get this command to work. go get sigs.k8s.io/kustomize i get the following error in gcp console.

can't load package: package sigs.k8s.io/kustomize: no Go files in /home/tmreic/gopath/src/sigs.k8s.io/kustomize

i did try the the other methods to install kustomize and it appeared to install correctly but when i get to the step to use kustomize i can access the command.

when i run this step.

[2019-08-05 23:15] ricoms opened #614 "[codelab-intro-mnist-feedback]:"
there is no indication that will need to install `kustomize`

[2019-08-05 23:18] ricoms commented on #614
I had `gcloud` installed with `snap`. I uninstalled `gcloud` and installed it again following [this documentation](https://cloud.google.com/sdk/docs/quickstart-debian-ubuntu)

[2019-08-06 00:09] #614 closed

[2019-08-06 00:09] ricoms commented on #614
The instructions to install are in the 2nd ("Getting Started") section. Sorry

[2019-08-06 02:09] ricoms commented on #609
I have the same problem.
[code]

I installed `kustomize` from "Quickly curl the latest" [here](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md)

my version is as below:
`Version: {KustomizeVersion:3.1.0 GitCommit:95f3303493fdea243ae83b767978092396169baf BuildDate:2019-07-26T18:11:16Z GoOs:linux GoArch:amd64}`

[2019-08-06 02:19] jinchihe commented on #609
@ricoms use kustomize v2.0.3 please, new kustomize has bugs here.

[2019-08-06 18:22] ricoms commented on #609
using v2.0.3 I fell on the issue you opened @jinchihe [#1029](https://github.com/kubernetes-sigs/kustomize/issues/1029) when I applied `kustomize edit set image training-image=$IMAGE_PATH`

I created a tag with `export TAG=$(date +"%m-%d-%Y")` and add it to the `IMAGE_PATH` like this `export IMAGE_PATH=us.gcr.io/$PROJECT_ID/kubeflow-train:$TAG`.

Then I was able to apply `kustomize build . | kubec

[2019-08-07 00:10] jinchihe commented on #609
@ricoms See here https://github.com/kubernetes-sigs/kustomize/issues/1295 I think that has been fixed, and code may be merged in 3.x.

[2019-08-07 00:12] jinchihe commented on #613
You can download binary from here https://github.com/kubernetes-sigs/kustomize/releases/tag/v2.0.3

[2019-08-09 20:46] jlewi commented on #588
@jinchihe Do you have a google account associated with your IBM email? If not could you create one? Its better if we can associate Kubeflow accounts with corporate email addresses and not personal email addresses.

Then run

[code]

When you run that command it should open a web browser asking you to login. If you don't already have a google account associated with that email you can probably crea

[2019-08-09 20:48] jlewi opened #617 "Remove ksonnet from github issue summarization example"
We should remove ksonnet from the issue summarization example.
https://github.com/kubeflow/examples/tree/master/github_issue_summarization

[2019-08-12 01:26] jinchihe commented on #588
@jlewi Yes, I associated with my IBM email with my google account.
When I try to run the `gcloud auth login hejinchi@cn.ibm.com`, open a web browser, and by default that's gmail and I selected the `Use another account` to input IBM email and password, and then still show `Google Cloud SDK wants to access your Google Account jinchihe@gmail.com`, I click `Allow` but screen shows
[code]

Seems only c

[2019-08-12 15:15] #461 closed

[2019-08-12 16:34] jlewi commented on #588
@jinchihe Can you try opening a web browser in incognito mode and going to cloud.google.com and logging in using your IBM account?

[2019-08-13 04:30] animeshsingh commented on #588
+1. Thanks @jinchihe for helping with this!

[2019-08-13 05:53] jinchihe commented on #588
Thanks @jlewi I tried to log in the `cloud.google.com` with IBM Email(hejinchi@cn.ibm.com), but after log in, the  Account shows google account `jinchihe@gmail.com`.

And I got the reply from [stackoverflow.com](https://stackoverflow.com/questions/57454772/cannot-login-gcloud-sdk-using-the-non-google-account), seems we cannot log in using hird party domains by `gcloud`.
[code]

[2019-08-14 13:42] jlewi commented on #588
@jinchihe In the interim if you want to send me a PR to add your gmail account you can go ahead and do that.

How did you link your IBM account to your gmail account and can you undo that? I could be wrong; the responder on SO probably knows more; but I thought you could create a Google account with a non-gmail account.

This [SO post](https://serverfault.com/questions/937135/whats-the-correct-way

[2019-08-14 17:08] lucastheis commented on #609
Calling `kustomize_3.x.x edit [...]` once replaces

[code]

with

[code]

which leads to `Error: rawResources failed to read Resources: Load from path ../base failed`. Reverting that change and using `kustomize_2.0.3` fixed it for me.

[2019-08-15 09:42] jinchihe commented on #588
@jlewi Thank you very much for your patient answer! But unlucky I still cannot create an account with IBM account. When I try to create a new account, by default gamil is needed, if I input IBM email, printed error message. pls see attachment. Thanks.
<img width="416" alt="图片" src="https://user-images.githubusercontent.com/13673199/63087112-f0052200-bf83-11e9-8316-ac23279137ba.png">

[2019-08-15 20:18] jlewi commented on #588
@jinchihe That looks like the create gmail account window.

See screen shot below. In that case you can specif your **email** not a username. So I think you could use your ibm email.

I got to that window by doing

1. Go to https://cloud.google.com
1. Click sign-in
1. Click create account

![create_google_account](https://user-images.githubusercontent.com/777219/63123930-01880300-bf5f-11e9-9bfe-90

[2019-08-16 17:32] jlewi opened #619 "Friction log - xgboost_synthetic on 0.6.2 RC"
I tried running the xgboost example following the release demo script.
http://bit.ly/2ZgOE1v

The first problem I ran into is that the stock Jupyter image has an older version of fairing installed which doesn't have fire.

We should add a line to install from github

[code]

[2019-08-16 17:33] jlewi commented on #619
The next problem I hit is that instantiating the ModelServe class fails with a connection timeout. It looks like its trying to create a client for the metadata server.

[code]

[2019-08-16 17:38] jlewi commented on #619
The issue talking to the metadata server appears to be some kind of transient issue; retrying a couple times it appears to succeed.

/cc @zhenghuiwang

[2019-08-16 17:52] jlewi commented on #619
The next error I hit is

[code]

The problem is the namespace. If we delete that line it will try to run in the namespace the notebook is in and it works.

[2019-08-16 18:08] jlewi commented on #619
The deployer job fails

[code]

[2019-08-16 19:55] jlewi commented on #619
I added kfmd to requirements.txt but it looks like I also needed to edit the notebook because requirements.txt wasn't included by the preprocessor in the files uploaded to the builder. So the kaniko context didn't include it and the Dockerfile skips requirements.txt if it doesn't exist.

[2019-08-16 20:26] jlewi commented on #619
Building with kaniko gives an error

[code]

[2019-08-16 21:33] jlewi opened #620 "E2E/CI test for xgboost_synthetic"
We'd like CI for xgboost_synthetic notebook so we can ensure its working against the latest release.

This is becoming our go to quick start example so it would be great to have tests.

Related to #457

/cc @jinchihe

[2019-08-16 22:24] jlewi commented on #619
I think this might be a permission issue inside the docker image; /opt/conda might be owned by jovyan but Dockerfile is trying to switch to root.

It also looks like it might an issue with the base container image. I updated and simplified the docker image and that appears to fix it. Will send out a PR soon.

[2019-08-16 22:36] jlewi commented on #619
Curl from the notebook appears to work

[code]

[2019-08-16 23:37] jlewi commented on #619
I added retries around connecting to the client and that seems to have fixed the problem.

My suspicion is that since we are using ISTIO we need to wait for the ISTIO side to start.

[2019-08-18 18:23] #557 closed

[2019-08-18 22:39] jlewi commented on #619
/assign @jlewi

[2019-08-19 10:43] spinelsun opened #622 "[codelab-intro-mnist-feedback]:"
This error shows when trying to build the kustomization.yaml during the code lab under the training section.

[2019-08-19 15:48] ricoms opened #623 "Creating my own toolset with Dockerfile"
First, sorry for my ignorance, I'm not sure if this is the correct place to put this doubts.

First point is that examples provided are using docker containers already builtin. I don't know how to reach the code of these. I would like to see the code so I can understand how to use them and if I need something different from what is provided.

Another point is that I want to build new Docker images

[2019-08-19 17:54] jhua18 commented on #619
@jlewi I encountered the same problem when running the following to train model locally
[code]
it appears intermittent, often starts working after several tries. Could be race condition - wait for an available connection?

And similarly in the subsequent statement for local prediction:
[code]
Even with the training statement passed, the predict line still fail intermittently, and could work after

[2019-08-19 18:07] jhua18 commented on #619
I already tried updating fairing with the following in the beginning of the sample notebook:
[code]
and current fairing version:
[code]

[2019-08-20 01:49] jinchihe commented on #622
pls use kustomize 2.0.3, new kustomize has bug here, see more in https://github.com/kubeflow/examples/issues/609

[2019-08-20 13:48] jdumm opened #624 "[codelab-intro-mnist-feedback]: OAuth instruction link broken"
When I click on the big green button "Open Kubeflow Click-to-Deploy" button, it brings me to a form that requires OAuth client ID and secret (missing from the screenshot):
https://deploy.kubeflow.cloud/

Then there are no instructions to generate the ID and secret.  The link saying "Follow these instructions..." brings me to a video that says to follow the link... which just redirects back to the

[2019-08-20 13:55] jdumm commented on #624
I used the wrong wrong option in the dropdown menu.  The link for the OAuth instructions is still broken, but can be handled there:
https://www.kubeflow.org/docs/started/getting-started-gke/#create-oauth-client-credentials

[2019-08-20 13:55] #624 closed

[2019-08-20 19:32] ricoms commented on #623
Or maybe using something like helm charts? [kustomize charts](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/chart.md)

[2019-08-21 17:36] jlewi commented on #619
@jhua18 what is the failure mode for predict? That function is just running locally in a notebook so it shouldn't be dependent on ISTIO or networking. Can you open up a separate issue and try to include instructions to reproduce?

[2019-08-21 17:38] jlewi commented on #619
I retried the xgbosst_synthetic example:
http://bit.ly/2ZgOE1v

The notebook now runs successfully to completion.

I'm still hitting two issues with Kubeflow setup using the 0.6.2 RC.

kubeflow/kubeflow#3900
kubeflow/kubeflow#3875

Will leave this issue open until those issues are fixed and I've verified the fix.

[2019-08-22 00:10] jhua18 commented on #619
@jlewi I pulled latest sample code that has some changes recently (comparing to what I pulled last week). I can confirm that it now can run to the end successfully.

In addition to the changes of xgboost_synthetic sample, I also noticed the differences in fairing package, which is the dependencies of the sample.
Previously the sample used ```#!pip3 install fairing```
and lately it pulls the same l

[2019-08-23 19:41] ispmarin opened #627 "Example for local kubernetes server, local PostgreSQL database"
Hi all,

I´m trying to deploy Kubeflow on my own kubernetes installation and use it to get data from my own PosgreSQL database, to train a model using sklearn. So far I´m unable to find an example on how to do it, as all examples seems to get data either from CSV files or object stores, and use Tensorflow data structures instead of database cursors or pandas dataframes. Is there an example for a l

[2019-08-23 19:49] ispmarin opened #628 "Link for examples on page `https://master.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/` is broken"
The link in the the [existing kubernetes](https://master.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/) deployment page example "Run a sample machine learning workflow" is [missing](https://master.kubeflow.org/docs/examples/resources/).

[2019-08-26 02:21] jlewi commented on #619
Closing this. All the major issues have been addressed.
More detail in: http://bit.ly/2ZgOE1v

[2019-08-26 02:21] #619 closed

[2019-08-27 05:38] jinchihe commented on #588
@jlewi  I remember feedback by Slack, maybe send wrong person.

I still cannot get access using IBM account. I guess that's need to refresh or do something after `internal-acls` merged?

[code]
That's OK if login with my gmail account.
[code]

[2019-08-27 13:41] jlewi opened #629 "Make xgboost_synthetic non GCP specific - Use non GCR registry"
https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/build-train-deploy.ipynb

is becoming one of our canonical E2E examples.

Its currently dependent on GCP because its using GCR as the container registry.

The example builds notebooks two ways

1. Kaniko - (slow)
1. AppendBuilder - (fast)

I'm not sure whether AppendBuilder can work with non GCR registries; I think it might rely on

[2019-08-28 00:46] jinchihe commented on #588
@jlewi Yes, that works fine! Many thanks!

[2019-08-28 23:40] jlewi commented on #588
Great!

[2019-08-28 23:40] #588 closed

[2019-08-30 16:06] carloVentrella opened #631 "Remove ksonnet from examples"
Most of kubeflow examples have not been updated to remove ksonnet, which has been dropped in favor of kustomize.

[2019-09-03 12:13] xiaoluwwwxiaolu opened #632 "404 for job_mnist_DDP_GPU.yaml url"
hi,when I read the passage "Distributed training using Estimator" ,the url of "job_mnist_DDP_GPU.yaml " can not be opened.

https://github.com/kubeflow/examples/blob/master/pytorch_mnist/training/ddp/mnist/gpu/v1beta1/job_mnist_DDP_GPU.yaml

[2019-09-04 03:07] jinchihe commented on #632
That has been removed from master, you can visit here https://github.com/kubeflow/examples/blob/v0.5.1/pytorch_mnist/training/ddp/mnist/gpu/v1alpha2/job_mnist_DDP_GPU.yaml

[2019-09-04 03:09] jinchihe commented on #620
@jlewi Yes,  totally agree with you. but we may waiting for fews days since the CI/CD is been changing now, we can use new framework for this.

[2019-09-04 03:12] xiaoluwwwxiaolu commented on #632
ok，thanks.

[2019-09-04 03:13] xiaoluwwwxiaolu commented on #632
thanks!

[2019-09-04 03:13] #632 closed

[2019-09-04 21:33] jlewi commented on #620
Thanks @jinchihe. The immediate changes to the CI/CD system are adding support for using a py_func to construct the Argo workflow defining the E2E test. That's almost ready to go; see kubeflow/testing#451

So we could begin defining the python steps and a py function to create a suitable workflow.

If someone had cycles we could probably start working on that. I had previously written this doc.
ht

[2019-09-05 01:33] jinchihe commented on #620
@jlewi OK, I will do this once get chance. Thanks.

/assign

[2019-09-06 01:27] jinchihe opened #634 "xgboost_synthetic example does not work"
When I set up ci/cd testing for xgboost_synthetic example, hit the problem:
while executing the section,
[code]
that's failed, see below outputs:
[code]

[2019-09-06 01:29] jinchihe commented on #634
/assign

[2019-09-06 01:48] jinchihe commented on #634
Guess that's caused by medadata which is not installed in <0.6 kubeflow. I'm going to confirm.

[2019-09-06 13:18] jinchihe commented on #634
@zhenghuiwang The problem still can be reproduced on kubeflow 0.6.2, any suggestion? Thanks!

[2019-09-06 18:22] zhenghuiwang commented on #634
Based on the error message `Name or service not known`, it seems due to k8s in-cluster DNS issue.

https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/ provides a step by step debugging guide.

You can first check if the metadata backend service is up or not and see if you can CURL from a pod in the cluster.

[2019-09-07 04:42] jinchihe commented on #634
@zhenghuiwang Seems the metadata works fine for service and pod.
[code]

[2019-09-08 14:26] jinchihe commented on #634
The root may be caused by running the notebook out of cluster, since the metadata service is `ClusterIP`.

[code]

[2019-09-09 03:03] axelmagn opened #635 "[codelab-intro-mnist-feedback]: Multiple steps of section 2 broken"
I am running through this codelab with very little success.  I have spent the better part of a day just trying to get a Kubeflow cluster deployed on GCS with little success.  I have tried multiple versions on GCP console as well as my laptop (Manjaro Linux), and either neither of these are the target development environment, or further end-to-end testing is required.

Obviously these issues are sy

[2019-09-11 03:35] jlewi commented on #617
Looking at training
https://github.com/kubeflow/examples/blob/master/github_issue_summarization/02_training_the_model_tfjob.md

It doesn't look like we do too much customization of the components. My vote would probably be to go with RAW YAML for the resources and then just in the instructions tell people what fields they need to change.

For convenience we could provide some copy paste commands u

[2019-09-11 05:20] jinchihe commented on #634
Work around by submit the workflow into another k8s cluster.

[2019-09-11 05:20] #634 closed

[2019-09-11 09:39] jinchihe opened #636 "Updated example xgboost_synthetic to kubeflow.fairing"
Fairing will be a subpackage in kubeflow in https://github.com/kubeflow/fairing/issues/234, need to update the  example xgboost_synthetic to kubeflow.fairing once the PR merged https://github.com/kubeflow/fairing/pull/359

/assign @jinchihe
/cc @jlewi

[2019-09-14 19:23] amygdala opened #639 "Create 'cookbook' directory with indexed set of examples for common activities"
/kind feature

Create a 'cookbook' directory with an organized set of code snippets/examples that show how to do small common tasks and activities.

A few of us are currently doing work in the [cookbook branch](https://github.com/kubeflow/examples/tree/cookbook) in this initial stage, with the intent of making easier to collaborate while the examples are work in progress.  Once the cookbook direct

[2019-09-16 22:28] #620 closed

[2019-09-17 13:36] #636 closed

[2019-09-18 13:18] jlewi opened #641 "Update Google Codelabs to Kubeflow 1.0"
Opening this issue to track updating the codelabs to Kubeflow 1.0 as part of the Kubefow 1.0 release

Right now I see three codelabs
https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html?index=..%2F..index#0
https://codelabs.developers.google.com/codelabs/cloud-kubeflow-e2e-gis/#0
https://codelabs.developers.google.com/codelabs/cloud-kubeflow-pipelines-gis/index.html?ind

[2019-09-18 13:22] amygdala commented on #641
Just a note that the 3rd (pipelines) one is in progress re KF0.6; the others need a look.

[2019-09-18 17:39] amygdala commented on #641
As per the PR above, one of the tests for the non-pipelines GH summarization example has succumbed to bitrot (unrelated to the PR) and was temp removed.  We'll want to investigate and fix.

[2019-09-19 14:44] hamelsmu commented on #392
FYI we have updated and open sourced a new [Code Search Example](https://github.com/github/CodeSearchNet) which is built in tensorflow and might be easier to productionize

cc: @jlewi

[2019-09-20 13:42] aicdp1010 commented on #609
Getting the same error
`kustomize build . |kubectl apply -f -
Error: no matches for OriginalId extensions_v1beta1_Deployment|~X|$(svcName); no matches for CurrentId extensions_v1beta1_Deployment|~X|$(svcName); failed to find unique target for patch extensions_v1beta1_Deployment|$(svcName)
error: no objects passed to apply`
Any solution for this?
Thanks in advance.

[2019-09-22 09:56] jinchihe commented on #609
@aicdp1010 try it using kustomize v2.0.3 please.

[2019-09-22 14:01] #574 closed

[2019-09-23 00:18] jlewi opened #644 "xgboost_synthetic: AttributeError: module 'tornado.ioloop' has no attribute '_Selectable'"
I just tried running xgboost_synthetic example @ 628babc66a2fd560b72e4314ecc4f8b6aeccbb19

and I get the following error

[code]

[2019-09-23 00:19] jlewi commented on #644
Looks related:
jupyter/notebook#3407

[2019-09-23 00:21] jlewi commented on #644
I think I have pyzmq 18 installed

[code]

[2019-09-23 00:23] jlewi commented on #644
When I restarted the kernel the imports seemed to work.
So maybe it was just an issue of restarting the kernel after running notebook_setup which installs a bunch of pip packages.

[2019-09-23 12:47] aicdp1010 commented on #609
Above error is resolved using v2.0.3 but now I am getting
[code]
I am new to this, Is the issue related to kubernetes cluster. Please guide me.
Thank you.

[2019-09-23 13:48] jinchihe commented on #644
@jlewi That's caused by the tornado old version. I already added in the `tornado>=6.0.3` before:

https://github.com/kubeflow/examples/blob/628babc66a2fd560b72e4314ecc4f8b6aeccbb19/xgboost_synthetic/requirements.txt#L12

Since some pacakge need to tornado<=some_version, so guess the 6.0.3 is removed？

[2019-09-23 13:51] jinchihe commented on #609
@aicdp1010 please check your cluster, what the TFJob version installed in your cluster?

[2019-09-23 18:14] vahidtz commented on #578
I used kustomize version 2.0.3 and included the tag for the training image but still have the base folder issue, do you any other hint?
kustomize edit set image training-image=$TRAIN_PATH:latest
kustomize build .
Error: rawResources failed to read Resources: Load from path ../base failed: '../base' must be a file (got d='/h
/examples/mnist/training/base')

[2019-09-25 09:19] jinchihe opened #645 "Updated example xgboost_synthetic to kubeflow.metadata"
Updated example xgboost_synthetic to kubeflow.metadata once the PR https://github.com/kubeflow/metadata/pull/131 merged.

/assign @jinchihe

[2019-09-26 23:13] #645 closed

[2019-09-27 01:04] #503 closed

[2019-09-27 01:04] #483 closed

[2019-09-27 01:04] #466 closed

[2019-09-27 01:04] #459 closed

[2019-09-27 01:04] #455 closed

[2019-09-27 01:04] #3 closed

[2019-09-27 01:04] #48 closed

[2019-09-27 01:04] #54 closed

[2019-09-27 01:04] #77 closed

[2019-09-27 01:04] #58 closed

[2019-09-27 01:04] #76 closed

[2019-09-27 01:04] #40 closed

[2019-09-27 01:04] #38 closed

[2019-09-27 01:04] #81 closed

[2019-09-27 01:04] #82 closed

[2019-09-27 01:04] #91 closed

[2019-09-27 01:04] #523 closed

[2019-09-27 01:04] #513 closed

[2019-09-27 16:04] #37 closed

[2019-10-01 22:04] #435 closed

[2019-10-01 22:04] #442 closed

[2019-10-01 23:04] #349 closed

[2019-10-01 23:04] #319 closed

[2019-10-02 00:04] #417 closed

[2019-10-02 18:35] #212 closed

[2019-10-02 22:24] hackintoshrao opened #650 "Invalid slack link"
The slack link at the bottom of the [Readme.md](https://github.com/kubeflow/examples/blob/master/README.md#get-involved) is invalid. Could you point it to a valid community channel link?

<img width="1177" alt="Screenshot 2019-10-03 at 3 50 34 AM" src="https://user-images.githubusercontent.com/2609511/66086319-4dcfe680-e591-11e9-8948-b247e8a8fd9c.png">

[2019-10-03 07:32] hackintoshrao commented on #435
@texasmichelle : Can I still take this up?

[2019-10-03 16:48] texasmichelle opened #652 "Update cluster name in xgboost test"
Presubmit tests are failing because they reference a cluster that no longer exists:
[code]

Update the cluster name and zone [here](https://github.com/kubeflow/examples/blob/master/test/workflows/components/xgboost_ames_housing.jsonnet#L22-L23).

[2019-10-04 11:30] jageshmaharjan opened #654 "Failed to pull image from azure acr"
Everything set up and followed accordingly to the
https://www.kubeflow.org/docs/azure/azureendtoend/, but when creating the pipeline from the kubeflow, got an errow with image pull.

[code]

[2019-10-05 08:35] jageshmaharjan commented on #654
Sorry, It was bad on my side.
The acr image needs to be with tag
`acrname.azurecr.io/preprocess:1`
closing this.

[2019-10-05 08:35] #654 closed

[2019-10-05 09:01] #412 closed

[2019-10-07 10:56] shreya-verma19 commented on #609
Hi
I tried to add trainingName but it already existed
kustomize edit add configmap mnist-map-training --from-literal=trainingName=test_kubeflow
Error: cannot add key trainingName, another key by that name already exists: map[GOOGLE_APPLICATION_CREDENTIALS:/var/secrets/user-gcp-sa.json batchSize:100 exportDir:gs://my_bucket_kubeflow/my-model/export learningRate:0.01 modelDir:gs://my_bucket_kubeflow

[2019-10-07 10:56] shreya-verma19 commented on #609
Hi I tried to add trainingName but it already existed
kustomize edit add configmap mnist-map-training --from-literal=trainingName=test_kubeflow
Error: cannot add key trainingName, another key by that name already exists: map[GOOGLE_APPLICATION_CREDENTIALS:/var/secrets/user-gcp-sa.json batchSize:100 exportDir:gs://my_bucket_kubeflow/my-model/export learningRate:0.01 modelDir:gs://my_bucket_kubeflow

[2019-10-07 20:14] #585 closed

[2019-10-08 03:14] #580 closed

[2019-10-09 00:04] jlewi opened #655 "Update xgboost_synthetic to 0.7"
In 0.7 we will use workload identity.

As such notebooks should no longer need to use/set GOOGLE_APPLICATION_CREDENTIALS

The notebook
https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/build-train-deploy.ipynb

Is currently checking GOOGLE_APPLICATION_CREDENTIALS we will need to update that code to work with workload identity.

P0 because this is part of our demo script for 0.7.

[2019-10-09 02:02] jinchihe commented on #609
@shreya-verma19 you executed twice? if yes, need to remove the frist one, seems kustomize does not support rewriting the value.

[2019-10-10 17:12] msiegler-google opened #656 "[codelab-pipelines-gis-feedback]:"
curl -O https://raw.githubusercontent.com/kubeflow/examples/master/github_issue_summarization/pipelines/example_pipelines/pipelines-kubecon.ipynb

should be (maybe?)

curl -O https://raw.githubusercontent.com/kubeflow/examples/master/github_issue_summarization/pipelines/example_pipelines/pipelines-notebook.ipynb

[2019-10-10 20:17] texasmichelle opened #657 "Migrate tests off of ksonnet"
Ksonnet has been deprecated and e2e tests should be defined as Argo workflow definitions instead. Define a python function that creates the workflow for existing [tests](https://github.com/kubeflow/examples/tree/master/test/workflows).

See here:
https://github.com/kubeflow/testing#python-function

Example workflow:
https://github.com/kubeflow/kubeflow/blob/master/py/kubeflow/kubeflow/ci/kfctl_e2e

[2019-10-16 07:19] #534 closed

[2019-10-17 19:07] kunmingg commented on #655
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-5-f41f69f16d32> in <module>
----> 1 model = ModelServe(model_file="mockup-model.dat")
      2 model.train()

<ipython-input-4-77007601abb2> in __init__(self, model_file)
     17         self.model = None
     18         self._workspa

[2019-10-17 19:39] kunmingg opened #661 "xgboost_synthetic: requirements.txt should pin pkg version"
Seeing version conflict from `pip3 install -r requirements.txt`:
`ERROR: jaeger-client 3.13.0 has requirement tornado<5,>=4.3, but you'll have tornado 5.1.1 which is incompatible.`

[2019-10-17 22:21] #661 closed

[2019-10-18 15:24] jlewi opened #665 "No signal about xgboost_synthetic test in periodic dashboard and its failing"
We'd like to get the xgboost_synthetic test green as a signal for the 0.7 release.

It's currently not showing up in the dashboard.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

Looking at a recent periodic run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-examples/1184996802630258692

the workflow is triggered but is failing. The step execute_n

[2019-10-18 15:31] jlewi commented on #665
Here are the logs
[kubeflow-periodic-examples-xgboost2-8692-4528-2325042608.log.txt](https://github.com/kubeflow/examples/files/3744641/kubeflow-periodic-examples-xgboost2-8692-4528-2325042608.log.txt)

[code]

[2019-10-19 16:56] #597 closed

[2019-10-23 05:28] jinchihe commented on #665
@jlewi Oh... we should enhance that.

we also met that in the mnist CI/CD testing, I'm going to debugging in https://github.com/kubeflow/examples/pull/668. I guess that's caused by too old kubectl.

[2019-10-23 15:01] #587 closed

[2019-10-24 02:01] #604 closed

[2019-10-24 17:53] krishnadurai commented on #655
Just another point to note:
I was testing with Istio 1.3.1 and ran into an issue installing the python package retrying (Step 2) saying the user does not have permissions to install it.

A workaround was to install with `pip3 install retrying --user` option first and then `pip3 install retrying`

[2019-10-24 21:03] lalithvaka opened #670 "Can't run the End-to-End Pipeline Example on Azure"
Have Kubeflow 0.62 v on AKS cluster. Started following the steps listed under https://www.kubeflow.org/docs/azure/azureendtoend/

Preprocess step completed and the training failed with exit code 1.  Log captured the following. Not sure if the example code has some bug that needs rectification.

loading dataset from /mnt/azure/train.txt
dataset size: 559
suffling data...
splitting data...
2019-10-2

[2019-10-24 22:40] lalithvaka opened #671 "Can't run the fairing example fairing/examples/prediction/xgboost-high-level-apis.ipynb"
Environment
AKS + Kubeflow 0.62
Image: gcr.io/kubeflow-images-public/tensorflow-2.0.0a-notebook-cpu:v0.5.5

Running the fairing/examples/prediction/xgboost-high-level-apis.ipynb notebook.
cell1: !pip install --user -r requirements.txt cell works with no errors
cell2: import argparse
import logging
import joblib
import sys
import pandas as pd
from sklearn.metrics import mean_absolute_error
from skl

[2019-10-28 17:19] #606 closed

[2019-10-31 19:17] FrancisLennon17 commented on #609
hi @jinchihe

`configmap/mnist-map-training-45h47275m7 unchanged
error: unable to recognize "STDIN": no matches for kind "TFJob" in version "kubeflow.org/v1beta2"
`
I've been reading through a couple of these threads and I can't find a solution. Looking for any advice on what I can do

`Version: {KustomizeVersion:2.0.3 GitCommit:a6f65144121d1955266b0cd836ce954c04122dc8 BuildDate:2019-03-05T20:37:4

[2019-10-31 21:10] FrancisLennon17 opened #672 "unable to recognize "STDIN": no matches for kind "TFJob" in version "kubeflow.org/v1beta2""
Following this guide [here](https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html)

When running `kustomize build . | kubectl apply -f -`
`configmap/mnist-map-training-45h47275m7 unchanged
error: unable to recognize "STDIN": no matches for kind "TFJob" in version "kubeflow.org/v1beta2"
`
I've been reading through a couple of these threads and I can't find a solution. Loo

[2019-11-01 00:51] jinchihe commented on #609
You tfjob CRD is V1, so we need to update the tfjobs version to v1.

[2019-11-01 08:38] FrancisLennon17 commented on #609
@jinchihe is that as simple as changing one of the yaml files from `v1beta2` to `v1`?

[2019-11-01 13:49] jlewi opened #673 "xgboost_synthetic in 0.7.0 model doesn't deploy"
With 0.7.0 and the xgboost_synthetic example the model doesn't get deployed. The model is crash looping with

[code]

[2019-11-01 23:52] jinchihe commented on #609
@FrancisLennon17 I think need to update all yaml files, I will update this once get chance. thanks

[2019-11-04 01:45] suneeta-mall commented on #673
I ran into this .. the seldon code specifies https://github.com/SeldonIO/seldon-core/blob/master/python/requirements.txt#L19 `azure-storage-blob >= 2.0.1` and `azure-storage-blob 12.0.0` gets installed but seldon core actually need needs `azure-storage-blob==2.1.0` as in 12.XX the `BlockBlobService` is no longer present

[2019-11-04 01:45] suneeta-mall commented on #673
see here https://github.com/SeldonIO/seldon-core/issues/1023

[2019-11-04 22:46] janeman98 commented on #650
The slack link works well for me.
@hackintoshrao, do you still experience problem?

[2019-11-06 02:35] #612 closed

[2019-11-06 18:22] jlewi opened #677 "Update mnist tests so that we get good signal in periodic dashboards"
We need to update the E2E tests for the mnist example. The end goal should be that we get clear signal in our test grid for the periodic examples
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples&group-by-hierarchy-pattern=%5B%5Cw-%5D%2B

Here's a screen shot of the current dashboard
![dashboard](https://user-images.githubusercontent.com/777219/68325271-e8828000-007d-11ea-95

[2019-11-07 07:40] jinchihe commented on #677
@jlewi OK, will do that after next week since I'm running on other track recent days :-)

[2019-11-08 04:36] jlewi commented on #655
kubeflow/examples#676  should hopefully fix the test

There is however one more issue with model deployment kubeflow/examples#673

[2019-11-12 00:44] #613 closed

[2019-11-14 21:12] sarahmaddox opened #680 "Update video "From 0 to Kubeflow""
The video is outdated - it installs Kubeflow v0.5:
https://github.com/kubeflow/examples/tree/master/videos/from_zero_to_kubeflow

There've been a number of changes to the Kubeflow installation processes since v0.5, both in the deployment UI and in the CLI.

We've removed the video from the GCP intro page in the Kubeflow docs:
https://www.kubeflow.org/docs/started/cloud/getting-started-gke/

It's s

[2019-11-14 21:12] sarahmaddox commented on #680
/cc @texasmichelle

[2019-11-19 13:23] tarrade commented on #609
I got the same issues and I did the following (as mention aboved):
- use `PATH=${WORKING_DIR}/bin:$PATH` so it will start with KustomizeVersion:2.0.3 and not some other version you have installed
-  in mnist/training/GCS/kustomization.yam replace: "ressources" by "bases" and it should look like:
[code]
you can also look at the correct YAML for serving as an example: mnist/serving/GCS/kustomization

[2019-11-21 01:21] jinchihe commented on #677
Sorry, need push back the ticket more days, I still cannot free up from urgent roadmap work now...

[2019-11-21 14:17] ryandawsonuk commented on #672
This could be because[ TFJob is now v1](https://github.com/kubeflow/pipelines/issues/2615) - the example is out of date

[2019-11-21 14:30] ryandawsonuk opened #681 "unable to build kustomize for mnist example"
I'm trying to follow the [mnist example with the local storage steps](https://github.com/kubeflow/examples/tree/master/mnist#local-storage). I've tried to follow those steps but when I do `kustomize build .` then I get:
[code]
I've tried with kustomize v3 (`go get -u sigs.k8s.io/kustomize/kustomize/v3`) and v2 (`go get -u sigs.k8s.io/kustomize/kustomize/v2`) but I get the same error with both. I a

[2019-11-22 02:23] fenglixa commented on #681
kustomize 2.0.3 is required and mentioned in [minist example document](https://github.com/kubeflow/examples/tree/master/mnist)

Seems other version of kustomize has issues on it. I remember such issues was logged and closed before

[2019-11-22 08:42] umialpha commented on #670
I got the same error, It was a syntax error. But I am not familiar with tf.

[2019-11-22 16:13] ryandawsonuk commented on #681
Oh I hadn't noticed that. But this time I tried with `go get sigs.k8s.io/kustomize/kustomize/v2@v2.0.3` but I get the same error. Actually it's a different error from the [one referenced in the doc](https://github.com/kubernetes-sigs/kustomize/issues/1295)

[2019-11-22 16:35] ryandawsonuk commented on #681
I've tried to deduce what the kustomize should evaluate to and came up with this:
[code]
It fails though with `IOError: [Errno socket error] [Errno 99] Cannot assign requested address` from
[code]
I guess I'm getting a path or format wrong. Would you be able to share an example?

[2019-11-23 01:08] jlewi commented on #677
No problem. Thanks for the update

[2019-11-23 12:01] ispmarin commented on #627
Any ideas on how to connect to a PostgreSQL database and use sklearn?

[2019-11-25 01:57] fenglixa commented on #681
Here is the output(sucessful example) from myside after run "kustomize build ."
[code]

[2019-11-25 02:02] fenglixa commented on #681
Issue #609
Should be same issue.

[2019-11-25 02:29] #622 closed

[2019-11-25 15:33] ryandawsonuk commented on #681
After editing that yaml I was able to run the TFJob.

[2019-11-25 18:59] jlewi commented on #673
I have some in progress changes on my branch:
https://github.com/jlewi/examples/tree/fix_xgboost3

I think this fixes the issues but I need to clean it up and submit a PR.

[2019-11-25 21:29] #623 closed

[2019-11-28 12:48] plaffitte commented on #681
@ryandawsonuk How exactly did you solve this? I can't get past the issue with the TFJob version...

[2019-11-28 12:54] plaffitte commented on #672
I have the same issue. Any way to solve it?
Tried replacing `version: v1beta2` with `version: v1` in `kustomization.yaml` but then got another error:
`Error: couldn't find target kubeflow.org_v1_TFJob|~X|~P|$(trainingName)|~S for json patch`

[2019-11-28 13:31] ryandawsonuk commented on #681
@plaffitte I didn't get the kustomize working yet, I just modified the yaml that @fenglixa provided above to use the v1 format - https://github.com/SeldonIO/seldon-core/issues/1106#issuecomment-558225067

[2019-11-28 17:05] plaffitte commented on #681
I get the following error:

`unable to recognize "config.yaml": no matches for kind "TFJob" in version "kubeflow.org/v1beta2"
`

My file looks like this:

`apiVersion: v1
data:
  batchSize: "100"
  exportDir: /mnt/export
  learningRate: "0.01"
  modelDir: /mnt
  name: mnist-train-local
  pvcMountPath: /mnt
  pvcName: mnist-test
  trainSteps: "200"
kind: ConfigMap
metadata:
  name: mnist-map-traini

[2019-11-28 17:10] ryandawsonuk commented on #681
Yeah the TFJob version in kubeflow now is
[code]

[2019-11-28 17:12] plaffitte commented on #681
Oops, sorry. I actually tried both and failed but copy-pasted the wrong one...
Here's the error I get:

`unable to recognize "config.yaml": no matches for kind "TFJob" in version "kubeflow.org/v1"`

And my file:

[code]

[2019-11-28 17:39] plaffitte commented on #609
@jinchihe I tried replacing all `v1beta2` with `v1` in all `.yaml` files but I get the same issue with `v1`:

`unable to recognize "STDIN": no matches for kind "TFJob" in version "kubeflow.org/v1"
`

[2019-11-28 18:12] ryandawsonuk commented on #681
What does `kubectl get crd tfjobs.kubeflow.org -o yaml` return for you?

[2019-11-29 10:20] plaffitte commented on #681
It returns `Error from server (NotFound): customresourcedefinitions.apiextensions.k8s.io "tfjobs.kubeflow.org" not found`

[2019-11-29 11:52] ryandawsonuk commented on #681
Then you need to install the CRD. Did you do a kfctl install of kubeflow?

[2019-12-02 04:43] #457 closed

[2019-12-02 21:56] elvinzhusiyu opened #685 "[codelab-intro-mnist-feedback]: - docker push fails in cloud shell"
Using the Cloud Shell, there is error when __docker push__:
[code]
Suggested by the discussion in this thread:
https://github.com/docker/for-linux/issues/711

A simple fix should be:
create a new file at location:
[code]
Add the following content:
[code]

I test it and it works for me

[2019-12-03 14:02] plaffitte opened #686 "'No response body' in tfjob error"
I am trying to deploy the MNIST example to my EKS cluster, but training fails with the following error:

`tensorflow.python.framework.errors_impl.InternalError: : No response body. Response code: 301`

The error occurs at line 124 of the `model.py` script:

`tf.estimator.train_and_evaluate(classifier, train_spec, eval_spec)`

Why is the error message empty and why am I getting an error when I'm ju

[2019-12-04 14:36] dijitali opened #687 "[codelab-pipelines-gis-feedback]: incorrect bucket ACL on gs://aju-dev-demos-codelabs"
When attempting to use the web app, I get a timeout when clicking the "generate title" button and the below is logged by the webapp pod:

[code]

[2019-12-04 21:58] rajanjitenpatel opened #688 "Unable to mount volumes for pod [pets-pvc] : for all 4 jobs"
Running on GKE.
zone: us-central1-a
Deployed Kubeflow using UI.

[code]

[2019-12-05 17:02] #631 closed

[2019-12-06 07:18] dhfromkorea commented on #609
I had the same issue as reported by @plaffitte.

[2019-12-07 00:55] #677 closed

[2019-12-09 13:33] plaffitte commented on #686
I've been trying to figure this out for a week, unsuccessfully.... Anyone has an idea why I'm getting an empty error response? Why is the error message so cryptic?

[2019-12-09 23:12] FrancisLennon17 commented on #672
@plaffitte Sorry for the delay, It worked for me after replacing `version: v1beta2` with `version: v1` in all of the yaml files

[2019-12-10 09:04] umialpha commented on #670
Hi, @lalithvaka I have fixed this bug. change `train_ds = Dataset.zip((Dataset.from_tensor_slices(list(train_data)),
                          Dataset.from_tensor_slices(list(train_labels)),  img_zie))` to `train_ds = Dataset.zip((Dataset.from_tensor_slices(list(train_data)),
                          Dataset.from_tensor_slices(list(train_labels)),  Dataset.from_tensor_slices([img_size] * len(trai

[2019-12-10 11:21] plaffitte commented on #672
@FrancisLennon17 no worries, it also ended up working for me but I'm not sure why now... I had probably forgotten to make the change in some places

[2019-12-10 13:46] andradron opened #691 "[codelab-minikf-kale-feedback]:"
I get a mistake after executing minikf command in started terminal. During the starting Kubeflow pods loading freezes at 94 or 97 % (30-31 / 32 pods ). It continues more than 30 minutes.
Instance parameters :
Machine type: n1-highmem-8 (8 vCPUs, 52 GB memory)
Boot disk: 100 GB
Data disk: 148 GB

[2019-12-10 18:24] texasmichelle commented on #652
Closing as unnecessary now that test infra no longer uses ksonnet.

[2019-12-10 18:24] #652 closed

[2019-12-10 18:28] texasmichelle commented on #657
Fixed in #666

[2019-12-10 18:28] #657 closed

[2019-12-11 01:05] jlewi commented on #670
@umialpha yes a PR to fix the sample would be awesome. Maybe open up another issue about adding tests to ensure if it breaks we catch it?

[2019-12-11 01:34] jbottum commented on #691
Hey Andradon - I would delete and re-install with the default disk sizes.   The installation should finish in 20-25 minutes.

[2019-12-11 11:00] #691 closed

[2019-12-12 16:22] plaffitte opened #694 "TFjob version issue"
I have tried to run tensorflow training jobs on a kubernetes cluster and I keep getting the same error:
`no matches for kind "TFJob" in version "kubeflow.org/v1"`

Even when taking the example configuration file from kubeflow documentation (https://www.kubeflow.org/docs/components/training/tftraining/) I get the error.

The command leading to this error is:
`kubectl apply -f <path-to-yaml-file>`

[2019-12-13 09:51] vijaytrainer opened #696 "[codelab-intro-mnist-feedback]:"
while running this command

kustomize build . | kubectl apply -f -

it's failing to create the tfjob, because it's looking for a svc account default-editor. Not sure what is that for, I removed that thing from the yaml and tried... after that it says... the secret svc account is not having enough permissions.

tensorflow.python.framework.errors_impl.PermissionDeniedError: Error executing an HTTP r

[2019-12-13 10:20] plaffitte commented on #672
@FrancisLennon17 I'm actually running into the issue again and I don't know how to solve it since last time it just went away without my understanding why....
So I have replaced all the `version: v1beta2` with `version: v1` in all yaml files but now I get the following error:
`no matches for kind "TFJob" in version "kubeflow.org/v1"`

[2019-12-13 10:44] FrancisLennon17 commented on #672
if you run the command `kubectl describe crd tfjobs.kubeflow.org`, it describes the version of the TFJob CRD that is being used in Kubeflow. Mine says v1 under spec/versions. ALL of the yaml files that use the `kind: TFJob` must match the version.

Where you originally said you changed `version: v1beta2` to `version: v1`, do you mean you're changing the `apiVersion: kubeflow.org/v1beta2` to `apiVe

[2019-12-13 10:44] FrancisLennon17 commented on #672
@plaffitte ^^. However if it is a different issue and you find the solution, please keep me updated

[2019-12-13 12:09] plaffitte commented on #672
@FrancisLennon17 I figured it out... I had forgotten to re-deploy Kubeflow onto my cluster in the first place, that's why Kubernetes wasn't recognizing the `TFJob` type, since it's defined by Kubeflow...

[2019-12-14 01:20] amygdala commented on #639
nooooo, stale[bot], do not close :)

[2019-12-15 23:35] #635 closed

[2019-12-17 04:51] #617 closed

[2019-12-17 21:28] crispindev opened #701 "[codelab-intro-mnist-feedback]:"
Hi Team,

I tried running the mnist-demo. As soon as I try to run kustomize build . | kubectl apply -f -

I get:
configmap/mnist-map-training-g9gg26tmm2 created
tfjob.kubeflow.org/my-train-1 created

When describing the tfjob, I keep getting the same error:
Warning  SettedPodTemplateRestartPolicy  4m58s (x13 over 5m10s)  tf-operator  Restart policy in pod template will be overwritten by restart po

[2019-12-19 00:32] amygdala commented on #641
nooooo

[2019-12-19 17:12] plaffitte commented on #686
It seems like the issue is related to S3 bucket access, as per the following line in the logs:
`2019-12-19 15:48:33.250905: W tensorflow/core/platform/s3/aws_logging.cc:57] Encountered Unknown AWSError
PermanentRedirect
The bucket you are attempting to access must be addressed using the specified endpoint. Please send all future requests to this endpoint.:`

[2019-12-20 13:31] plaffitte commented on #694
I have resolved this. It was due to the CRD not being deployed, therefore `TFJob` was not reognized as a valid kind...

[2019-12-20 13:31] #694 closed

[2019-12-20 15:06] plaffitte commented on #686
Found the issue, the variable pointing the s3 bucket was wrong. I had written it as follows `s3://<my-bucket-name>` when it was to be like this`<my-bucket-name>.s3.amazon.com`

[2019-12-20 15:06] #686 closed

[2019-12-20 15:06] plaffitte commented on #686
Found the issue, the variable pointing the s3 bucket was wrong. I had written it as follows `s3://<my-bucket-name>` when it was to be like this`<my-bucket-name>.s3.amazon.com`

[2019-12-21 07:51] janeman98 commented on #681
I still get error (but different from v3.4.0) when using v2.0.3:

kustomize version
Version: {KustomizeVersion:2.0.3 GitCommit:a6f65144121d1955266b0cd836ce954c04122dc8 BuildDate:2019-03-05T20:37:42Z GoOs:linux GoArch:amd64}

kustomize build . |kubectl apply -f -
Error: couldn't find target kubeflow.org_v1beta2_TFJob|~X|~P|$(trainingName)|~S for json patch
error: no objects passed to apply

[2019-12-23 12:50] tarrade opened #707 "[codelab-e2e-gis-feedback]: kfctl apply platform -V --> "No valid versions with the prefix \"1.11\" found.""
I am doing this tutorial on GCP using CloudShell. I did some other tutorial before with Kubeflow.

I have some issue with the following step:
`kfctl apply platform -V`

this generate a YAML file and some option seems to be problematic:

[code]
and give the following ERROR:
[code]
I used
`gcloud container get-server-config --zone us-central1-a`
to get the list of version and tried few of them like

[2019-12-24 00:19] paulkarayan commented on #609
based on @lucastheis 's situation, i downgraded to older Kustomize package
(you can do this will brew, following https://www.fernandomc.com/posts/brew-install-legacy-hugo-site-generator/)
brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/b4e8be2ffb5b9552901d802911dbae522654cf1e/Formula/kustomize.rb

then if i edit GCS/kustomization.yaml to replace "resources" with "bases" e.g.

[2019-12-25 15:42] #392 closed

[2019-12-27 12:39] plaffitte opened #709 "Issue serving MNIST model"
Hi, I have successfully trained the mnist model using a K8s cluster and stored it on S3, all according to the tutorial. I am now trying to serve the model and access it through the web-ui provided in folder font, but it gives me an error:

`❗ Exception making request: <_Rendezvous of RPC that terminated with: status = StatusCode.UNAVAILABLE details = "Name resolution failure" debug_error_string =

[2019-12-27 23:07] crispindev opened #710 "Simple Notebook Pipeline"
Hi,

I am trying to run the simple notebook pipeline however I keep getting an error:

`RefreshError: ("Failed to retrieve http://metadata.google.internal/computeMetadata/v1/instance/service-accounts/default/?recursive=true from the Google Compute Enginemetadata service. Status: 504 Response:\nb'upstream request timeout'", <google.auth.transport.requests._Response object at 0x7f806fbd3e80>)`

Look

[2019-12-29 21:20] jlewi commented on #710
Are you running on GCP or some other platform?

/cc @IronPan

[2019-12-29 21:26] jlewi commented on #709
I believe that is a gRPC error indicating a problem connecting to your server. My suggestion would be to verify that your model is deployed.

How are you connecting to your server? Are you using `kubectl port-forward` or something else?

[2019-12-30 23:04] crispindev commented on #710
Yes GCP.

[2019-12-31 03:22] zhaoxq commented on #701
I see same error. I tried to create a service account with name "default-editor", I still see the same error.

[2020-01-02 11:03] plaffitte commented on #709
@jlewi yes I am using `kubectl port-forward`.
I can see that the deployment and the service were created when running `kubectl get services` and `kubectl get deployments`. How else can I check that my model is deployed?

[2020-01-02 14:48] plaffitte commented on #709
I'm not sure what has changed but I now see a new error now, which says:
`StatusCode.INVALID_ARGUMENT details = "input tensor alias not found in signature: x. Inputs expected to be in the set {input_image}.`

[2020-01-06 18:43] cbscientist commented on #701
I see the same error as well. My guess is that the default service account for the kubeflow deployment underwent a name change and the corresponding .yaml files (6 total under the mnist-deployment directory) have yet to be updated.

[2020-01-06 21:55] jtfogarty commented on #639
/area docs
/priority p2

[2020-01-06 21:57] jtfogarty commented on #627
/area docs
/priority p2

[2020-01-06 22:16] jlewi commented on #641
P0 for 1.0.

[2020-01-07 19:10] cbscientist commented on #701
OK - brief follow up here. I'm still working through some other issues with this example but in this case the service account referred to in the error message refers to a Kubernetes serviceAccount object, not a GCP service account which I had previously assumed. Listing all service accounts via the `kubectl get serviceAccounts` command provided a list of names to choose from. I went with the `defa

[2020-01-08 23:14] jtfogarty commented on #681
/area kustomize

[2020-01-10 10:15] bauagonzo commented on #688
I'm not using that example on GKE, but to get it work I had to remove the `volumeMode` attribute here : https://github.com/kubeflow/examples/blob/master/object_detection/ks-app/components/pets-pvc.jsonnet#L15

[2020-01-11 02:02] ptone commented on #578
still getting this with v3.5.3
{Version:kustomize/v3.5.3 GitCommit:5ba90fe5ef1dc4599e359edd41d1d0e6373b247d BuildDate:2019-12-17T21:57:37Z GoOs:linux GoArch:amd64}

[2020-01-14 14:48] NikeNano opened #711 "Add example using Github actions do deploy pipeline to Kubeflow"
The goal with this issue is to add an example on how to build and deploy pipelines to Kubeflow using GitHub actions.  This would help in using github actions for CI/CD for kubeflow for ML pipelines.

[2020-01-14 14:51] NikeNano commented on #711
Lets continue the discussion here @hamelsmu. Feel free to chip in as well @inc0, @jlewi  mentioned that you had done some work on this before.

I will update further with my thought in a separate comment later.

@sarahmaddox  how do I add the correct labels to this Issue?

[2020-01-14 15:43] hamelsmu commented on #711
Here are some resources that may be helpful:

Repo with links to a bunch of ML related GitHub actions - https://github.com/machine-learning-apps/actions-ml-cicd

End to end demo which includes deploying a pipeline to Argo: https://youtu.be/Ll50l3fsoYs

Do you want to get started on an Action and I can help review/troubleshoot?  Let me know how I can be of help!  Thanks for starting this!

cc: @aro

[2020-01-14 16:17] sanjikasehgal commented on #701
Hey I'm getting that same issues as well with the HTTP request permission error. I've tried giving admin level permissions to the service accounts at both the object and bucket level. Did you ever resolve that issue? @cbscientist

[2020-01-14 17:47] sarahmaddox commented on #711
/label doc-sprint

[2020-01-14 17:49] sarahmaddox commented on #711
@NikeNano It looks like we need admin access to this repo, which I don't have. I'll ask someone to add the label. I see you've managed to add the issue to the [Doc Sprint Kanban board](https://github.com/orgs/kubeflow/projects/21), which is great!

[2020-01-14 19:42] jtfogarty commented on #711
/area docs
/priority p2

[2020-01-14 20:01] jtfogarty commented on #696
/area kustomize
/kind bug
/priority p1

[2020-01-14 20:07] jtfogarty commented on #687
/area front-end
/priority p1

[2020-01-14 20:15] jtfogarty commented on #629
/area engprod
/priority p2

[2020-01-15 08:07] NikeNano commented on #711
Sounds great @hamelsmu!

The current set up we use at work uses pure python commands which i run as part of a step in a github actions which also where my original thought. But I believe it makes more sense to make a "proper" github action for it.

I will go through the material, the action-ml-cicd repo is great!

[2020-01-15 15:32] cbscientist commented on #701
@sanjikasehgal Kind of? I ended up making the following changes, which helped narrow down the issue (this was after I fixed the reference to the K8s service account and added write privileges to the GCS service accounts, but looking back I'm not sure I needed to do the latter).

1. In `training/base/Worker.yaml`, I commented out the command to run `model.py` and instead put in some code to just ru

[2020-01-15 17:50] #656 closed

[2020-01-16 16:18] jtfogarty commented on #685
/area/example mnist

[2020-01-16 16:32] jtfogarty commented on #680
/area example
/priority p2

[2020-01-16 16:45] jtfogarty commented on #672
/area kustomize
/kind bug
/priority p2

[2020-01-16 16:46] jtfogarty commented on #671
/area example
priority p2

[2020-01-16 16:47] jtfogarty commented on #650
/area usage
/priority p2

[2020-01-16 16:50] jtfogarty commented on #644
/area jupyter
/priority p2

[2020-01-16 16:52] jtfogarty commented on #609
/area example/mnist
/area kustomize
/priority p2

[2020-01-20 13:21] navneetkrc-aj opened #712 "[codelab-minikf-kale-feedback]: Problem at step Click Launch to create the notebook server."
Problem after step Click Launch to create the notebook server.
Not able to reach the step -
When the notebook server is available, click Connect to connect to it.

Status bar keeps on rotating and I am not able to connect to Notebook Server.
<img width="1156" alt="Not able to launch the Notebook Servers" src="https://user-images.githubusercontent.com/49390926/72729685-c0eb8000-3bb5-11ea-9778-d4b25

[2020-01-21 09:55] NikeNano commented on #711
The planed work is the following:
- Build the Kubeflow deployment action, as a container based GitHub action. I have a skeleton and hope to have it up and running soon. I will do this in a separate repo. Will tag you in it @hamelsmu. I intend to use the python kfp API, and allowing the user to pass in the path to the file and then compile and upload the pipeline. Could also add later the option to

[2020-01-21 14:06] jlewi commented on #641
/lifecycle frozen

@amygdala any update on this?

[2020-01-23 04:41] hamelsmu commented on #711
Sounds exciting!  Let us know if you get stuck on anything!

[2020-01-24 00:27] amygdala opened #713 "mnist example: change to deploy tfjob into user profile namespace"
Looks like the mnist example is broken; looks like the tfjob needs to be deployed into a user profile namespace now. The quick workaround is to just direct the output of 'kustomize build' to a yaml file rather than piping directly to kubectl; then editing that file to change the namespace, then applying it. The more principled fix would be to change the set of kustomize commands.

(for googlers, s

[2020-01-26 03:01] jtfogarty commented on #713
/area example
/priority p2

[2020-01-26 18:53] amygdala commented on #713
probably we should bump the priority higher, since this code is used for the main docs 'getting started' example.

[2020-01-26 20:32] jtfogarty commented on #712
/area front-end
/priority front-end

[2020-01-27 16:41] aginpatrick commented on #701
Same error here. @cbscientist  Do you know where one can find the README? I see [here](https://github.com/googlecodelabs/kubeflow-introduction/blob/master/README.md) that this readme has been deprecated.

[2020-02-01 19:06] Geoyi commented on #578
still getting the same error mentioned above with version 3.5.4

[2020-02-03 17:43] jlewi commented on #665
/lifecycle frozen

[2020-02-04 04:20] amygdala commented on #713
@sarahmaddox @jlewi This is the one that really needs the priority bumped in my opinion.  I was thinking to do a quick fix by having them redirect the kustomize build output to a yaml, then having them edit the yaml to change the 'kubeflow' namespace to their user one.

[2020-02-07 22:02] amygdala opened #721 "GH issue summ pipeline example: Add a pipeline variant with the use_gcp_secret annotations removed"
https://github.com/kubeflow/examples/tree/master/github_issue_summarization/pipelines
Add a pipeline variant with the `apply(gcp.use_gcp_secret('user-gcp-sa'))` annotations removed, for hosted pipelines install with all-cloud-platform vm scopes.

[2020-02-10 13:46] NikeNano commented on #711
I have start the work on this some time back and most should be done, I have to update the doc a bit and will then align with @hamelsmu.  https://github.com/NikeNano/kubeflow-github-action

[2020-02-10 15:41] sarahmaddox commented on #711
Thanks @NikeNano!

/assign @NikeNano

[2020-02-10 18:18] amygdala commented on #713
Pulled in https://github.com/kubeflow/examples/pull/720 , but I like Jeremy's suggestion there about how to make the fix a bit nicer.  I'll make the same change in the docs e2e page too, which uses this example.

[2020-02-10 19:10] amygdala commented on #713
Update: See also https://github.com/kubeflow/website/issues/1554 . Sounds like @jlewi will tackle a notebook-based version.

[2020-02-10 20:48] fengpinghu opened #722 "Simple Notebook Pipeline"
The simple notebook pipeline failed on my onprem kubeflow setup:

The logs of the failed container is

  File "<string>", line 4
    add(a: float, b: float) -> float:
         ^
SyntaxError: invalid syntax

It looks the container is passed the following command. Is it something that caused def keyword to be missing(when kfp does the func to container) thus the error above?

    Command:
      pyth

[2020-02-10 21:51] hamelsmu commented on #711
This is excellent.

cc: @aronchick @jlewi @t-holland @inc0 @awmatheson

[2020-02-10 23:15] jlewi commented on #665
@gabrielwen any update on this? Did your recent PRs resolve this?

[2020-02-10 23:22] amygdala commented on #641
cc @velascoluis, who is helping with this. He made an (internal) spreadsheet to record progress.

Just to note that
https://github.com/kubeflow/examples/blob/master/pipelines/mnist-pipelines/mnist_pipeline.py looks to be broken (in 0.7 too, I believe, given the nature of the probs).
(I didn't write this example; don't know much about the details of how it works.  Will see if I can suss it out thou

[2020-02-10 23:24] amygdala commented on #641
Just to note that
https://github.com/kubeflow/examples/blob/master/pipelines/mnist-pipelines/mnist_pipeline.py looks to be broken --in 0.7 too, I believe, given the nature of the probs.

(I didn't write this example; don't know much about the details of how it works.  Will see if I can suss it out though.  Unfortunately it's a highlighted docs example so we can't just mark it as broken).

[2020-02-10 23:28] amygdala commented on #641
I've asked @velascoluis if he can test the first 2:
https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html?index=..%2F..index#0
https://codelabs.developers.google.com/codelabs/cloud-kubeflow-e2e-gis/#0

I'll check the 3rd one.  (I've already confirmed that the code for this lab runs okay in 1.0).

[2020-02-11 01:27] jlewi commented on #696
The mnist example is intended to run in a namespace associated with a Kubeflow profile.
The Kubeflow profile resource ensures the required service accounts e.g. "default-editor" exist in the namespace.

On GCP if you don't use those service accounts you'd have to manually setup permissions. This includes mapping the service accounts to a GCP service account using workload identity to get GCP crede

[2020-02-11 01:27] #696 closed

[2020-02-11 01:28] jlewi commented on #685
Looks like the original bug report includes a work around.

Moving forward I think we should update the example to provide a notebook that runs in Kubeflow.

[2020-02-11 01:28] #685 closed

[2020-02-11 01:33] jlewi commented on #681
The version should probably be v1.

[2020-02-11 01:35] jlewi commented on #701
See the comment here:
https://github.com/kubeflow/examples/issues/696#issuecomment-584440312

about why the default-editor service account is missing.

Duplicate of kubeflow/examples#713

[2020-02-11 01:35] #701 closed

[2020-02-11 06:17] NikeNano commented on #711
The action is now up and running. Is there anyone from the kubeflow community that could also help review it? Which is the best place in the repo to add an example @sarahmaddox ?

[2020-02-11 13:26] sarahmaddox commented on #711
/cc @amygdala
/cc @joeliedtke

This looks great @NikeNano!

I suggestion that the code would fit in well here:
https://github.com/kubeflow/examples/tree/master/pipelines
But I'll leave it to @amygdala for the final word.

For the docs, @joeliedtke is the lead tech writer on pipelines. I think there are two options, depending on the amount of time you have available.
* For a quick solution, you can

[2020-02-11 16:42] jlewi opened #724 "update mnist e2e example on AWS for KF 1.0"
There are a number of issues with the mnist example that need to be addressed for KF 1.0
https://github.com/kubeflow/examples/tree/master/mnist

1. The example is using Ambassador not ISTIO for routes to the UI and model
1. The training job needs to be updated to run in a profile created namespace in order to have
the required service accounts

     * See kubeflow/examples#713
1. With ISTIO the de

[2020-02-11 16:49] jlewi opened #725 "Update mnist E2E example for on prem vanilla KF"
There are a number of issues with the mnist example that need to be addressed for KF 1.0
https://github.com/kubeflow/examples/tree/master/mnist

1. The example is using Ambassador not ISTIO for routes to the UI and model
1. The training job needs to be updated to run in a profile created namespace in order to have
the required service accounts

     * See kubeflow/examples#713
1. With ISTIO the de

[2020-02-11 17:54] amygdala opened #727 "create replacement gke pipelines example"
assigning to moi.  I am working on a new codelab that should be a good fit.

See https://github.com/kubeflow/examples/pull/726 , kubeflow/pipelines#3037, kubeflow/website#1611

[2020-02-11 18:10] Jeffwan commented on #724
/cc @Jeffwan

[2020-02-11 19:39] NikeNano commented on #711
Cool! Then I will make a tutorial for it and make a PR.

[2020-02-12 00:16] jlewi opened #729 "Create a new (Tekton?) workflow for lint and unittests"
We use to have unittests and linttests but these were disabled.

The linttests were disabled in #728 because lint was still using python2 and needs to be updated to python3. We also need to get rid of ksonnet for writing our E2E workflows and ideally move to tekton.

* kubeflow/testing#560 is related to building an updated image with python3.8
compatible version of lint so we can support f style s

[2020-02-12 17:28] jlewi commented on #725
Could we reuse the minio instance that KFP ships?

[2020-02-12 17:35] jlewi opened #731 "Create an mnist E2E notebook for Azure"
For 1.0 the core CUJ is build, train, deploy.

In  kubeflow/examples#723

we've created a notebook that highlights this core CUJ.

We'd like to have variations of this notebook for all the different platforms/clouds on which Kubeflow is supported.

So we'd like to have a variant of this notebook that is suited for Azure.

That primarily means updating the notebook to use Azure blob store. Alternat

[2020-02-12 18:28] swiftdiaries commented on #725
Looks like you can use it.
[code]
The API Reference is here: https://docs.min.io/docs/python-client-api-reference

[2020-02-12 18:52] jlewi commented on #725
@swiftdiaries Thanks; I think we will also need to update the K8s specs for

* TFJob
* TFServing
* Tensorboard

to read from minio

/cc @mameshini

[2020-02-12 18:58] swiftdiaries commented on #725
Yeah, I haven't gotten there yet.
I'll update here when I do

[2020-02-12 19:15] mameshini commented on #725
+1 to having separate notebooks for different Kubeflow distributions/clouds.

Currently, I am still working on the KF 1.0 upgrade and solving Istio/LB issues.  Once it's resolved, then I can use our on-prem environment to update MNIST notebook examples.

[2020-02-13 01:06] jinchihe opened #733 "Need work around the kustomize issue for mnist example"
From some issue in the repo, someone got the issue with the new kustomize, in fact the mnist example is made with `kustomize v2.0.3`, but in the newer kustomize, there is a bug https://github.com/kubernetes-sigs/kustomize/issues/1295, and still not fixed, that's better to work around the kustomize issue for mnist example to avoid new kubeflower get into the problem while running kubeflow mnist exa

[2020-02-13 06:18] #655 closed

[2020-02-13 14:20] jlewi commented on #733
@jinchihe my suggestion is that we remove kustomize altogether and use notebooks to run the example. Then we can just use python f style string to parameterize the YAML config.

See kubeflow/examples#723

We have issues to create corresponding notebooks for the various platforms.
#731 azure
#725 onprem/vanilla K8s
#724 aws
kubeflow/examples#723 GCP

[2020-02-13 14:21] eterna2 commented on #724
Can I suggest that our kustomize base manifest should be fully fleshed out with everything you need - i.e. you can deploy as is with kubectl to get kubeflow up and running.

Then use overlays to overwrite and do the parameterization?

This way a non-kustomize user can still deploy as is with kubectl, while advanced users can continue using their own overlays?

[2020-02-13 14:29] jlewi commented on #727
@amygdala Could we create a KF compatible notebook to run the example E2E so its easy to test and so users don't have to actually type anything?

If at all possible, could we have the pipeline use GitOps; so rather than have the pipeline directly deploy the model the final step in the model would be to push a commit updating the K8s deployment yaml to use the latest model,

We can then use somethi

[2020-02-13 14:36] jlewi opened #734 "GitHub Issue Summarization for 1.0"
The GitHub issue summarization example needs to be updated for 1.0

A couple suggestions

* We should create a notebook that can run in KF for running the example E2E
  * This eliminates the need for users to type and copy and paste a lot of things
  * This makes it easier to test
  * We should create Cloud/platform specific variants of the notebooks

* We should get rid of distributed training

[2020-02-17 02:20] jinchihe commented on #733
Sounds good! @jlewi

[2020-02-17 03:15] #713 closed

[2020-02-18 13:10] jlewi commented on #725
@jinchihe @swiftdiaries is one of you working on this?

[2020-02-18 13:11] jlewi commented on #724
@Jeffwan do you think you will be able to pick this up?

[2020-02-18 14:58] NikeNano commented on #711
Since this is done and merge I will close this issue. Thanks for the help everyone!

[2020-02-18 14:58] #711 closed

[2020-02-18 15:03] jlewi commented on #641
@amygdala @velascoluis any update?

[2020-02-18 15:06] jlewi commented on #731
@aronchick know anyone who could pick this up?

[2020-02-18 15:47] amygdala commented on #641
We're going to pull the e2e-gis codelab for now -- I asked Dan S on a separate internal bug if he had permissions to do that.  I'll follow up this a.m.  Then we should mark the example in the repo accordingly.  I'll put a PR for that.
Apparently the issue that breaks it is ksonnet-related (don't know details), so probably straightforward to fix if we find a new owner, but it needs updating overall

[2020-02-18 15:48] amygdala commented on #641
We should create a new codelab for your new mnist notebook.

[2020-02-18 17:30] sarahmaddox commented on #711
Thanks @NikeNano !

[2020-02-18 19:36] swiftdiaries commented on #725
I'm working on this for vanilla-k8s

[2020-02-18 19:52] Jeffwan commented on #724
@jlewi working on this now.

[2020-02-18 22:14] amygdala commented on #641
Update on the intro lab: via Luis, it has these issues:
"The cluster deploy steps relies on the UI, I did use my already existing cluster.The job submit fails at first with "tf-operator  Error creating: pods "my-train-1-chief-0" is forbidden: error looking up service account kubeflow/default-editor: serviceaccount "default-editor" not found", this is easily fixable with the workaround @ https://ww

[2020-02-18 22:15] amygdala commented on #641
For the e2e gis one: For now we're in the process of 'hiding' this codelab from the codelab index, and have also marked the text 'deprecated' for those who had the link bookmarked.
We should similarly mark the readme in kf/examples -- I'll put in a PR for that shortly.

[2020-02-18 23:24] amygdala commented on #641
I think I'll just swap in a new codelab that uses Jeremy's new notebook, for the intro one (https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html?index=..%2F..index#0)

[2020-02-19 00:07] Jeffwan commented on #724
@eterna2

I agree advanced users can continue using their own overlays. This would be supper helpful in real use case. For kubeflow/examples, it's unnecessary to use kustomizes. From maintain perspective, it's painful compare to notebook which can be easily tested.

I think the overall user experience is not good as Jupyter notebook. We assume most of the users running these examples are data scie

[2020-02-19 03:31] swiftdiaries commented on #725
/assign @swiftdiaries

[2020-02-19 05:55] JIElite opened #738 "[codelab-intro-mnist-feedback]: Dockerfile.model in examples/mnist needs to be fixed"
Issue: Dockerfile.model in examples/mnist needs to be fixed
Platform: Google Cloud Platform with Cloud Shell

According to "[Introduction to Kubeflow on Google Kubernetes Engine](https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html#2)", we can run the following command to run docker container:
`docker run -it $IMAGE_PATH`

However, I ran into this error message at 21:40

[2020-02-19 19:36] Jeffwan commented on #724
/assign @Jeffwan

[2020-02-20 02:22] jinchihe commented on #725
@jlewi I'm working for On-prem cluster for the mnist, will send a PR for this later. Thanks.

[2020-02-20 04:44] swiftdiaries commented on #725
@jinchihe I've made a PR #737
Could you please review it? I'd love to work together on that

[2020-02-20 09:36] #733 closed

[2020-02-20 09:56] jinchihe commented on #725
@swiftdiaries Yeah, your PR looks great!  but we have duplicated works :-(  I still create the PR #742  to show what I did, there are some difference,  let's discuss that when you have time.

I did that using Fairing and KFServing as I described in #742 . Maybe good to check my example in Fairing repo if the example repo takes your commits.

@jlewi Comments?

[2020-02-20 14:51] #725 closed

[2020-02-20 20:59] millerdz commented on #738
Submitted PR #744 to fix this issue.

[2020-02-21 13:27] jlewi commented on #644
Should be fixed and we have E2E testing now.

[2020-02-21 13:27] #644 closed

[2020-02-23 20:48] marcindulak opened #748 "Review of mnist_vanilla_k8s.ipynb"
This is about the version https://github.com/kubeflow/examples/commit/c9c22a31213f12f6222a352554f76fdd77b20243

The notebook needs improvements in order to be runnable:

1. The "Install Required Libraries" section should be first in the notebook,
since it contains `import logging` and installs `kubeflow-fairing` needed by the "Step 2 - Set DOCKER_REGISTRY" section.
2. In section "Step 2 - Set DOCK

[2020-02-24 11:59] jlewi commented on #748
/assign @swiftdiaries

[2020-02-24 12:00] jlewi opened #750 "Periodic notebook tests are failing"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples
Looks like the tests started failing on 02/22

[2020-02-24 12:01] jlewi commented on #750
/assign @gabrielwen

[2020-02-24 16:55] jlewi commented on #724
@Jeffwan I think we can close this right now that #740 is merged?

[2020-02-24 18:34] Jeffwan commented on #724
PR has been merged.

/close

[2020-02-24 18:34] #724 closed

[2020-02-24 18:40] gabrielwen commented on #750
cannot reproduce the issue - from the log it was because `unable to access 'https://github.com/kubeflow/examples.git/': Could not resolve host: github.com`

[2020-02-24 22:05] swiftdiaries commented on #748
Hey @marcindulak
Thanks for the detailed error report. I'll send in fixes in a PR

[2020-02-25 10:35] jlewi commented on #750
It looks like the most recent change to requirements.txt
https://github.com/kubeflow/examples/pull/737
was before the test started failing.

All recent runs of the test are failures.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

The most recent run was 10:54 PST 02/24. So it hasn't run in almost 24 hours.

[2020-02-25 10:38] jlewi commented on #750
It looks like the jobs are running but not showing up in testgrid.
https://prow.k8s.io/?type=periodic&job=kubeflow-periodic-examples

[2020-02-25 10:49] jlewi commented on #750
@gabrielwen here are the logs from the most recent failure

It looks like the error is an issue with workload identity.

[code]

It looks like this ran on cluster

[code]

Are all the pods on the machine having problems with workload identity? If we restart the node metadata servers does that fix the problem?

[pod.logs.txt](https://github.com/kubeflow/examples/files/4249534/pod.logs.txt)

[2020-02-25 12:17] akkolwalkar opened #754 "[codelab-pipelines-gis-feedback]:"
Pods unschedulable

[2020-02-25 19:45] gabrielwen commented on #750
I tried running a [pod](https://pantheon.corp.google.com/kubernetes/statefulset/us-east1-c/kf-v1-0220-674/kubeflow-kf-ci-v1-user/testing-worker?project=kubeflow-ci-deployment&tab=details&duration=PT1H&pod_summary_list_tablesize=20&service_list_datatablesize=20) to see, but I can actually run until writing html file to GCS:
`Forbidden: 403 GET https://www.googleapis.com/storage/v1/b/kubeflow-ci-dep

[2020-02-25 20:13] jlewi commented on #750
@gabrielwen what exactly did you do? The 403 error is an IAM permission error. The activated account kubeflow-ci-deploy.svc.id.goog doesn't look correct. It doesn't look like a GCP service account.

I think the K8s job running papermill should be using workload identity to run as the user service account provisioned as part of Kubeflow deployment.

So I would expect the account to be something lik

[2020-02-25 20:15] jlewi commented on #750
@gabrielwen I tried to log into the v1 cluster kf-v1-0220-674
https://kf-v1-0220-674.endpoints.kubeflow-ci-deployment.cloud.goog/ I get a DNS error
DNS_PROBE_FINISHED_NXDOMAIN

[2020-02-25 20:42] gabrielwen commented on #750
I wrote a simple yaml and `kubectl apply` to bring up the worker, it's on kf-v1

[2020-02-25 22:13] gabrielwen commented on #750
it appears istio-ingressgateway was not healthy.  I tried to respawn (delete the pod and let the deployment spawn a new one) both istio-ingressgateway and istio-pilot but they are not able to heal themselves.

[2020-02-25 22:51] gabrielwen commented on #750
@jlewi ok I think we have at least 3 problems:
- somehow istio doesn't work properly after the cluster was created for 2 days.
- metadata service is constantly failing.  I'm not sure how to restart the service, could you give me some pointers?
- checkout container in mnist test isn't able to connect to outside world, not even google.com

[2020-02-25 23:48] jlewi commented on #750
@gabrielwen What does unhealthy mean? Are the pods being scheduled? Are the health checks failing? What do the logs show?

* If ISTIO is unhealthy that could potentially affect outbound access is a pod is running with an ISTIO side car
* I think we can ignore the metadata unhealthy issue for now (it could be a symptom of the same problem).
* Is it only the mnist pod that isn't able to connect to t

[2020-02-26 00:09] jlewi commented on #750
Its possible the DNS error is an issue with the ingress setup. Its possible this is unrelated to the outbound internet access issue. One possibility is that some of the resources were garbage collected as part of the cleanup script. You could follow the troubeshooting guide to debug
https://www.kubeflow.org/docs/gke/troubleshooting-gke/

I would suggest by trying to reproduce the outbound internat

[2020-02-26 01:05] gabrielwen commented on #750
- health check shows unhealthy.
- yap, only the mnist pod isn't able to connect, xgboost pod works fine.  the testing-worker that I started works fine as well.

[2020-02-26 13:36] jlewi commented on #750
It looks like a new cluster got autodeployed and the tests are now passing.

A possible next step might be to add a mechanism to freeze auto-deployments; e.g. by adding some label. So that we can keep one of the deployments up for a long time to see if we can reproduce.

I suspect the problem might be something is getting GC'd.

[2020-02-26 16:35] jlewi opened #757 "Update pets example to work with KF 1.0 and use a notebook"
The pets example needs to be updated to work with KF 1.0.
https://github.com/kubeflow/examples/tree/master/object_detection

It looks like it is still using ksonnet.

I think we should follow the example of mnist and create a notebook that

1. Provides an E2E tutorial that walks people through the example
1. Can be run as a continuous integration test.

Here's the mnist notebook
https://github.com

[2020-02-28 14:14] masapasa opened #761 "training gcs"
I cannot find this directory. What am I missing?
cd $WORKING_DIR/training/GCS

[2020-02-28 18:37] berndverst commented on #731
@jlewi I talked to @aronchick last week and finally picked this up yesterday 😄

Thanks for reviewing #759

[2020-03-01 19:57] #673 closed

[2020-03-02 16:21] jlewi commented on #761
@masapasa Could you please provide more information about where this error occurred? What example and docs were you looking at?

[2020-03-02 16:25] jlewi commented on #750
Lets close this as not reproducible for now.

[2020-03-02 16:25] #750 closed

[2020-03-02 16:27] jlewi opened #762 "Periodic notebook tests aren't running; can't get credentials for auto-deployed cluster"
Looking at
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

Looks like the periodic tests aren't running.

Example workflow
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-periodic-examples-notebooks-v1-4418-ad41?tab=workflow&nodeId=kubeflow-periodic-examples-notebooks-v1-4418-ad41-3089756459

Looks like get-credentials step is failing.

There was a

[2020-03-02 17:56] jlewi commented on #762
Here's the link to the autodeploy logs
https://console.cloud.google.com/logs/viewer?project=kubeflow-ci&minLogLevel=0&expandAll=false&customFacets=&limitCustomFacetWidth=true&interval=PT1H&resource=k8s_container%2Fcluster_name%2Fkf-ci-v1%2Fnamespace_name%2Fauto-deploy%2Fcontainer_name%2Freconciler

Looks like autodeploy jobs are stuck preventing new ones from being launched

[code]

[2020-03-02 17:57] jlewi commented on #762
Job is finished.

[code]

[2020-03-02 18:00] jlewi commented on #762
Looks like a bug in the logic to detect whether a job is completed or not. Looks like the condition type is "Complete"

[2020-03-06 14:25] eykanal opened #765 "[codelab-intro-mnist-feedback]: zone not specified in docs"
The text is apparently taken wholesale from a workshop run at KubeCon '18. In "2. Set up the environment", section "Set your GCP project ID and cluster name", where the zone should be indicated the text says "We'll indicate which zone to use at the workshop.". This should probably be corrected to help the user figure out the zone they're using.

[2020-03-08 12:50] alforik commented on #748
Exellent Review!!! I also succeeded by referring it!

[2020-03-09 00:17] swiftdiaries commented on #748
@alforik @marcindulak

1. Would it be easier to do the `docker login` part manually in the beginning of the notebook?
I'm thinking about adding the docker cli back in to the default notebook images.
2. For the private docker registry, would it be easier to inject creds into the podspec for the jobs or would it be better to handle the login automatically in the notebook?

I'll update the PR dependi

[2020-03-09 22:30] marcindulak commented on #748
1. I think it's fair to require the user of the notebook to copy the docker credentials by hand into the jupyter container, as long as this requirement is documented. Assuming the credentials to be present in the jupyter container may allow to test the notebook with `jupyter nbconvert --execute --clear-output mnist_vanilla_k8s.ipynb`. In my version of the notebook I've used the following
![Screens

[2020-03-11 15:07] swiftdiaries commented on #748
Thanks for the comments.

Regarding the amount of YAML, there's the two approaches:
1. Abstract all the YAML - expose functions
2. Expose all the YAML - teach Kubernetes patterns with simple examples

The kfserving example goes the former and the `examples/mnist` here does the latter. It really depends on the organisation/tea/individual and their preference.
This is a problem for Kubernetes in gen

[2020-03-12 15:55] jlewi commented on #757
Is there a version of Pets detection that uses Keras and TF 2.0?

One of the GSOC summer of code ideas was to create an example using Keras and TF 2.0.

[2020-03-13 16:16] gabrielwen opened #770 "fairing version requirements has conflict with kfp on kubernetes"
failing on both master branch and v1: `AttributeError: type object 'V1Container' has no attribute 'swagger_types '`

seems like to be some kind of version mismatch?

[2020-03-13 20:05] Ark-kun commented on #770
There was a major breaking change in the Kubernetes package: https://github.com/kubernetes-client/python/pull/995

[2020-03-13 20:06] Ark-kun commented on #770
KFP SDK requires kubernetes <= 10.0.0, so something re-installs a higher version.

[2020-03-13 20:09] gabrielwen commented on #770
[code]

[2020-03-13 20:11] Ark-kun commented on #770
Yes, this is the breaking change in Kubernetes that I've mentioned.
The environment seems to be incorrect (KFP requires kubernetes <= 10, but this environment has kubernetes == 11).
Can you tell me more about the environment?

[2020-03-13 20:19] JohanWork commented on #710
Hi @crispindev I just tested this on 1.0 and works fine for me. Dose it still not work for you?

[2020-03-13 20:29] gabrielwen commented on #770
thanks, that makes sense now.  it looks like kfp installs kubernetes client in 0.9.0, but later on fairing installs a newer version:
[code]

@abhi-g could you help triage this to fairing folks?

[2020-03-13 20:55] Aakash1822 commented on #757
Interested to work on this issue @jlewi

[2020-03-13 21:27] abhi-g commented on #770
what's the recommended version of k8s client that we should be using?

On Fri, Mar 13, 2020 at 1:30 PM Hung-Ting Wen <notifications@github.com>
wrote:

[2020-03-15 11:55] JohanWork commented on #722
i just tried it, dose the problem still exists for you @fengpinghu ?

[2020-03-15 20:37] jlewi commented on #757
@Aakash1822 great do you need anything in order to get started? If you are interested in doing this as part of GSOC; my suggestion would be to start drafting a proposal focusing on

1. What are the deliverables?
1. How you will go about delivering them?

[2020-03-16 03:55] abhi-g commented on #770
/cc @jinchihe

[2020-03-16 03:57] abhi-g commented on #770
looks like the intersection of what kfp requires and what fairing can work with leaves 10.0.1 as the only acceptable version.

[2020-03-16 14:58] Aakash1822 commented on #757
Okay sir @jlewi I will start with the same

[2020-03-16 22:07] jamessandy opened #773 "No sample for notebook to Kubeflow deployment using Tensorflow 2.0 Keras"
With the release of tensorflow 2.0 keras, they should be a notebook demoing how to get started with it, and should also highlight how to tune hyperparameters, develop the model with TF serving and also setup continuous integration and continuous development also.

[2020-03-17 01:47] jinchihe commented on #770
I think we can update KFP reqs kubenertes Client to 10.0.1?

[2020-03-17 01:57] #670 closed

[2020-03-17 17:42] alok-raj commented on #757
@jlewi interested to work on this issue. Tell me the files where changes are required

[2020-03-17 17:49] gabrielwen commented on #770
@Ark-kun do you think it's faster to make the sdk compatible with v11+ or change the requirement to be 10.0.1?

[2020-03-18 03:38] jinchihe commented on #770
There is a [defect](https://github.com/kubernetes-client/python/issues/1112) in the kubenertes Client 11.0.0, I do not suggest to 11.0.0 @gabrielwen

[2020-03-18 06:25] alok-raj commented on #773
started working on this

[2020-03-18 15:42] cfregly commented on #773
I would love to see a full KF pipeline example of this.  Hopefully, that’s in the works @alok-raj ?

[2020-03-18 15:49] jamessandy commented on #773
hello @alok-raj i'm also working on the issue, that's why i opened it in the first instance

[2020-03-19 19:32] jtfogarty commented on #773
/area example
/priority p1

[2020-03-20 13:20] terrytangyuan opened #774 "[GSoC] Create a sample for notebook to Kubeflow deployment using TensorFlow 2.0 Keras"
**Description**: Create a notebook that illustrates the core Kubeflow CUJ:
* Develop a model in a notebook using 2.0 Keras
* Launch training/hyperparameter tuning jobs on the cluster
* Deploy the model using KFServing
* Setup CI/CD for the notebook

**Reference**: [The mnist notebooks](https://github.com/kubeflow/examples/tree/master/mnist) provide a good example of how to construct an E2E example

[2020-03-20 16:51] wardVD opened #775 "k8s_util deprecated"
"import k8s_util" seems to be deprecated in file: https://github.com/kubeflow/examples/blob/master/mnist/mnist_gcp.ipynb

I don't know what this means, but my machine is complaining about it

[2020-03-21 01:21] crispindev commented on #710
Works fine for me!

On Fri, 13 Mar 2020 at 3:19 PM JohanWork <notifications@github.com> wrote:

--

*Crispin Velez*

crispinvv@google.com

LaTam Infrastructure,BigData and ML Technical

+57 318-7172069

[2020-03-21 06:26] kurianbenoy commented on #774
Hi @terrytangyuan, what should we do before GSoC application deadline? Should we send a draft of our GSoC proposal with notebooks showcasing Kubeflow deployment?

What's your specific expectation of a student required to do this task?

[2020-03-21 10:57] terrytangyuan commented on #774
No you don’t have to write notebooks yet. Submitting proposal should be sufficient. [Here](https://docs.google.com/document/d/1dnhvxFLV1odqpqdWdujUNNUhVPSykflLy2nLJCz-Yws/edit#)’s  a template you can use to draft your proposal.

[2020-03-21 19:02] abhiverma1924 commented on #650
@hackintoshrao invite link working fine, I have checked twice.

[2020-03-23 19:20] kurianbenoy commented on #765
@eykanal can you specify in exactly which notebook of MNIST you faced this issue?

[2020-03-23 22:19] tchaton opened #776 "Hydra support"
Dear people,

Any chance to support Hydra from Facebook in python for Kubeflow pipeline ?

Best,
T.C

[2020-03-24 07:10] yashjakhotiya commented on #774
Hi @terrytangyuan. To help me show competency and assurance that I, as a GSoC student, am able to complete this project, if you think of assigning any small task please let me know here. I'll be doing that along with the proposal.

[2020-03-24 14:28] eykanal commented on #765
https://codelabs.developers.google.com/codelabs/cloud-kubeflow-pipelines-gis/#2

The "report a mistake" link at the bottom left of that screen sent me here, hence the report.

[2020-03-24 20:58] JohanWork commented on #710
Perhaps you should close it then @crispindev  :)

[2020-03-25 12:23] abhiverma1924 commented on #757
@jlewi I have proposed another project idea for Gsoc, but to get familiar with the code structure I want to solve this issue before the GSoC period starts. I have gone through the python files in the **serving_script** folder and observed that it does not follow tensorflow 2.0 keras. Now in order to contribute and to write code in 2.0 version, I need some guidance or discussion to start working on

[2020-03-26 06:58] yashjakhotiya opened #778 "mnist/mnist_gcp.ipynb should have a link to the 'Deploying Kubeflow' (on GCP) doc"
This is important as it is an E2E starter tutorial. Moreover, the catch that the GCP Free Tier or the 12-month trial period with $300 credit does not offer enough resources to run the default GCP installation of Kubeflow is mentioned in these docs.

[2020-03-27 07:53] siddharthjain1611 commented on #774
What all kubeflow features do you plan for this project?

[2020-03-27 15:06] jlewi commented on #757
@abhiverma1924 Do you have a more specific question?

@alok-raj files are linked to in the PR title? Do you have a more specific question?

[2020-03-27 17:37] MoAmrYehia commented on #774
Hello @terrytangyuan , I am asking about the project number 4. What is expected for samples to be like? how many samples I need? Should I define them now or it is acceptable to be defined later? Thanks in advance!

[2020-03-27 18:16] terrytangyuan commented on #774
@MoAmrYehia Please only ask questions in one place as it's very hard for me to track all the questioins in multiple places. I saw that you've asked on Slack and someone already answered your question.

@siddharthjain1611 Could you be more specific?

[2020-03-27 18:38] siddharthjain1611 commented on #774
@terrytangyuan Sorry to bother you sir, but I got my answers on my proposal. Thanks for replying.

[2020-03-27 19:07] jlewi commented on #770
@gabrielwen @jinchihe @Ark-kun when did the test last pass? Can we pin the test to use whatever versions of fairing, kfp sdk etc.. that were used then?

[2020-03-27 22:42] alforik opened #780 "mnist pipelines example "failed with exit code 2""
**At mnist pipelines example**

my setting like follows
[code]
pv and pvc yaml is
[code]

**error logs**
pipeline stops in progress "serv" container
error logs like this
[code]

[2020-03-28 16:59] GG-yuki commented on #774
Hi,sir.Sorry to bother you in your busy schedule.
I have 2 questions to ask you as following:
1.Should I build a model that can work on something special (high accuracy) ,or I can just use MNIST as an example?
2.I can't create services in Jupyter.There's something confusing in the insrtuction of KFServing,and someone has the same problem in that Issues( maybe because I'm a Rookie hhh).Anyway,I wou

[2020-03-30 09:01] 11fenil11 commented on #774
@terrytangyuan @gaocegege I would love to work on it. As I am working since long with Machine Learning and Jupyter Notebook.

[2020-03-30 13:05] terrytangyuan commented on #774
@GG-yuki To answer your questions:
1. The model itself is pretty flexible as the main purpose is to show the use of Kubeflow.
2. Yes, you can post a GitHub issue on KFServing repo or ask on its Slack channel if the instruction is not clear.

@11fenil11 Thanks for your interest. Please submit your proposal as [the GSoC deadline](https://developers.google.com/open-source/gsoc/timeline) is very close

[2020-03-30 15:48] 11fenil11 commented on #774
I Have shared draft over GSoC website with all my best knowledge about
project😊.

Please give comments & feedbacks.

Thanks & Regards.
On Mon, 30 Mar, 2020, 6:36 PM Yuan Tang, <notifications@github.com> wrote:

[2020-03-31 00:26] #731 closed

[2020-03-31 15:34] abhiverma1924 commented on #757
I want to convert the model code from tensorflow v1.0 to tensorflow v2.0. Up to what extent we can change the code and if we changed the model code, then what are other dependent files we need to take care of.

[2020-03-31 22:11] gabrielwen opened #783 "mnist example fails on testing"
Error message: `from jupyter_client import AsyncKernelManager ImportError: cannot import name 'AsyncKernelManager'`

[2020-04-02 13:19] #709 closed

[2020-04-02 13:36] jlewi commented on #757
@abhiverma1924 I think you are welcome to delete/edit/create all files in examples/object_detection.

I think the best thing to do would be to create an example notebook similar to mnist that runs through the entire example. Ideally you would add a test similar to the mnist test that would run through the notebook and verify it works.

[2020-04-03 11:08] abhiverma1924 commented on #757
@jlewi ok I understand, will work on it and get back to you soon. but please can you provide some gcp credits for those who had applied for GSoC it would be really helpful being a student.

[2020-04-03 21:05] #671 closed

[2020-04-05 22:10] jlewi commented on #757
If your project is accepted to GSOC  we will provide you the resources you need to be successful. Unfortunately, I don't have credits to give out before then. So your options are

1. Wait and see if your project is accepted
2. Work locally so you don't need GCP
3. Pay for GCP or use the GCP 300 free credits.

[2020-04-05 23:19] amygdala commented on #639
…would still like to do this.

[2020-04-09 19:48] ZahraEconomist commented on #783
What's the solution ?

[2020-04-10 21:41] abhiverma1924 commented on #757
@jlewi, No issue I am working it, I have created the model  for the mnist using tensorflow v2.0 and mnist fashion dataset rather than simple mnist digit. Need a few more days to test the model and will update you soon.

[2020-04-12 23:23] #627 closed

[2020-04-14 06:47] tarrade commented on #707
I will give a new try to see if the issue is still present of this was fixed with Kubeflow 1.0

[2020-04-14 08:35] Oblynx commented on #748
`pip3 install kubeflow` is broken right now because of a dependency (azure). Workaround: `pip3 install kubeflow-fairing`.

This example is broken on multi-tenant kfctl_istio_dex deployments, because notebooks don't have the rights to access minio.

[2020-04-14 08:37] Oblynx opened #789 "No working example for kfctl_istio_dex (no GKE) deployments"
After going through many examples, I can't find any that works with a kfctl_istio_dex deployment. Most examples require GKE resources, and the few that don't, like [mnist vanilla k8s](https://github.com/kubeflow/examples/blob/master/mnist/mnist_vanilla_k8s.ipynb), don't [play well yet with multi-tenancy](https://github.com/kubeflow/examples/issues/748#issuecomment-613303946).

If this is the curre

[2020-04-15 09:43] dijitali commented on #687
AFAIK this is still an issue and shouldn't be closed.

[2020-04-16 18:06] #688 closed

[2020-04-17 16:41] jtfogarty commented on #774
/priority p1

[2020-04-17 16:44] jtfogarty commented on #783
/priority p1

[2020-04-17 20:51] jtfogarty commented on #789
/area example
/priority p2
/area istio

[2020-04-17 21:10] jtfogarty commented on #722
/area pipelines
/kind bug
/priority p2

[2020-04-17 21:51] jtfogarty commented on #738
/area example
/priority p1

[2020-04-17 21:58] jtfogarty commented on #748
/area example

[2020-04-17 21:58] jtfogarty commented on #748
/priority p2

[2020-04-20 13:47] sachua opened #790 "mnist_vanilla_k8s.ipynb on-prem air-gapped"
I tried the [mnist_vanilla_k8s.ipynb](https://github.com/kubeflow/examples/blob/master/mnist/mnist_vanilla_k8s.ipynb) example on my on-prem air-gapped kubernetes cluster.

I was able to use my private registry by building my own kaniko image with the appropriate config.json and CA cert, and could push images to my private registry

However, when creating the training job, I had was unable to get t

[2020-04-20 21:25] #629 closed

[2020-04-21 15:22] jlewi commented on #789
/cc @krishnadurai @yanniszark

[2020-04-21 15:29] jlewi opened #792 "Periodic example tests are failing"
Tests are failing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

Here are the logs
[mnist-141008-a08-j8hpc.log.txt](https://github.com/kubeflow/examples/files/4510965/mnist-141008-a08-j8hpc.log.txt)

It looks like the problem is installing the Azure libraries.

[code]

It looks like one solution would be to pin the libraries to an earlier version

[2020-04-21 15:40] jlewi commented on #792
I think we might just need to bump the fairing commit used in the examples.
This is the current commit
https://github.com/kubeflow/fairing/blob/7e4c23c47a6b0544a722d04e1f9910c2f283a4f6/requirements.txt#L21

Which is using

[code]

It looks like on master fairing is using specific subpackages just like the error message suggests

[2020-04-23 04:06] #680 closed

[2020-04-23 04:06] #672 closed

[2020-04-23 04:06] #609 closed

[2020-04-24 19:52] matejaputic opened #793 "MNIST demo produces No such file or directory: '/var/run/secrets/kubernetes.io/serviceaccount/namespace'"
OK so I’m trying to get the MNIST demo up and running under kubeflow.

First followed directions to install minikube here, since I’m running Kubernetes locally:

https://kubernetes.io/docs/tasks/tools/install-minikube/

Then started minikube:

`minikube start --driver=virtualbox`,

Then followed directions to install kubeflow here:

https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

That

[2020-04-30 13:17] sachua commented on #793
Hi, from my understanding, the example uses kaniko to build an image with the model, then pushes it to a docker registry for TFJob to pull from and train.

If you see step 2, DOCKER_REGISTRY = "ciscoai", you should replace ciscoai with your registry url. (docker hub, gcr.io, etc)
If you do not have an account, I would suggest using microk8s, as microk8s comes with a built-in insecure registry that

[2020-04-30 13:45] matejaputic commented on #793
@sachua Thank you!

[2020-04-30 13:45] #793 closed

[2020-05-01 02:38] #790 closed

[2020-05-02 23:17] #712 closed

[2020-05-06 00:38] iancoffey commented on #792
A note that I volunteered to help with this on the community meeting :)

[2020-05-06 14:05] iancoffey commented on #792
Bumped this mnist fairing version in -> https://github.com/kubeflow/examples/pull/795

[2020-05-11 21:16] avloss commented on #783
I had same issue, in my case updating `jupyter_client` resolved immediate issue:
`pip install -U jupyter_client`

[2020-05-13 16:44] amygdala commented on #721
we should probably still do this...

[2020-05-18 04:48] #665 closed

[2020-05-18 04:48] #681 closed

[2020-05-18 14:20] jlewi commented on #774
It might be useful to use and highlight the lineage tracking features with MLMD.

See kubeflow/website#1959

[2020-05-18 16:17] iancoffey opened #797 "Fix an enable test_xgboost_synthetic"
The `test_xgboost_synthetic ` test was disabled in https://github.com/kubeflow/examples/pull/795 to unblock merges, as they are blocked. The test should be fixed and enabled again.

[2020-05-20 11:43] llimboy opened #798 "[codelab-minikf-kale-feedback]: ReadWriteMany not supported for standard Persisted Volumes"
Apologies if have overlooked an existing issue ticket elsewhere - then please close.
Just wanted to bring attention to two issues with this codelab.
It's outdated in terms of the screenshots, which doesn't match current Kubeflow version and secondly a more servere issue related to ReadWriteMany functionality on persisted volumes that is expected for the kubeflow experiments pipeline but not suppor

[2020-05-20 16:04] #727 closed

[2020-05-20 16:04] #734 closed

[2020-05-20 20:56] #792 closed

[2020-05-21 12:53] iancoffey commented on #797
@jlewi I can fix this, can it be assigned to me?

[2020-05-21 14:01] jlewi commented on #797
/assign @iancoffey

[2020-05-25 07:55] lokeshjain279 opened #799 "Unable to access minio UI deployed with kubeflow."
Hi All, I am having issue accessing minio UI deployed along with kubeflow using istio. I did port-forwarding but that didn't work. Tried adding external IP as well but nothing seems to work. I am wondering if anyone has faced this or know any workaround? I need to access minio UI to browse artifacts.

[code]

[2020-05-26 00:29] #641 closed

[2020-05-26 06:37] Mistobaan commented on #748
This bit me today on a  KF cmdline deployment on GCP:

[2020-06-01 08:52] rs9899 opened #800 "[codelab-pipelines-gis-feedback]:"
Reports `Unsupported kubeflow version`  on page 3 when deploying kubeflow from https://deploy.kubeflow.cloud

All the steps previous to this was followed as in https://codelabs.developers.google.com/codelabs/cloud-kubeflow-pipelines-gis/?_ga=2.190031275.-1249852803.1588702117#2

Thanks

[2020-06-03 00:58] jbottum commented on #798
@vkoukis Hey Vangelis - Does the MiniKF team have someone to look at this?

[2020-06-03 01:03] jbottum commented on #798
@llimboy Hi Llimboy, could you please provide a use case for RWX?  MiniKF is single node system, are you expecting to have multiple users on a single MiniKF

[2020-06-07 19:31] #762 closed

[2020-06-09 13:29] jlewi commented on #800
@rs9899 Could you elaborate please? What reports "unsupported version"? Is this an error returned by click to deploy? I'm unclear whether this is referring to a version of GKE or Kubeflow?

[2020-06-09 17:16] rs9899 commented on #800
Sorry, but even I was unclear about it. It just pops as a dialogue box and that's it. Nothing is deployed. I had a report option there which resulted in an issue to this repo.

Apart from this I don't know much about it.

[2020-06-10 10:53] jlewi commented on #774
@terrytangyuan How's this going?

[2020-06-10 17:38] jlewi opened #805 "Cleanup OWNERs and orphaned examples"
I think we need to identify and cleanup orphaned examples.

Here's my suggestion for what a process might look like

1. Each example (i.e. subdirectory) should have an OWNERs file listing the OWNERs for that example
1. Any example for which we are unable to find active OWNERs committed to maintaining it we should delete
1. We should establish some expectation around maintenance; e.g. keep it updat

[2020-06-14 15:01] 8bitmp3 commented on #800
Hi @jlewi If support for the UI (`deploy.kubeflow.cloud`) is deprecated, should we update the docs [here](https://www.kubeflow.org/docs/gke/deploy/deploy-ui/):

[code]

I understand that on Google Cloud you go to **AI Platform** > **Pipelines**, which takes you **Kubeflow Pipelines**. Then you configure it by creating a GKE cluster and deploy the pipelines. I can assist with updating the docs.

[2020-06-15 13:22] jlewi commented on #800
The marketplace deployment only deploys KFP nothing else in KF. So if the example is using other applications in KF that won't work.

We should probably update the docs to use the CLI.

/cc @amygdala

[2020-06-15 17:52] amygdala commented on #800
Yes, the codelab does need to be updated to use the CLI now.

I think the example should mostly work on standalone GKE KFP aside from:
 -  the istio routing for the 'web app' that is deployed wouldn't work.  Perhaps port-forwarding to that service would work instead.
 - the notebook section would need to be overhauled (to use AI Platform Notebooks instead)

So, it might be worth creating two new v

[2020-06-15 17:53] jlewi commented on #729
kubeflow/testing#681 added a common workflow for running go unittests. We could potentially use that as an example.

Downgrading to P2 and removing from 1.1 because no one is working on this.

[2020-06-15 20:26] 8bitmp3 commented on #800
Thanks for the clarification on standalone KFP in GCP Marketplace @jlewi.

When testing AI Pipelines using the UI, I am more keen to use the Cloud Shell on GCP. To use the full KF version you run `kfctl apply -V -f {... kubeflow/... /v1.0-branch/..gcp...yaml}`. Happy to see there's a separate "lighter" KF Pipelines v0.5.1 [here](https://www.kubeflow.org/docs/pipelines/installation/standalone-deplo

[2020-06-22 07:14] llimboy commented on #798
Apologies, my bad, I see now that this not relevant for miniKF, but pertains to Kubeflow running in GKE on Google Cloud, which i was doing.
Will close this ticket.

[2020-06-22 07:14] #798 closed

[2020-06-24 18:50] iancoffey commented on #797
I may not be able to reproduce this as I dont have GCP account to test against, and it appears I can repro locally.

[2020-06-25 02:28] #773 closed

[2020-06-26 20:09] #650 closed

[2020-06-29 21:18] #778 closed

[2020-06-30 20:08] #710 closed

[2020-07-02 15:07] jlewi opened #806 "mnist example broken in 1.1; ImportError: cannot import name 'V1alpha2TensorRTSpec'"
/kind bug

**What steps did you take and what happened:**

Running the [mnist example](https://github.com/kubeflow/examples/blob/master/mnist/mnist_gcp.ipynb) on a 1.1 cluster on GCP

Results in an import error

[code]

I believe the notebook is installing KFServing by installing fairing
https://github.com/kubeflow/examples/blob/10b34b8dc82daa7b0f9b61985d3171b58497e3b4/mnist/requirements.txt#L2

I

[2020-07-03 04:07] #770 closed

[2020-07-06 13:31] jlewi commented on #806
Running

[code]

Didn't appear to fix the problem.

Running

[code]

Did appear to fix it.

[2020-07-06 13:33] jlewi commented on #806
I take that back. I was trying to `import kfservign` which is not the problem; the problem is

[code]

[2020-07-06 13:43] jlewi commented on #806
This class is defined here:
https://github.com/kubeflow/kfserving/blob/49eae18d669222cc6f923f7185c8000c17464f4c/python/kfserving/kfserving/models/v1alpha2_tensor_rt_spec.py#L36

It should be imported into the package here
https://github.com/kubeflow/kfserving/blob/49eae18d669222cc6f923f7185c8000c17464f4c/python/kfserving/kfserving/__init__.py#L51

My kfserving package appears to be outdated:

[cod

[2020-07-06 13:45] jlewi commented on #806
[code]
Is coming from fairing
~/.local/lib/python3.6/site-packages/kubeflow/fairing/deployers/kfserving/kfserving.py

[2020-07-06 13:59] jlewi commented on #806
It looks like TensorRT was removed from KFServing
https://github.com/kubeflow/kfserving/blob/master/python/kfserving/kfserving/__init__.py

@jinchihe it looks like the problem is that `V1alpha2TensorRTSpec` has been removed from KFServing but fairing is still trying to import it.

Is fairing using an older version of the KFServing library?

[2020-07-06 14:02] jlewi commented on #806
https://github.com/kubeflow/fairing/blob/7c46973f49934f683dadefb43f85dcdaf2259586/requirements.txt#L3

Downgrading to

[code]

Fixed the problem. So it looks like the problem is that fairing isn't compatible with the 0.3 version of the KFServing library.

[2020-07-06 14:02] jlewi commented on #806
/assign @jinchihe

[2020-07-06 14:42] jlewi commented on #775
@wardVD What is the actual error/warning you are seeing?

[2020-07-06 17:55] jlewi commented on #806
kubeflow/examples#807 should fix the example by pinning to the older version of kfserving.
We might also need to update the fairing library to forward fix to be compatible with 0.3.0

[2020-07-06 18:18] jlewi opened #809 "Upgrade/Reenable notebook presubmits"
Notebook presubmits were disabled in #808 because they had become stale

* They were using Argo
* Notebook tests had been generalized to use Tekton and most of the code had moved to kubeflow/testing
* We need to upgrade the presubmits to use the blueprint clusters since we are no longer auto-deploying older instances of Kubeflow.

[2020-07-07 06:06] jinchihe commented on #806
Sorry I was off for personal urgent things. I'm going to take a look and fix that. Thanks @jlewi

[2020-07-07 06:20] jinchihe commented on #806
Root cause: That caused by `Triton Renaming` (https://github.com/kubeflow/kfserving/pull/750) in KFServing, KFSeving SDK updated but the Fairing is not updated accordingly. In fact we should consider compatibility but KFServing do not get 1.0 release :-) Anyway, I will fix that from Fairing. Thanks.

[2020-07-07 09:01] #806 closed

[2020-07-07 09:23] jinchihe commented on #806
I already fixed the problem in Fairing, and I will release new version V1.0.1 to fix this one once the another PR merged. Very soon (before or tomorrow). Thanks.

[2020-07-07 12:30] jinchihe commented on #806
`kubeflow-fairing` v1.0.1 has been released, now we can try the case with new SDK. Thanks.
https://pypi.org/project/kubeflow-fairing/1.0.1/

[2020-07-08 03:13] jbottum commented on #809
@yanniszark Hey Yannis, any comments on this ?

[2020-07-12 01:18] #639 closed

[2020-07-17 14:22] #757 closed

[2020-07-20 07:21] #707 closed

[2020-07-22 10:52] #687 closed

[2020-07-25 02:54] #722 closed

[2020-07-25 02:54] #738 closed

[2020-07-27 17:31] #789 closed

[2020-07-30 12:26] keeyzar commented on #722
Problem still exists, but on a bare metal cluster
other example pipelines can be executed just fine (the provided examples in the pipeline web ui)

problem is fixed when kernel is restarted after running the first cell of the simple-pipelines example
(!python -m pip....)

this was not tried earlier, as the documentation above states, the kernel should be restarted, when upgrading.
I did not have t

[2020-08-02 04:03] neerajkaushik opened #814 "minist_ibm"
Bucket name is defaulting to kubeflow-us-east and complains already exist

[2020-08-10 21:57] archanainapudi opened #815 "[codelab-pipelines-gis-feedback]:"
Kubeflow Click-to-deploy is no longer available. The page asks you to "use kustomize and kpt", but that link is broken.
https://deploy.kubeflow.cloud/

[2020-08-11 20:38] #780 closed

[2020-08-11 20:38] #776 closed

[2020-08-11 23:17] amygdala commented on #721
let's keep open... I'm actually in the process of overhauling this example (and may revise it for just hosted KFP)

[2020-08-16 22:49] #783 closed

[2020-08-19 06:56] #765 closed

[2020-08-19 06:56] #754 closed

[2020-08-19 06:56] #761 closed

[2020-08-24 02:46] aslom opened #817 "[codelab-minikf-kale-feedback]:"
gcr.io/arrikto/jupyter-kale:f20978e does not exist - creation of the notebook fails

Ref: https://codelabs.developers.google.com/codelabs/cloud-kubeflow-minikf-kale-katib/#3

[2020-08-27 01:24] DimaKav opened #819 "Connection via Cloud Identity-Aware Proxy Failed"
Getting this error after running the "minikf" command after SSHing into the instance from this tutorial: https://codelabs.developers.google.com/codelabs/cloud-kubeflow-minikf-kale-katib/index.html?index=..%2F..index#2

[code]

Connecting without using the Cloud Identity-Aware Proxy option does not work.

[2020-08-31 07:42] #748 closed

[2020-09-05 23:34] #799 closed

[2020-09-10 03:34] terrytangyuan commented on #774
This can be closed now.

/close

[2020-09-10 03:34] #774 closed

[2020-09-16 09:34] raztud opened #822 "RuntimeError: Internal compiler error: Found unresolved PipelineParam"
when i try to run
`python demos/simple_pipeline/gpu-example-pipeline.py`

[code]

The code is running on Python 3.8.2 and kfp version is 1.0.1

[2020-09-17 12:32] jlewi commented on #805
/lifecycle frozen

[2020-09-20 20:16] #729 closed

[2020-09-21 13:23] julioyildo commented on #817
I have the same issue !

[2020-09-23 18:49] amygdala commented on #800
/reopen

https://github.com/kubeflow/examples/pull/823

[2020-09-27 18:38] aniruddhachoudhury opened #826 "Create Computer Vision Tenorflow & Opencv Brain MRI Images for Brain Tumor Detection kuebflow pipeline with KF serving"
In this example will build an end to end pipeline for the given link [kaggle](https://www.kaggle.com/navoneel/brain-mri-images-for-brain-tumor-detection). It includes Batch Prediction and Single Prediction. And it also includes all the components Computer Vision with Tensorflow 2.3.0 and OpenCV. it also includes Visualisation in Kubeflow Pipeline like tensorboard ,ROC, confusion matrix.

[2020-09-28 12:33] ajinkya933 opened #827 "Create kubeflow pipeline without Kubeflow UI"
I have Kubeflow installed on my local Ubuntu machine To install it I have used microk8 (https://ubuntu.com/tutorials/deploy-kubeflow-ubuntu-windows-mac#1-overview) .

I have following jupyter notebook

https://github.com/ajinkya933/streamlit-docker/blob/master/Simple%20Notebook%20Pipeline.ipynb

I am running this notebook from jupyter notebook  via terminal. It gives me error
[code]

I am not usin

[2020-09-28 17:42] jbottum commented on #827
@james-jwu Hey James, is there someone that might answer this question

[2020-09-29 04:20] james-jwu commented on #827
/assign @Bobgy Yuan might know the answer

[2020-09-29 09:46] Bobgy commented on #827
Hi @ajinkya933, you can follow guide here: https://www.kubeflow.org/docs/gke/pipelines/authentication-sdk/#how-sdk-connects-to-kubeflow-pipelines-api.

KFP sdk needs an endpoint it can use to access the api server, you can port-forward that endpoint to your locallost.

[2020-09-29 10:43] ajinkya933 commented on #827
@Bobgy  In my ipynb Cell-10 I have
[code]
Which throws error when I run the pipeline outside Kubeflow dashbord.
I tried with multiple combinations:
[code]
these donot work. The link https://www.kubeflow.org/docs/gke/pipelines/authentication-sdk/#how-sdk-connects-to-kubeflow-pipelines-api mentions steps to do it on Google cloud. How can I do the same on local ubuntu based installation of Kubeflow.

[2020-09-29 11:48] Bobgy commented on #827
You need to run
[code]
first.

You can verify whether it works by opening localhost:3000 in your browser, it should show KFP UI

[2020-09-29 17:48] ajinkya933 commented on #827
I was able to solve it, thanks to @Bobgy  for the pointers. Here is the solution https://ajinkya93.atlassian.net/l/c/008a1Moc
However I use a single node to deploy this pipeline. @Bobgy If you have any pointers on how to use Distributed computing and execute Kubeflow Pipeline that would be very helpful.

[2020-09-30 03:22] Bobgy commented on #827
@ajinkya933 would you mind opening a new issue to make each issue focused?

[2020-09-30 03:22] #827 closed

[2020-10-01 06:57] #797 closed

[2020-10-04 21:28] jbottum commented on #814
Hi @neerajkaushik is this issue still open?  which platform are you running on ? IBM, AWS, GCP, on-prem ?  @animeshsingh any questions / direction ?

[2020-10-08 13:00] RemyLarroye-o opened #828 "ImportError: You need to install 'msrestazure' to use this feature for GCP in example MNIST"
I ran MSNIST example on GCP using mnist_gcp.ipynb and I get an error :
`ImportError: You need to install 'msrestazure' to use this feature`

I use the image of Tensorflow 1 as expected in the documentation.
If I add the package msrestazure to the requirements.txt file, it work perfectly.

Is  it normal that we need msrestazure when running MNIST example on GCP?

[2020-10-11 18:48] #775 closed

[2020-10-17 19:23] #809 closed

[2020-10-28 09:59] parakhjain commented on #687
do we have any update on this as it's still not working?
![image](https://user-images.githubusercontent.com/15815935/97421235-4a449580-1932-11eb-8384-591d30ddef52.png)

[2020-11-05 14:13] ShreyPandit commented on #826
@aniruddhachoudhury I would like to take up this problem. But can you guide me where can I refer/learn about kubeflow end to end deployment method, as I suppose that would be needed here.
Thanks

[2020-11-06 23:41] Rustastra commented on #793
I am facing the same issue running the notebook in Google-AI hub. Has anyone resolved it?

[2020-11-07 01:12] Rustastra commented on #793
I think my issue was that I was following a [wrong](https://codelabs.developers.google.com/codelabs/cloud-kubeflow-pipelines-gis/index.html?index=..%2F..index#1) tutorial for the set-up :(
now I'm following https://www.kubeflow.org/docs/gke/deploy/ and I hope it will get resolved

[2020-11-17 21:59] rafaelnovello opened #834 "[codelab-minikf-kale-feedback]: Error on Compile and Run"
Hi guys!

On step 4 of From Notebook to Kubeflow Pipelines with MiniKF and Kale colab notebooks I got:

[code]

Follow the print

<img width="1347" alt="Captura de Tela 2020-11-17 às 18 56 30" src="https://user-images.githubusercontent.com/423789/99455744-09271c00-2907-11eb-9288-438a23ac9200.png">

[2020-11-19 04:05] #721 closed

[2020-11-25 13:52] Franco8888 opened #836 "Error with creating a pipeline"
**With the code:**
-----------------------------------------------------------------------
@dsl.python_component(
    name='add_op',
    description='adds two numbers',
    base_ima
...

**I get the following error:**
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-5-8b449846bb4a>

[2020-11-30 07:36] #836 closed

[2020-12-04 19:13] rafaelnovello commented on #834
Hi @jbottum - It wan't resolved. I'm running on MiniKF and the storage is Rok. Could I help more?

[2020-12-05 05:15] #819 closed

[2020-12-18 02:25] adhilcodes commented on #826
I have made a solution for this . Can I create a PR

[2020-12-26 07:18] #805 closed

[2020-12-31 11:42] #800 closed

[2021-01-04 18:01] brightlee6 opened #838 "Failed to install kfp in Notebook Server"
I followed this:
https://github.com/kubeflow/examples/blob/master/pipelines/simple-notebook-pipeline/Simple%20Notebook%20Pipeline.ipynb

But failed to install kfp with both images tensorflow-1.15.2-notebook-cpu:1.0.0 and tensorfolw-2.1.0-notebook-cpu:1.0.0. Seems I can solve this issue by unstall enum34, but need sudo permission for jovyan. Any idea how to solve this? Thanks a lot.

Attached error

[2021-01-10 14:02] #822 closed

[2021-01-10 14:02] #817 closed

[2021-01-13 02:30] #828 closed

[2021-01-14 08:13] harshit-deepsource opened #842 "mlmd client NotFoundError: No type found for query: kubeflow.org/alpha/execution"
When running https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/build-train-deploy.ipynb

I'm getting this error.

mlmd client NotFoundError: No type found for query: kubeflow.org/alpha/execution

This error is caused by

[code]

This error is
mlmd client NotFoundError: No type found for query: kubeflow.org/alpha/execution
mlmd client NotFoundError: No type found for query: kubeflo

[2021-01-14 13:21] PatrickGhosn commented on #838
You need to update pip and install with pip as user
!pip3 install --upgrade pip --user
!pip3 install kfp

[2021-01-17 21:26] #815 closed

[2021-01-17 21:26] #814 closed

[2021-01-26 10:26] Bobgy opened #845 "Ownership for kubeflow/example?"
https://github.com/kubeflow/community/blob/master/wgs.yaml

cc @kubeflow/project-steering-group

_Originally posted by @jlewi in https://github.com/kubeflow/examples/issues/843#issuecomment-766861816_

[2021-01-26 10:26] Bobgy commented on #845
/cc @jinchihe
Creating a separate issue to discuss this.

[2021-01-26 18:23] DavidSpek commented on #845
Re-posting my thoughts from my [comment](https://github.com/kubeflow/examples/pull/843#issuecomment-766867353) on the PR:

It seems like some of the examples do contain OWNERS files. I think another route of action is that each example should belong to a WG, this way an example demonstrating serving would be owned by the serving WG. With this structure it would be possible to pull in the example f

[2021-02-06 22:53] sam360digitmg commented on #834
@jbottum I am facin the same issue as well. Running the codelab using MiniKF on AWS.

[2021-02-11 19:10] flacombe commented on #627
Hi

I second the question of @ispmarin as I look forward to have the same kind of kubeflow usage.
Is it wrong to do so?

[2021-04-13 08:14] tuvovan opened #856 "This step is in Pending state with this message: ImagePullBackOff: Back-off pulling image "preprocess:1""
I'm following this [tutorial](https://www.kubeflow.org/docs/azure/azureendtoend/#run-and-deploy) but fail when I tried to create a run. It keeps saying this error.. Anyone has any idea on this?

Thanks!

[2021-04-14 06:38] #856 closed

[2021-05-18 08:19] conchitagoogle opened #866 "[codelab-minikf-kale-feedback]:"
the system when is exposing services never ends. is always waiting for ingress gateway

[2021-06-03 17:18] Udayaprasad opened #871 "Please provide E2E Kubeflow example for minik8s on-prem deployment"
Hi Team,

Somehow, I am able to set up the kubeflow on my Ubuntu machine using the `microk8s` framework and run the simple pipeline, but unable to run the actual model training examples.

I would like to suggest the kubeflow to my team by showing one end-to-end example with complete pipeline code which uses `kfp SDK`.

I am new to kubeflow and I am unable to follow most of the examples as they req

[2021-06-16 13:59] oakkas commented on #770
I didn't understand, what is the solution on this error.

[2021-06-16 22:52] #826 closed

[2021-06-16 22:52] #842 closed

[2021-06-16 22:52] #838 closed

[2021-06-16 22:52] #845 closed

[2021-06-16 22:52] #834 closed

[2021-07-02 07:07] pengyuan commented on #799
I find this works:
kubectl port-forward svc/minio-service -n kubeflow 8081:9000 --address=0.0.0.0
then visit remotely: http://<ip>:8081

[2021-08-26 12:57] LSC527 opened #884 "link 404 not found"
the `instructions` link in https://github.com/kubeflow/examples/tree/master/mnist#mnist-on-kubeflow-on-vanilla-k8s

[2021-09-24 21:32] JoshZastrow opened #887 "Quick Question! Does project_id have to be hard-coded here?"
https://github.com/kubeflow/examples/blob/e0d75a920d8ba7098fd076300345d5575b2923c2/named_entity_recognition/components/preprocess/component.yaml#L21

Love the example here! It _**almost**_ perfectly fits our use case, and super clean!

We deploy our images and pipelines to a `_staging` GCP project and then a `_prod` GCP project if things look good. An easy way to do this is to have Project ID and

[2021-11-10 20:40] js-ts opened #897 "Removing outdated examples"

[2021-11-10 20:40] #897 closed

[2021-11-10 23:11] js-ts opened #898 "Deleting outdated examples , Adding Video links to /videos , Updating /test"
addressed to
@bebe424 ,@richardsliu ,@IronPan ,@mike0355 ,@SvenDegroote ,@Nick-Harvey ,@dwhitena ,@hamelsmu ,@ElsonRodriguez ,@SaschaHeyer ,@DanielCastellanos ,@iancoffey ,@jlewi ,@dsdinter ,@kunmingg ,@yashjakhotiya ,@texasmichelle ,@puneith ,@berndverst ,@aronchick ,@NikeNano ,@JohanWork ,@DanSanche ,@JinChiHe ,@ZaneDurante

In the Google Sheet https://docs.google.com/spreadsheets/d/1cNL-YtTpvBI

[2021-12-04 08:20] js-ts commented on #884
/close

[2021-12-04 08:20] #884 closed

[2022-01-26 22:19] jernster opened #911 "Issues running e2e azure example on AKS"
Hello,

We're trying to run the end to end azure pipeline on our AKS 1.21.7 cluster.  In the ContainerCreating stage we get these errors: `MountVolume.SetUp failed for volume "docker-sock" : hostPath type check failed: /var/run/docker.sock is not a socket file` - not sure why or how this is happening.  AKS uses containerd now.  We tried editing the `workflow-controller-configmap` in the `kubeflow`